<template id="error-message">
    <div>
         <span class="color-red font-xsm">
            {{errorMessage}}
        </span>
    </div>
</template>

<script>
export default {
  components: {},
  props: {
    validationObj: {
      required: true,
      type: Object
    },
    validationLabel: {
      type: String
    },
    regexErrorMsg: {
      type: String
    }
  },
  data: function() {
    return {};
  },
  computed: {
    errorMessage: function() {
      let message = "";
      let errorArr = [
        "required",
        "regex",
        "minLength",
        "between",
        "maxLength",
        "minValue",
        "email",
        "maxValue",
        "checked",
        "dob",
        "idExpiryDate",
        "ccValidation"
      ];

      try {
        let errMessages = {
          required: `${this.validationLabel} is required`,
          checked: `${this.validationLabel} is required`,
          regex: `${this.validationLabel} ${this.regexErrorMsg ? this.regexErrorMsg: ''}`,
          maxLength: `${this.validationLabel} must have at most ${this.validationObj.$params.maxLength ? this.validationObj.$params.maxLength.max: ''} characters`,
          minLength: `${this.validationLabel} must have at least ${this.validationObj.$params.minLength ? this.validationObj.$params.minLength.min : ''} characters`,
          minValue: `${this.validationLabel} must be at least ${this.validationObj.$params.minValue ? this.validationObj.$params.minValue.min : ''}`,
          maxValue: `${this.validationLabel} must be at most ${this.validationObj.$params.maxValue ? this.validationObj.$params.maxValue.max : ''}`,
          email: `${this.validationLabel} is invalid`,
          dob: `Age must be within 21 to 100 years old`,
          idExpiryDate: `Expiry date is invalid`,
          ccValidation: `Credit Card Number is invalid`,
        };

        errorArr.some(errName => {
          
          if (
            this.validationObj.hasOwnProperty(errName) &&
            !this.validationObj[errName] &&
            this.validationObj.$error
          ) {
              message = errMessages[errName];
              return true;
            }
            return false;
        });
      }
      catch(err) {
        console.warn("Error at errorMessage computation.");
      }
      return message;
    }
  },
  created: function() {}
};
</script>
