@import "../../../bower_components/imoney-assets/dev/scss/_inc/_var";

// overwrite
.modal-dialog {
	margin: 0;
}

.modal-content {
	border: none;
	border-radius: 0;
}

// start styling
.fade {
	opacity: 0;
	@include transition(.3s opacity linear);

	&.in {
		opacity: 1;
	}
}

.modal-backdrop {
	background-color:#000000;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;

	&.fade {
		opacity: 0;
		filter:alpha(opacity=0);
	}

	&.in {
		opacity: 0.5;
		filter:alpha(opacity=50);
	}

}



.overlay-form {
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 1000;
	overflow: hidden;
	-webkit-overflow-scrolling:touch;
	outline:0;
	display: none;

	&.fade .modal-dialog {
		@include transition(.3s ease);
		@include transition-property(transform);

		@include transform(translate3d(100%,0,0));
	}

	&.in .modal-dialog {
		@include transform(translate3d(0,0,0));

	}

	&__dialog {
		width: 570px;
		position: absolute;
		right:0;
		height: 100%;

		@media (max-width: 595px) {
			left:25px;
			width: auto;
		}
	}

	&__content {
		position: relative;
		background-color:#ffffff;
		height: 100%;
		outline:0;

		.modal-open & {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	&__backdrop {

	}

	.apply-header {
		background-color:#3981CA;
		color:#ffffff;
		height: 65px;
		padding: 15px;
		text-align: center;
		@include font-size(2.2);
		font-family: $font-light;
		position: relative;

		@media (max-width: 480px) {
			@include font-size(1.7);
			height:50px;
		}

		.close-apply {
			background: url(../jayhan/img/product-page-sprites.png) no-repeat 0 -196px;
			background-size: 236px 219px;
			color:#ffffff;
			display: inline-block;
			position: absolute;
			left:20px;
			top:calc(50% - 10px);
			width: 20px;
			height: 20px;
			@include transition(.2s ease);
			@include transition-property(transform);

			&:hover {
				@include transform(rotate(-90deg));
				@include transition-property(transform);
			}
		}
	}

	.apply-card {
		background-color: #ECEFF2;
		padding:20px;
		position: relative;

		@media (max-width: 480px) {
			padding: 20px 20px 20px 100px;
		}

		&__content {
			text-align: center;

			@media (max-width: 480px) {
				text-align: left;
			}

			img {
				width: 85px;
				margin-bottom: 15px;
				//border-radius: 4px;

				@media (max-width: 480px) {
					width: 70px;
					left:20px;
					position: absolute;
					top: calc(50% - 21px);
					margin-top: 5px;
				}
			}

			.product-name {
				display: inline-block;
				@include font-size(2.0);
				color:#434C55;
				font-family: $font;

				@media (max-width: 480px) {
					@include font-size(1.6);
					margin-bottom: 0;
				}
			}
		}
	}

	.apply-form {
		padding: 20px 30px 20px 50px;

		@media (max-width: 570px) {
			padding: 15px 20px 20px 40px;
		}

		@media (max-width: 480px) {
			padding-left: 30px;
			padding-bottom: 40px;

			.progress-big {
				padding-top:10px;
			}
		}

		.progress-small {
			display: block;
			position: relative;
			height: 60px;

			&:before {
				content:"";
				position: absolute;
				left:0;
				right:0;
				height: 2px;
				background-color:#ECEFF2;
				top:calc(50% - 1px);
			}

			@media (min-width: 481px) {
				display: none;
			}

			li {
				display: inline-block;
				position: absolute;
				width: 50px;
				height: 50px;
				text-align: center;
				padding-top: 53px;
				font-family: $font-semibold;

				&:nth-child(2){
					right:calc(50% - 25px);
				}

				&:last-child {
					right:0;
				}
			}

		}

		li {
			padding: 25px 30px 25px 80px;
			position: relative;
			border-bottom: 1px solid #e1e1e1;
			color:#888;

			@media (max-height: 768px) {
				padding-top:15px;
				padding-bottom: 15px;
			}

			@media (max-width: 570px) {
				padding-left:60px;
				padding-right: 20px;
			}

			@media (max-width: 480px) {
				padding:0;
				border:0;
			}

			&.step-disabled {
				color:#D3D5D7;

				.call-ops {
					background-position: 4px -25px;
					background-color:#ffffff;
				}
			}

			.call-ops {
				background: url(../jayhan/img/product-page-sprites.png) no-repeat -39px -25px;
				//background-size: 236px 219px;
				background-size: 120px auto;
				background-position: -39px -25px;
				background-color:#e1e1e1;

			}

			&:last-child {
				border-bottom: 0;
			}

			&.step1 {
				padding-top:0;
				padding-bottom: 15px;

				p{
					font-family: $font-semibold;
					margin-bottom: 20px;

					@media (max-width: 480px) {
						font-family: $font;
						content: "Please provide your details to begin the application process.";
					}
				}
			}

			&.step2 {

				p {
					margin-bottom: 20px;

					@media (max-width: 480px) {
						display: none;
					}
				}
			}

			&.step3 {
				@media (max-width: 480px) {
					display: none;
				}
			}
		}



		.inputbox {
			//height: 40px;
			// border:1px solid #c6cfd2;
			// border-radius: 3px;
			// width: 100%;
			padding:5px 25px 5px 40px;

			@include font-size(1.6);
			color:#555555;

			&:focus {
				outline:0;
				box-shadow: 0 0 7px rgba(88,193,228,0.5);
				border-color:#68A7C6;
			}

			&.parsley-error {
				border-color:#da4f49;
				background-color:#FFF3F2;

				&:focus {
					box-shadow: 0 0 7px #FFE0DD;
				}
			}
		}
	}
}

.step-indicator {
	display: inline-block;
	position: absolute;
	background:#E0BB56;
	top:20px;
	color:#ffffff;
	padding:15px;
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 60px;
	@include font-size(1.3);
	line-height: 10px;
	left:-10px;
	border:2px solid transparent;

	.step1 & {
		top:5px;
	}

	@media (max-width: 570px) {
		left:-20px;
	}

	@media (max-width: 480px) {
		display: none;
		top:0;

		.progress-small & {
			display: block;
			padding:10px;
			left:0;
		}
	}

	span {
		@include font-size(2.4);
		line-height: 26px;
		font-family: $font-semibold;

		.progress-small & {
			@include font-size(2.0);
		}
	}

	.step-disabled & {
		border-color: #E5E7E9;
		background-color:#ffffff;
		color:#E5E7E9;
	}

	.progress-small & {
		width: 50px;
		height: 50px;
		@include font-size(1.1);
	}

	.imoney-id & {
		padding-left: 3px;
		@include font-size(1.1);
		& span { padding-left: 15px; }
	}
}

.its-disabled {
	color:#D2D4D7;
}

.font-xs {
	@include font-size(1.2);
	font-weight: normal;

	@media (max-width: 480px) {
		@include font-size(1.1);
	}

	label	{
		font-weight: normal;
		font-family: $font;
	}
}

.imoney-callops {
	padding-left:100px;
	position: relative;

	&:before {
		position: absolute;
		left:0;
		top:0;
		content: "";
		width: 76px;
		height: 100px;
		background: url(../jayhan/img/product-page-sprites.png) no-repeat -85px -46px;
		background-size: 236px 219px;

		.step-disabled & {
			background-position: 0 -46px;
		}
	}

}