// img bg source
$imgurl: "/jayhan/img/";
$v4imgurl: "/v4/img/";

/***** modal : Cross-sell *****/
#CrossSell {

	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(#{$v4imgurl}sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			@include transition(all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955));
		}
	}

	.modal-dialog {
		width: 800px;
		margin: 10px auto;
	}
	.modal-content {
		background: #fff;
		background-position: 40px 40px;
		background-size: 44% auto;
		padding: 50px 50px 20px;
		.wrapper {
			padding: 25px;

			@media (max-width: 480px) {
				padding:5px;
			}
		}
		.close {
			line-height: 0.6;
		}
	}
	.modal-header {
		border-bottom: none;
	}
	.modal-footer {
		border-top: none;
	}
	.modal-backdrop {
		background-color: #000;
		&.in {
			opacity: 0.8;
		}
	}

	h2 {
		margin-top: 20px;
		font-family: $font-semibold;
		@include font-size(2.4);
		letter-spacing: 0.01em;
		line-height: 1.3;
		color: $color;
		text-align: center;
		span {
			font-family: $font-bold;
			color: #3F94E1;
		}
	}

	ul.cross-sell-products {

		.cross-sell-product {
			margin-bottom: 20px;

			&__header {
				background: #D5DEE3;
				border-radius: 3px 3px 0 0;
				padding: 5px 18px 4px;
				font-family: $font-semibold;
				color: #7D848C;
			}

			&__body {
				.row {
					display: table;
					width: 100%;
					margin: 0;
					div {
						display: table-cell;
						&:first-child { width: 80px; }
						&:last-child { width: 130px; }
					}
				}
				border: solid 1px #D7DCDF;
				border-top: none;
				border-radius: 0 0 3px 3px;
				padding: 13px 18px;
				h3 { margin: 0; padding-left: 15px; font-family: $font-semibold; @include font-size(1.4); color: $color; }
				a.btn-show {
					display: block;
					border: solid 1px #CFDBE0;
					border-radius: 3px;
					padding: 8px;
					text-align: center;
					color: #96ABB4;
					@include transition(all .3s ease);
					&:hover { text-decoration: none; border-color: #3F94E1; color: #3F94E1; }
				}
			}

			&:first-child {
				.cross-sell-product__header {
					@include linear-gradient(#32abf0, #1f91d3);
					padding: 13px 18px;
					@include font-size(1.7);
					color: #FFF;
				}
				.cross-sell-product__body {
					.row div {
						&:first-child { width: 110px; }
						&:last-child { width: 150px; }
					}
					h3 { @include font-size(1.7); }
					a.btn-show {
						border: none;
						padding: 13px;
						background-color: #44B74D;
						box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
						@include font-size(1.6);
						color: #FFF;
						&:hover {
							border-color: #2BA235;
							background-color: #2BA235;
							color: #FFF;
						}
					}
				}
			}
		}
	}
}


//***********************************
//  responsive css
//***********************************

@media (max-width : 880px) {
	#CrossSell {
		.modal-dialog {
			width: 90%;
		}
	}
}

@media (max-width: 768px) {
	#CrossSell {
		ul.cross-sell-products {
			.cross-sell-product {
				&__body {
					.row div {
						display: block;
						margin: 0 auto;
						&:first-child { width: 110px; }
					}
					h3 {
						margin: 10px 0 20px;
						padding-left: 0;
						text-align: center;
					}
				}
				&:first-child {
					.cross-sell-product__body h3 { @include font-size(1.4); }
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#CrossSell {
		.modal-content { padding: 20px; }
		.modal-footer { text-align: center; }
		h2 { @include font-size(2); }
		ul.cross-sell-products {
			.cross-sell-product {
				&__header {
					padding: 5px 15px 4px;
				}
				&:first-child {
					.cross-sell-product__header { padding: 8px 15px; @include font-size(1.5); }
					.cross-sell-product__body a.btn-show { padding: 8px; }
				}
			}
		}
	}
}