@import "../../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "_utilities";

.sticky-product-header {
	position: fixed;
	top:0;
	left:0;
	right: 0;
	height:65px;
	z-index: 5;
	background-color: #263033;
	@include transition(.4s ease);
	@include transition-property(transform);
	@include transform(translateY(-70px));
	@include box-shadow;

	@media (max-width: 480px) {
		top: auto;
		bottom:-70px;
		@include transform(translateY(0));
		@include transition(.4s ease bottom);
	}


	&.slidein {
		@include transform(translateY(0));
		@include transition-property(transform);
		@include transition(.4s ease);

		@media (max-width: 480px) {
			@include transition(.4s ease bottom);
			bottom:0;
		}

	}

	.container {
		display: table;
		height: 100%;
		overflow: hidden;
		position: relative;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.sticky--img, .sticky--name, .sticky--btn {
		display: table-cell;
		vertical-align: middle;
	}

	.sticky--img {
		width: 110px;
		text-align: center;
		background-color: #fff;

		img {
			max-width: 90px;
			max-height: 58px;
		}

		@media (max-width: 480px) {
			display: none;
		}
	}

	.sticky--name {
		@include font-size(1.8);
		color: #ffffff;
		font-family: $font-semibold;
		padding: 0 15px;

		@media (max-width: 767px) {
			@include font-size(1.4);
		}

		@media (max-width: 480px) {
			display: none;
		}

	}

	.sticky--btn {
		text-align: right;
		width: 23.5%;

		@media (max-width: 767px) {
			padding-right: 10px;
		}

		@media (max-width: 480px) {
			width: 100%;
			padding-left:10px;
		}

		.btn-apply {
			position: relative;
			right: auto;
			top:auto;
			padding: 8px 25px 10px;
		}
	}

}