@import "../../../bower_components/imoney-assets/dev/scss/_inc/_var";

.table-info {
	border: 2px solid $color-bodybg;
	width: 100%;
	color: $color-lighter;
	margin-bottom: 20px;

	td {
		border-bottom: 1px solid $color-bodybg;
		padding: 8px 15px;

		&:not(:last-child) {
			border-right: 1px solid $color-bodybg;
		}
	}

	th {
		background-color: $color-bodybg;
		padding: 8px 15px;
		text-align: left;
		color: $color-brand1;
	}
}