$review-theme : #26C2B5;

.user__review {

	&--wrapper {
		text-align: center;
		border-top:4px solid #434C55;

		.page-thankyou & {
			margin-bottom: 30px;
			border-top:0;
			border-bottom:13px solid #434C55;
			border-radius: 0 0 5px 5px;
			position: relative;

			@media (min-width:768px) {
				margin-left: 30px;
				margin-right:30px;
			}

			&:before {
				position: absolute;
				content: "";
				top:0;
				left:-25px;
				right:-25px;
				height:13px;
				background:url(../img/review-shadow-top.png) center top no-repeat;
				background-size:100%;

				@media (max-width: 767px) {
					left:0;
					right: 0;
					background-size: auto;
				}
			}
		}

		#related-content &, #modal-broadband-thankyou &{
			margin: -15px -30px 10px;

			@media (max-width:767px) {
				margin-left:-15px;
				margin-right: -15px;
			}
		}
	}

	&--content {
		padding:30px 15px 20px;
		@include svgpng('../img/user-review-acq-bgheader');
		background-color:$review-theme;
		background-position: center;
		background-repeat:no-repeat;
		background-size:cover;

		@media (min-width: 992px) {

			.page-thankyou & {
				@include svgpng('../img/user-review-acq-bgheader-big');
				background-color:$review-theme;
				background-position: center;
				background-repeat:no-repeat;
				background-size:cover;
			}
		}

		@media (max-width:767px) {
			background-image: url(../img/user-review-acq-bgheader-mb.png);
		}

		@media (max-width: 480px) {
			background-image:url(../img/user-review-acq-bgheader-sm.png);
			background-position:right;
			background-size:contain;
		}



		> h3 {
			color:#165B63;
			margin-top:0;
			margin-bottom: 5px;
			@include font-size(2.1);
			font-family: $font-semibold;
		}

		> p {
			color:#ffffff;
			margin-bottom: 20px;
		}
	}
}

