@import "../../../bower_components/imoney-assets/dev/scss/_inc/_var";

$pl-blue: #2985b3;
$color-border: #d5dde5;
$color-border-gold: $color-gold-border;

$color-bgdark: #273039;
$color-bgdark-color: #a9b1ba;

@mixin section-dark {
	background-color: $color-bgdark;
	color: $color-bgdark-color;
}

@mixin background-color($bgcolor: #fff){
	background-color: $bgcolor;
}

@mixin box-shadow($bs: 0px 2px 5px rgba(0,0,0,.2)) {
	box-shadow: $bs;
}

@mixin radius($r: $radius) {
	border-radius: $radius;
}

@mixin sprites($bgi, $bgs, $va: middle, $mr: 8px, $svg: true) {
	display: inline-block;
	vertical-align: $va;
	margin-right: $mr;
	background-repeat: no-repeat;

	@if $svg {
		background-image: url(#{$bgi});

		.no-svg & {
			background-image: url(#{$bgi});
		}
	} @else {
		background-image: url(#{$bgi});
		background-size: $bgs;
	}

}