@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/bower_components/slick.js/slick/slick.scss";


$rhb-pink : #EC008B;
$rhb-blue: #3AACDE;
$roboto : "Roboto" ,"Open Sans", "Helvetica Neue", Arial, sans-serif;
$imgurl : "/jayhan/img/easy-rhb";

body {
	font-family: $roboto;
	font-weight: 400;
	background-color:#ffffff;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font-weight: 500;
	font-family: $roboto;
}

.top {
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

::-moz-selection {
 	background-color: #F8EF24;
 	color: #111;
}

/* Works in Safari */
::selection {
  background-color: #F8EF24;
 	color: #111;
}

::-webkit-input-placeholder {
   color: #c1c1c1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c1c1c1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c1c1c1; 
}

:-ms-input-placeholder {  
   color: #c1c1c1;
}
/* ==========================================================================
   HEADER 
   ========================================================================== */



.rhb-hero {
	padding-top:50px;
	padding-bottom: 40px;
	background: url(#{$imgurl}/header-gradient.jpg) 0 0 repeat-x;

	@media (max-width: 480px) {
		padding-top:25px;
	}

	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
	.container {
		position: relative;
	}

	&__logo {
		width: 117px;
		height: 60px;
		background:url(#{$imgurl}/easy-rhb-logo@2x.png) 0 0 no-repeat;
		background-size: 117px 60px;
		display: none;
		float:right;

		@media (max-width: 767px) {
			display: block;
			float: none;
			margin:0 auto 30px;
		}

		@media (max-width: 480px) {
			background-size: 90px 46px;
			width: 90px;
			height:46px;
		}

		.thank-you-hero & {
			float: none;
			margin-left:auto;
			margin-right: auto;
		}
	}

	&__thankyoumessage {
		position: relative;
		padding-top:60px;
		margin-top:70px;
		margin-bottom: 50px;
		padding-bottom: 30px;
		position: relative;
		border-top:1px solid #C9DBEE;
		border-bottom: 1px solid #C9DBEE;
		text-align: center;

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.thank-you {

		&__icon {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background:#59b259;
			top:-30px;
			color:#fff;
			position: absolute;
			top:-30px;
			left:50%;
			margin-left:-30px;

			i {
				width: 60px;
				height: 60px;
				display: block;
				background:url(/v4/img/icon-success.svg) no-repeat center;

				.no-svg & {
					background: url(/v4/img/icon-success.png) no-repeat center;
				}
			}
		}

		&__title {
			font-weight: 500;
			color:#59b259;
			margin-bottom: 10px;
		}

		&__subtitle {
			margin-bottom: 50px;
		}

		&__message {
			@include font-size(1.8);
		}
	}

	&__buddy {
		width: 300px;
		height:204px;
		background: url(#{$imgurl}/easy-rhb-logo@2x.png) no-repeat;
		background-size: 220px;
		position: absolute;
		left:0;
		top:-10px;

		@media (max-width: 991px) {
			background-size: 150px;
			width: 200px;
			height: 214px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__tagline {
		margin-left: 250px;
		padding-bottom: 40px;

		@media (max-width: 991px) {
			margin-left:170px;
			padding-bottom: 70px;
		}

		@media (max-width: 767px) {
			margin-left: 0;
			text-align: center;
			padding-bottom: 50px;
		}

		@media (max-width: 480px) {			
			text-align: left;			
		}

		h1 {
			@include font-size(4.8);
			color: $rhb-blue;
			margin-bottom:5px;
			margin-top: 0;
			font-weight: 500;

			@media (max-width: 480px) {
				@include font-size(4);
				margin-bottom: 15px;
			}
		}

		h3 {
			@include font-size(3.0);
			color:#1A1919;
			margin-top:0;
			margin-bottom: 5px;
			font-weight: 500;

			@media (max-width: 480px) {
				@include font-size(2.8);
				padding-bottom: 15px;
			}
		}
	}

	&__promo {
		margin-left: 250px;
		position:relative;
		padding: 15px 15px 15px 140px;
		border-radius: 2px;
		background-color:#FFF4EB;
		margin-bottom: 20px;
		border: 2px dashed #E0B9AB;

		@media (max-width: 991px) {
			margin-left:0;
		}

		@media (max-width: 767px) {
			margin-left: 0;
			padding-top: 50px;
			padding-left:15px;
			text-align:center;
		}

		i {
			display:inline-block;
			width: 140px;
			height: 88px;
			background: url(#{$imgurl}/easy-rhb-voucher-icon.png) 0 0 no-repeat;
			background-size: 140px 88px;
			position: absolute;
			left:-30px;
			top: 10px;

			@media (max-width: 767px) {
				left: calc(50% - 70px);
				top: -50px;
			}
		}

		span {
			color: #CB9624;		
		}

		h4 {
			color:#BD2600;
			@include font-size(2.6);

			@media (max-width: 480px) {
				@include font-size(2.2);
			}
		}

		ul {

			> li {
				padding-bottom: 5px;
			}
		}
	}

	&__steps {
		padding-top: 27px;
		padding-bottom: 27px;
		margin-top:10px;
		margin-left: 250px;
		border-top:1px solid #C9DBEE;
		border-bottom: 1px solid #C9DBEE;

		@media (max-width: 991px) {
			margin-left: 0;
		}

		@media (max-width: 480px) {
			padding-top: 40px;
		}


		@media (min-width: 481px) and (max-width: 767px) {
			[class*="col-"] {
				width: 33.33333%;
				float: left;
			}
		} 
	}
}

.rhb-outlet-info {
	padding-bottom: 70px;

	&__header {
		margin-bottom: 30px;
		color:#A1AAB0;
		@include font-size(1.4);

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__body {

		@media (max-width: 767px) {
			text-align: center;
		}

		h4,h3 {
			color:$rhb-blue;
		}

		#state, #outlet {
			color:$color-brand1;
			@include font-size(2.2);
			font-weight: 500;
		}

		#state {
			margin-bottom: 40px;
		}
	}
}
/* ==========================================================================
   HERO STEPS
   ========================================================================== */


.hero-steps {

	&__wrapper {
		position: relative;

		@media (max-width: 480px) {
			padding-bottom: 30px;
		}

		&:before {
			content: "";
			display: inline-block;
			background:url(#{$imgurl}/steps-icons@2x.png) no-repeat;
			background-size:191px 79px;
			position: absolute;
			left:0;
			top:0;

			@media (max-width: 480px) {
				background-size: 170px 70px;
			}
		}

		&.steps1 {

			&:before {
				width: 75px;
				height:74px;

				@media (max-width: 480px) {
					width: 66px;
				}
			}

			.hero-steps__content {
				margin-left: 90px;
			}
		}

		&.steps2 {

			&:before {
				width: 60px;
				height:73px;
				background-position: -75px 0;

				@media (max-width: 480px) {
					width: 54px;
					background-position: -66px 0;
				}
			}			

		}

		&.steps3 {

			&:before {
				width: 57px;
				height:79px;
				background-position: -135px 0;

				@media (max-width: 480px) {
					width: 52px;
					background-position: -121px 0;
				}
			}
			
		}
	}


	&__content {
		padding-top:8px;
		display: inline-block;
		margin-left: 80px;

		@media (max-width: 480px) {
			margin-left: 80px !important;
		}

		@media (min-width: 481px) and (max-width: 767px) {
			margin-left: 0 !important;
			margin-top:90px;
		} 

		h3 {
			@include font-size(2);
			font-weight: 600;
			color: $color-brand1;
			margin-bottom: 4px;
			margin-top:0;
		}

		p {
			color:#4282A8;
			font-weight: 400;
			font-family: "Helvetica Neue", Arial, sans-serif;
		}
	}
}

/* ==========================================================================
   CONTENT AREA
   ========================================================================== */
.btn-green-shade {
	color:#fff;
	background-color:#4EBF43;
	box-shadow: 1px 3px 0 rgba(0,0,0,0.3);
	min-width: 140px;
	@include font-size(2);
	font-weight: 500;
	position: relative;
	outline:none;
	outline: 0;

	&:hover {
		// background: darken(#B8E986, 10);
		background: #4EBF43;
	}

	&:active {
		outline:none;
	}

	&.waiting {
		box-shadow:none;
		top:2px;
		background-image:url(/v4/img/preloader.gif);
		background-repeat: no-repeat;
		background-position: 90% center;
		background-size:20px 20px;
	}
}

.btn-apply-top {
	margin-top:20px;
	margin-bottom: 20px;

	@media (min-width: 480px) and (max-width: 767px) {
		width:80%;
		margin-left:auto;
		margin-right: auto;
	}
}
.rhb-content-wrapper {
	position: relative;
	padding-bottom: 80px;

	.container {
		position: relative;
	}

	&__right {
		position: relative;

		.btn-wrapper {			
			padding-top:20px;

			.btn-green-shade {
				color:#fff;
				background-color:#4EBF43;
				box-shadow: 1px 3px 0 rgba(0,0,0,0.3);
				min-width: 140px;
				@include font-size(2);
				font-weight: 500;
				outline:none;

				&:hover {
					// background: darken(#B8E986, 10);
					background: #4EBF43;
				}

				&:active {
					outline:0;
				}

				&.waiting {
					box-shadow:none;
					top:2px;
					background-image:url(/v4/img/preloader.gif);
					background-repeat: no-repeat;
					background-position: 93% center;
					background-size:18px 18px;
				}
			}
		}

		.form-heading {
			margin-bottom: 20px;

			h2 {
				@include font-size(2.2);
				margin-bottom: 4px;
				font-weight: 600;
			}

			h4{
				@include font-size(1.6);
				color:$rhb-blue;
			}
		}

		.rhb-badge {
			width: 142px;
			height: 142px;
			background:url(#{$imgurl}/rhb-badges@2x.png) no-repeat;
			background-size: 142px;
			position: absolute;
			right:-15px;
			top:10px;
			z-index: 10;

			@media (max-width: 767px) {
				display: none;
			}
		}

		.form-progress {
			margin-bottom: 20px;

			&:after {
				content:"";
				clear: both;
				display: table;
			}

			@media (min-width:550px){
				width: 320px;
			}

			@media (min-width: 600px) and (max-width: 767px){
				position: absolute;
				right: 20px;
				top: 10px;
			}

			.slick-list {
				overflow: visible;
			}

			.indicator {
				width: 50%;
				float:left;
				@include font-size(1.4);
				display: inline-block;
				position: relative;
				padding-bottom: 2px;
				padding-left:35px;
				text-transform: uppercase;
				border-bottom: 4px solid #E7EBED;
				color:#BEC4C7;				

				&:before {
					content: "";
					width: 25px;
					height:25px;
					position: absolute;
					bottom: -14px;
					left: -2px;
					background:url(#{$imgurl}/progress-pending@2x.png) 0 0 no-repeat;
					background-size:25px 25px;
					display: inline-block;
				}

				&__current {
					border-bottom-color: #F5A623;
					color:#626E76;

					&:before {
						background-image:url(#{$imgurl}/progress-current@2x.png);
					}					
				}

				&__done {
					border-bottom-color: #909693;
					color:#626E76;

					&:before {
						background-image:url(#{$imgurl}/progress-success@2x.png);
					}
				}
			}
		}

		#rhb-form {
			background:$rhb-blue;			
			color:#fff;
			width:100%;
			border-radius: 5px;
		}

		.rhb-form__content {
			padding: 35px 20px;
			position: relative;
		}

		.back-link {
			position: absolute;
			@include font-size(1.2);
			top:8px;
			left:15px;
			color:#fff;
		}

		.select-header {
			color:#FFF;
			padding-left:50px;
			@include font-size(2);
			background:url(#{$imgurl}/marker-location@2x.png) 0 0 no-repeat;
			background-size: 30px 44px;		
			width:80%;	
			padding-bottom:20px;
			margin-bottom: 4px;
			position: relative;

			@media (max-width: 550px) {
				width: 100%;
			}
		}
		
		.line-separator {			
			height:1px;
			width: 100%;
			background: #188ED7;
			box-shadow: 0 1px 0 #6AADD7;
			margin-bottom: 30px;
		}

		label  {
			font-weight: normal;
			font-family: $roboto;
			text-transform: uppercase;
			text-align: right;
			min-width: 100px;
			@include font-size(1.4);
			padding-right: 0;

			@media (max-width: 767px) {
				text-align: left;
			}
		}

		input {
			height:40px;
			border:0;
			border-radius: 3px;
			width: 100%;
			padding:4px 20px;
			color:#555;
			@include transition(.2s ease-in box-shadow);
			position: relative;

			&:focus {
				box-shadow:0 3px 9px rgba(0,0,0,0.25);
				outline:none;	
				@include transform(translate3d(0,-1px,0));
			}
		}
		

		.form-upper {
			text-align: center;
			padding-bottom: 15px;
			position: relative;

			label {
				display: block;
				text-align: center;
				@include font-size(1.8);
				font-weight: 500;
			}

			input {
				width:190px;
				border:3px solid #9ACDE6; 
				text-align: center;
				@include font-size(2);
				height:45px;
			}

			&:after {
				content:"";
				display: block;
				position: absolute;
				bottom:0;
				height:1px;
				width: 100%;
				background: #188ED7;
				box-shadow: 0 1px 0 #6AADD7;
			}
		}

		.form-lower {
			padding-top:25px;
		}
	}

	&__left {

		padding-right: 90px;
		margin-top:80px;

		@media (max-width: 991px){
			margin-top: 0;
			padding-right: 0;
			padding-bottom: 50px;
		}

		h1 {
			@include font-size(2.5);
			color: $color-brand1;
			font-weight: 500;
			margin-bottom: 30px;
			padding-bottom: 20px;
			position: relative;

			&:after {
				content: "";
				width: 255px;
				height:3px;
				background:$rhb-blue;
				position: absolute;
				bottom:0;
				left:0;
			}
		}

		h4{
			@include font-size(2.0);
			color:#8595AD;
			margin-bottom: 14px;
		}

		ul{
			list-style: none;
			padding-left:0;

			li {
				@include font-size(1.8);
				padding-bottom: 15px;
				padding-left:30px;
				-webkit-font-smoothing: antialiased;
				background:url(#{$imgurl}/green-tick-icon@2x.png) no-repeat 0 0;
				background-size: 26px 22px;

				@media (max-width: 480px) {
					@include font-size(1.5);
				}
			}
		}

	}
}
.animated {
	@include animation-duration(.75s);
	@include animation-fill-mode(both);
}

.bounceIn {
	@include animation-name(bounceIn);
}

@include keyframes(bounceIn) {
	from, 20%, 40%, 60%, 80%, to {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
    opacity: 0;
    @include transform(scale3d(.3, .3, .3));
  }

  20% {
    @include transform(scale3d(1.1, 1.1, 1.1));
  }

  40% {
    @include transform(scale3d(.9, .9, .9));
  }

  60% {
    opacity: 1;
    @include transform(scale3d(1.03, 1.03, 1.03));
  }

  80% {
    @include transform(scale3d(.97, .97, .97));
  }

  to {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }

}



.warning {
	background-image: url(#{$imgurl}/error-warning-icon@2x.png);
	background-size:22px 20px;
	background-position: 97% center;
	background-repeat: no-repeat;
}

.rhb-form-guide {
	margin-top: 20px;
	color: #8A959F;
	@include font-size(1.1);

	p {
		@include font-size(1.2);
	}

	ol {
		padding-left: 20px;

		li {
			padding-bottom: 5px;
			color:#929DA9;
		}
	}
}

#outlet-more-info {

	.control-label {
	
	}

	#outlet-address, #operation-hours {
		color:#222;
		padding: 8px 20px;
		display: block;
		background: #FFF;
		border-radius: 5px;
		cursor: default;
	}
}
/* ==========================================================================
   CHOSEN OVERWRITTING
   ========================================================================== */

.chosen-select {
	background:#fff;
	color:#222;
	height:40px;
	width: 100%;
}

select[disabled]{
	opacity: 0.5;
}

.color-red {
	color:#ffffff !important;
}

.chosen-container {

	.chosen-drop {
		border:0;
	}

	&-active {

		&.chosen-with-drop {

			.chosen-single {
				border :0;

				div {

					b {
						background-position: -16px 9px;
					}
				}
			}
		}
	}

	&.chosen-disabled {

		a {
			outline: none;
		}
	}

	&-single {
		

		.chosen-single {
			height:40px;
			padding: 4px 20px;
			border:0;
			background:#fff !important;
			@include font-size(1.6);
			line-height: 30px;

			div {

				b {
					background-position: 2px 9px;
				}
			}
		}
	}
}

@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";