//importing bourbon library
@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//importing bootstrap assets
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";

///importing imoney global assets
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";

//import navigation submenu
@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";

/* ==========================================================================
   INDIVIDUAL SCSS FOR PERSONAL LOAN
   ========================================================================== */
@import "../../bower_components/imoney-assets/dev/scss/_inc/_sprites";
//import flexbox that used by personal loan
@import "../../bower_components/imoney-assets/dev/scss/_inc/_flexbox";

//import product listing page design
@import "../../bower_components/imoney-assets/dev/scss/_inc/_product-listing";

//import form global 
@import "../../bower_components/imoney-assets/dev/scss/_inc/_form-global";

//import sidebar listing
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-sidebar-listing";


//start custom css for PL

$imgurl : '/jayhan/img/';

.header--page, .modal-apply-v1 .modal-header, .modal-compare .modal-header {
	background-image: url(#{$imgurl}/header-bg.png);
}

.header--page {

	h1 {
		color:#ffffff;
	}

	p {
		color:#b9ddef;
	}
}

.section-bottom-cta {
	background-image: url(#{$imgurl}/bottom-cta-bg.jpg);
}

.sprites-star-blue {
	vertical-align: bottom;

	.table__product--promo & {
		background-position: -245px -51px;
	}
}

.sprites-tick-blue {
	vertical-align: bottom;

	.table__product--promo & {
		background-position: -258px -50px;
	}
}

.advertisement {
	text-align: center;
	margin: 15px auto 0;

	@media (max-width: 767px) { display: none; }

	&-mb {
		text-align: center;
		margin: 0 auto ;
	}
}

// fix padding that pushed leaderboard ad in the middle of listing for mobile 
.table-columns div[id^="div-gpt-ad"].visible-xs {
	padding: 0;
	margin: 0 -15px 45px -15px;
}

.icn_ic {
	background: url(#{$imgurl}/form/icn_form.png) no-repeat;
	background-position: 7px -290px;
	padding-left: 40px;
}

.radio--toggle, .apply-consent {
	label {
		font-family: $font;
	}
}
//import imoney base modal, apply modal v1, how modal, enquire modal, compare modal
@import "../../bower_components/imoney-assets/dev/scss/_inc/_imoney-base-modal";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-apply-modal-v1";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-modal-how";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-modal-enquire";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-modal-compare";

@import "_inc/_popup-crosssell";

/* END INDIVIDUAL SCSS
   ========================================================================== */