//importing bourbon library
@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//importing bootstrap assets
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";

///importing imoney global assets
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";

//import navigation submenu
@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";

/* ==========================================================================
   INDIVIDUAL SCSS FOR PERSONAL LOAN PRODUCT
   ========================================================================== */

@import "../../bower_components/imoney-assets/dev/scss/_inc/_product-page-v1";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-checkboxtoggle";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_im-nouislider";

$imgurl : '/jayhan/img/';
.icn_ic {
	background: url(#{$imgurl}/form/icn_form.png) no-repeat;
	background-position: 7px -297px;
	padding-left: 40px;
}

.imoney-id .step-indicator {
	padding-left: 3px;
	@include font-size(1.1);
	& span { padding-left: 15px; }
}