//$imn-assets: "../../bower_components/imoney-assets/dev/scss/";

@import "bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";


/*custom fixed for modal jumping when form focus in IOS*/
body.modal-open {

	@media only screen and (max-width: 480px) {
		position: fixed;
	}
}

#red, #green, #blue {
	margin: 10px;
	display: inline-block;
	height: 200px;
}

#colorpicker {
	height: 240px;
	width: 310px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #BFBFBF;
}

#result {
	margin: 60px 26px;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
	color: rgb(127, 127, 127);
	background: rgb(127, 127, 127);
	border: 1px solid #fff;
	box-shadow: 0 0 10px;
}

#red {
	background: #c0392b;
}

#green {
	background: #27ae60;
}

#blue {
	background: #2980b9;
}

$pl-blue: #2985B3;
$color-border: #d5dde5;
$color-border-gold: $color-gold-border;

@mixin pl-sprites($bgp, $width, $height){
	background: url(img/icon-sprites-pl.png) no-repeat;
	background-size: 98px 28px;
	background-position: $bgp;
	width: $width;
	height: $height;
}

@mixin pl-blue($imgurl: null) {
	@if $imgurl {
		background: url(#{$imgurl}) $pl-blue;
	} @else {
		background-color: $pl-blue;
	}
	color: lighten($pl-blue,40);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}

// h1, h2, h3 {
// 	font-family: $font-bold;
// }

.main {
	background-color: transparent
}

[class*="flex-"] {
	padding: 0 15px;
	width: 100%;
}

@media (min-width: $screen-md) {
	.flex-md {
		&-9-12 {
			width: percentage(9/12);
		}
		&-3-12 {
			width: percentage(3/12);
		}
	}
}

.row.row-flex {
	&:before, &:after {
		width: 0;
	}
}

.row-flex {
	@include display(flex);
	@include align-items(stretch);
	@include flex-wrap(wrap);
}


//------------------------------------
// HEADER
//------------------------------------

.header--page {
	@include pl-blue('img/header-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding: 30px 0;

	&-pl {
		min-height: 260px;
		padding: 75px 0 60px;
	}

	h1 {
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.2);
	}

	@media (max-width: $screen-xs-max) {
		background-image: url('img/header-bg-mb.png');

		&-pl {
			padding: 30px 0;
			min-height: 0;
		}

		h1 {
			font-size: 27px;
		}

		p {
			display: none;
		}
	}
}


//------------------------------------
// SECTION - CALCULATOR
//------------------------------------
.section-calculator {
	margin-top: -45px;

	@media (max-width: $screen-xs-max) {
		margin-top: 0;
	}
}
.calculator {
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	position: relative;

	@media (max-width: $screen-xs-max) {
		margin-left: -15px;
		margin-right: -15px;
	}

	@media (min-width: $screen-sm) {
		border-radius: $radius;
	}

	&:after {
		left: 0px;
		right: 0px;
		height: 15px;
		position: absolute;
		content: '';
		top: 100%;
		background: url(img/calculator-shadow.png) no-repeat bottom;
		background-size: 100% 100%;
		opacity: .3;
	}
}

// main calculator
.calculator__main{
	padding: 20px 0;
	font-size: 18px;
	position: relative;
	@include clearfix;

	.col-md-3 {
		position: static;
	}

	.calculator-start {
		//display: none;
		display: block;
		font-family: 'Permanent Marker', $font;
		background: #ef6700;
		@include background(linear-gradient(-180deg, #ef6700 0%, #ef4400 78%));
		color: #fff;
		position: absolute;
		height: 100%;
		margin: auto;
		top: 0;
		left: 0;
		padding: 29px 50px 0 35px;
		border-radius: $radius 0 0;
		text-shadow: 0px 1px 2px rgba(0,0,0,0.10);
		overflow: hidden;
		white-space: nowrap;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-width: 50px 0 50px 20px;
			border-color: #fff #fff #fff transparent;
			border-style: solid;
			position: absolute;
			right: 0;
			top: 50%;
			@include transform(translateY(-50%));
		}

		@media (max-width: $screen-sm-max) {
			padding-left: 20px;
			padding-right: 20px;
			text-indent: 100%;
			width: 0;
		}

		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}

	.form-inline {
		label {
			padding-right: 15px;
			color: $color-brand1;
		}
	}

	select.form-control {
		line-height: inherit;
	}

	@media (max-width: $screen-sm-max) {
		text-align: center;
	}

	@media (max-width: $screen-xs-max) {
		text-align: left;

		.form-group {
			float: left;
			width: 50%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	@media (max-width: 600px) {
		display: none;

		.form-group {
			float: none;
			width: auto;
		}
	}
}


// filter
.calculator__filters {
	background: $color;
	color: darken(#d9dfe5,5);
	border-radius: 0 0 $radius $radius;
	@include clearfix;
	font-size: 12px;

	.filter {
		float: left;
		padding: 10px 0;
		border-left: 1px solid darken($color,4);

		// &:not(:last-child) {
		// 	padding-right: 20px;

		// }
		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.filter-label {
		width: 110px;
		text-align: right;
		padding-left: 15px;
	}

	.filter-control {
		padding-left: 15px;
	}

	.filter--salary {
		width: 40%;
		.filter-label {
			margin-top: 5px;
		}
		.salary-howmuch {
			display: block;
			color: #fff;
			font-size: 14px;
		}
		.filter-control {
			@include calc(width, '100% - 130px');
		}
	}

	.filter--gov, .filter--islamic {
		width: 25%;

		@media (max-width: $screen-md-max) {
			width: 30%;
		}

		.filter-label {
			width: 100px;
		}
	}

	@media (max-width: $screen-xs-max) {
		border-radius: 0;

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.filter {
			padding-left: 30px;

			> * {
				display: block;
				width: auto;
				padding: 0;
			}

			&-label {
				width: auto !important;
				text-align: left;
			}

			&--salary {
				padding-right: 30px;
				border-left: none;
				margin-left: -15px;

				.filter-label {
					margin-top: 0;
				}
				.filter-control {
					min-height: 36px;
				}
				.salary-howmuch {
					display: inline;
					padding-left: 5px;
				}
			}

			&-control {
				width: auto !important;
			}
		}
		.noUi-target.noUi-horizontal {
			top: 16px;
		}
	}

	@media (max-width: 600px) {
		display: none;

		.filter {
			float: none;
			width: auto;
			border-left: none;
			padding-right: 30px;
			margin-left: -15px;
			margin-right: -15px;
			border-bottom: 1px solid darken($color,4);
		}
	}
}


// slider
@import "../js/nouislider/nouislider.min";


// toggle
.toggle {
	width: 64px;
	height: 36px;
	background-color: #f3f4f6;
	border-radius: 18px;
	//box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	position: relative;
	@include transition(all .25s ease-in-out);
	overflow: hidden;
	border: 1px solid #c6cfd2;
	cursor: pointer;

	.calculator & {
		background-color: darken($color, 8);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		border: none;
		top: 5px;
		left: -5px;
	}
	&:before, &:after {
		position: absolute;
		text-transform: uppercase;
		font-family: $font;
		font-size: 11px;
		top: 50%;
		@include transform(translateY(-55%));
	}

	&:before {
		content: 'no';
		color: lighten($color-lighter,10);
		right: 8px;
	}
	&:after {
		content: 'yes';
		color: #fff;
		left: 8px;
	}

	span {
		width: 28px;
		height: 28px;
		background: #fff;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
		display: block;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: 3px;
		@include transition(all .25s ease-in-out);

		.calculator & {
			top: 4px;
			left: 4px;
		}
	}

	&-input {
		display: none;

		&:checked {
			+ .toggle {
				background-color: $color-brand2;
				border-color: $color-brand2;
				span {
					left: 32px;
				}
			}

			+ .toggle-lg {
				span {
					left: 41px;
				}
			}
		}
	}

	&-lg {
		height: 46px;
		width: 84px;
		border-radius: 23px;

		&:before, &:after {
			font-size: 12px;
		}

		span {
			width: 38px;
			height: 38px;
		}
	}
}


// Calculator mobile
.calculator--mobile {
	display: none;
	padding: 15px 30px;
	text-align: center;
	@include transition(all .1s);

	&:hover, &:focus, &--active {
		text-decoration: none;
		background: $lightgrey;
	}

	b {
		font-family: $font-semibold;
	}

	&-summary {
		font-family: $font;
		color: $color-lighter;
		font-size: 12px;
	}

	@media (max-width: 600px) {
		display: block;
	}
}

.btn-calculator--mobile {
	display: none;
	padding: 30px;

	@media (max-width: 600px) {
		display: block;

	}
}
.btn-calculator-close {
	position: relative;
	overflow: hidden;

	span {
		display: inline-block;
	}

	> * {
		@include transition(all .2s);
	}

	&--active {
		.btn-spinner {
			top: 50%;
		}
		span {
			@include transform(translateY(120%));
		}
	}
}

.btn-spinner {
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	border-color: #fff #fff transparent transparent;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: -12px;
	left: 50%;
	margin-top: -7px;
	margin-left: -7px;
	border-radius: 50%;
	@include animation(spin .5s infinite linear);
}

@include keyframes(spin) {
	from {
		@include transform(rotate(0deg))
	}
	to {
		@include transform(rotate(359deg))
	}
}


//------------------------------------
// SECTION - COMPARISON & SIDEBAR
//------------------------------------
.section-comparison {
	padding: 60px 0;

	@media (max-width: $screen-xs-max) {
		padding-top: 30px;
	}
}

@media (min-width: $screen-md) {
	.comparison-main {
		@include order(1);
	}
}

// Comparison Table
.comparison-table {
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	border-radius: $radius;
	font-size: 13px;
}

.table-columns {
	display: table;
	width: 100%;
	table-layout: fixed;

	> * {
		display: table-cell;
		//overflow: hidden;
		padding: 20px 15px;
	}
}

.table__header {
	@include linear-gradient(to bottom, #fff, $lightgrey);
	border-radius: $radius $radius 0 0;
	font-size: 13px;
	font-family: $font-semibold;
	// color: $color-lighter;
	border-bottom: 2px solid $color-brand2;
	table-layout: fixed;

	.table-columns {
		> * {
			vertical-align: middle;

			.comparison-table & {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

.col-compare {width: 5%; padding-right: 0; text-align: center;}
.col-product {width: 45%;}
.col-interest-rate {width: 14%; text-align: right;}
.col-repayment {width: 18%; text-align: right;}
.col-apply {width: 18%; text-align: center;}

@media (min-width: $screen-sm) {
	.col-interest-rate, .col-repayment {
		padding-left: 0;
	}
}


.tooltip {
	bottom: 100%;
	left: 50%;
	@include transform(translateX(-50%));
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	background: $color-complement;
	text-align: left;
	padding: 10px;
	width: 150px;
	font-size: 12px;
	color: #fff;
	box-shadow: 0 1px 2px rgba(#000, .2);
	border-radius: $radius;
	font-family: $font;
	line-height: 1.4;
	@include transition(all .1s);

	.col-compare-btn:hover & {
		display: block;
		visibility: visible;
		opacity: 1;
		bottom: 150%;
	}
}


// table product
.table__product {
	border-bottom: 1px solid $color-border;

	&:first-child {
		border-radius: $radius $radius 0 0;

		.col-promo {
			border-radius: $radius $radius 0 0;
		}
	}

	.table-columns {
		> * {
			vertical-align: top;
		}
	}

	&.table__product--promo {
		background-color: $color-gold-lighter;
		border-bottom-color: $color-border-gold;
		//color: #CB9624;

		.btn {
			background-color: #f5cd45;
			color: #68530b;
			font-family: $font-semibold;
		}
	}
}

.col-promo {
	//border-bottom: 1px dashed $color-border-gold;
	background: #CB9624;
	padding: 10px 15px;
	font-family: $font-semibold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);

	i {
		display: inline-block;
		margin-right: 10px;
		@include pl-sprites(-74px 0, 24px, 24px);
		vertical-align: middle;
	}
}

.col-compare-btn {
	cursor: pointer;
	position: relative;
	@include pl-sprites(-26px 0, 24px, 24px);

	&--active {
		background-position: -50px 0;
	}
}

.col-product {

	.table__product & {
		padding-bottom: 0;
	}

	&-image {
		float: left;
		margin-right: 15px;
		max-width: 90px;
	}

	&-info {
		padding-left: 105px;

		h3 {
			font-size: 15px;
			font-family: $font-semibold;
			line-height: 1.25;
		}
	}

	.btn-more-info {
		font-size: 11px;
		color: $color-lighter;
		position: relative;
		border: 1px solid $color-border;
		border-bottom: none;
		border-radius: $radius $radius 0 0;
		padding: 5px 15px;
		margin-top: 10px;
		display: inline-block;
		@include transition(all .2s linear);
		opacity: .7;

		.table__product--promo & { border-color: $color-border-gold}

		&:hover, &:focus {
			text-decoration: none;
			opacity: 1;
		}

		i {
			display: inline-block;
			width: 7px;
			height: 1px;
			background-color: $color-lighter;
			vertical-align: 3px;
			position: relative;
			margin-right: 5px;
			//@include transform(rotate(-90deg));
			@include transition(all .2s linear);

			&:before {
				content: '';
				position: absolute;
				background-color: inherit;
				width: 1px;
				height: 7px;
				top: -3px;
				left: 3px;
				//@include transition(all .2s linear);
			}
		}

		&.active {
			color: #fff;
			background: $pl-blue;
			border-color: $pl-blue;
			opacity: 1;

			.table__product--promo & {
				background-color: $color;
				border-color: $color;
			}

			i {
				//@include transform(rotate(0));
				background-color: #fff;

				&:before {
					@include transform(rotate(90deg));
				}
			}
		}
	}
}

.col-title {
	color: $color-lighter;
	display: block;
	white-space: nowrap;
	padding-bottom: 5px;

	&--small {
		font-size: 12px;
	}
}

.product-rate, .product-repayment {
	font-size: 21px;
	font-family: $font-semibold;
	//color: $color-brand1;
	line-height: 1.1;

	// .table__product--promo & {
	// 	color: #CB9624;
	// }
}

.product-repayment-period.extra-info {
	font-size: 12px;
	opacity: .7;
}


.col-interest-rate, .col-repayment, .col-apply {
	.table__product & {
		@include transition(all .5s);
		max-height: 500px;
		height: 100%;
	}
}
.col-apply {
	.btn-apply {
		display: block;
		font-family: $font-semibold;
	}
}

.col-more-info {
	display: none;

	// > *:not(:last-child) {
	// 	padding: 20px;
	// }

	.info-summary {
		background: $pl-blue;
		color: #fff;
		overflow: hidden;
		line-height: 1.25;

		.table__product--promo & {
			background-color: $color;

			b {
				color: lighten($color-lighter,25);
			}
		}

		b {
			color: lighten($pl-blue,40);
			font-size: 13px;
			font-family: $font-semibold;
			display: block;
			margin-bottom: 5px;
		}

		li {
			padding-left: 5%;
			float: left;
			width: 18%;
			padding: 20px 15px 25px;

			&:first-child {width: 50%; @include calc(padding-left, '5% + 15px')}

			&:not(:first-child) {text-align: right;}

			&:nth-child(2) { width: 14%;}

			&:nth-child(3) {width: 18%;}
		}
	}

	.info-features {
		overflow: hidden;
		background: #e4f6ff;
		//margin: 0 -10px;

		.table__product--promo & {
			background-color: $color-gold-lighter;
		}

		h5 {
			color: $pl-blue;
			//text-transform: uppercase;
			font-family: $font-semibold;

			.table__product--promo & {
				color: #CB9624;
			}

			&:before {
				display: inline-block;
				content: '';
				margin-right: 5px;
			}
		}

		.features-key h5:before {
			@include pl-sprites(0 1px, 13px, 13px);

			.table__product--promo & {
				background-position: 0 -12px;
			}
		}
		.features-eligibility h5:before {
			@include pl-sprites(-13px 1px, 13px, 13px);

			.table__product--promo & {
				background-position: -13px -12px;
			}
		}

		> * {
			float: left;
			width: 50%;
			padding: 20px 15px;

			&:first-child {
				@include calc(padding-left, '15px + 5%');
				//padding-right: 7.5px;
			}
		}

		li {
			font-size: 13px;
			border-bottom: 1px dashed $color-border;
			padding: 10px 0;
			color: $color-lighter;

			&:first-child {
				padding-top: 0;
			}

			b {
				font-family: $font-semibold;
				display: block;
				color: $color;
			}
		}
	}

	.info-actions {
		background: #e4f6ff;
		text-align: center;
		padding: 0 20px 40px;
		position: relative;

		.table__product--promo & {
			background-color: $color-gold-lighter;
		}

		.btn-apply {
			width: 280px;
			max-width: 100%;
		}

		.btn-close {
			position: absolute;
			right: 20px;
			font-size: 13px;
			box-shadow: none;
			padding-left: 0;
			padding-right: 0;
			top: 15px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.col-compare {display: none;}

	// .col-product {width: 50%;}
	.col-promo {padding-left: 15px; text-indent: 0}
	// .col-more-info {
	// 	.info-summary li:first-child, .info-features > *:first-child {
	// 		padding-left: 15px
	// 	}
	// }
	.comparison-table {
		background: transparent;
		box-shadow: none;

		.table__header {
			display: none;
		}
		.table-columns {
			display: block;

			> * {
				//padding: 20px;

				&:not(:first-child) {display: block; width: auto}
			}
		}
	}

	.table__product {
		margin-bottom: 45px;
		background: #fff;
		box-shadow: 0px 2px 5px rgba(0,0,0,.2);
		border-bottom: none;
		border-radius: $radius;
		text-align: center;

		&.table__product--promo {
			.col-product {border-color: $color-border-gold;}
		}
	}

	.col-product {
		border-bottom: 1px solid $color-border;
		padding-top: 30px;
		//padding-bottom: 20px !important;

		&-image {
			float: none;
			margin-bottom: 30px;
		}
		&-info {
			padding-left: 0;
		}

		// .btn-more-info {
		// 	display: none;
		// }
	}

	.col-interest-rate, .col-repayment {
		float: left;
		width: 50% !important;
		text-align: center;

		&:before {
			content: attr(data-head);
			color: $color-lighter;
			display: block;
			margin-bottom: 2px;
			font-size: 12px;
			white-space: nowrap;
		}
	}

	.product-rate, .product-repayment {
		font-size: 24px;
	}

	.col-apply {
		clear: both;
		padding: 0;

		.btn {
			padding: 15px 0;
			font-size: 16px;
			border-radius: 0 0 $radius $radius;
			box-shadow: none;
			font-family: $font;
		}
	}

	.table-columns--expand {
		.col-product {border-bottom: none;}
		.col-interest-rate, .col-repayment, .col-apply {
			//@include transform(translateY(100px));
			@include transition(none);
			max-height: 0;
			height: 0;
			opacity: 0;
			padding-top: 0;
			padding-bottom: 0;
			visibility: hidden;
			overflow: hidden;
			//margin-top: -155px;
		}
	}

	.col-more-info {
		text-align: left;

		.info-summary {
			li {
				&:first-child {
					padding-left: 15px;
				}
			}
		}

		.info-features {
			> *:first-child {
				padding-left: 15px;
			}
		}
	}

}

@media (max-width: 600px) {
	.col-more-info {
		.info-summary {

			li {
				text-align: center !important;

				&:first-child {
					width: 100%;

				}
				&:not(:first-child) {
					width: 33.33% !important;
					padding-top: 0;
				}
			}
		}

		.info-features > * {
			float: none;
			width: auto;

			&:first-child {
				padding-bottom: 0;
			}
		}

		.info-actions {
			.btn-close {
				position: static;
				display: inline-block;
				margin-top: 20px;
				width: 280px;
				max-width: 100%;
			}
		}
	}
}


// Sidebar
.comparison-side {
	color: $color-lighter;
	font-size: 13px;

	> *:not(:first-child) {
		padding-top: 45px;
	}


}
.compare-products {
	position: relative;
	z-index: 2;
	@include transition(all .1s);

	&.is_stuck {
		background: $lightgrey;
		margin-bottom: 10px;
		box-shadow: 0 0 0 10px $lightgrey, 0px 2px 5px 10px rgba(0,0,0,.2);
	}

	@media (max-width: $screen-sm-max) {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: $lightgrey;
		left: 0;
		padding: 15px;
		overflow: hidden;
		box-shadow: 0px 0px 5px rgba(0,0,0,.2);
		border-top: 1px solid $color-border;

		.cp-product {
			float: left;
			@include calc(width, '33.33% - 15px');
			margin: 0 7.5px 15px;

			&-list {
				margin: 0 -7.5px;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		display: none;
	}
}

.cp-product {
	padding: 15px;
	border-radius: $radius;
	background-color: #fff;
	margin-bottom: 10px;
	position: relative;
	display: table;
	width: 100%;
	min-height: 70px;

	> * {
		display: table-cell;
		vertical-align: middle;
	}

	.cp-product-name {
		width: 100%;
		padding-right: 15px;
	}

	.close {
		width: 30px;
		height: 30px;
		border: 1px solid $color-alert;
		border-radius: 50%;
		display: block;
		position: relative;
		@include transition(all .1s linear);

		&:before, &:after {
			width: 12px;
			height: 2px;
			background-color: $color-alert;
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			@include transition(all .1s linear);
		}
		&:before { @include transform(translateX(-50%) translateY(-50%) rotate(45deg))}
		&:after { @include transform(translateX(-50%) translateY(-50%) rotate(-45deg))}

		&:hover {
			background-color: $color-alert;

			&:before, &:after { background-color: #fff}
		}
	}

	&--empty {
		font-style: italic;
		margin-bottom: 10px;
	}
}

.btn-cp-product {
	&[disabled] {
		box-shadow: none;
		background-color: $color-border;
		opacity: 1;
	}
}



// helper
.helper {
	margin-bottom: 0;

	li {
		margin-bottom: 15px;
	}
	a {
		color: $color-lighter;
		display: block;
		border: 2px solid #d5dde5;
		border-radius: $radius;
		padding: 15px;
		@include transition(all .1s linear);

		&:hover, &:focus {
			text-decoration: none;
			border-color: darken(#d5dde5, 5);
		}

		h5, p {
			margin: 0;
			padding-left: 42px + 15px;
		}

		h5 {
			color: $color;
			margin-bottom: 5px;
		}
	}

	// icon - general styles
	i {
		display: inline-block;
		width: 42px;
		height: 48px;
		background: url(img/pl-helper-icon.png) no-repeat;
		background-size: 124px 48px;
		float: left;
		margin-right: 15px;
		position: relative;
		@include transition(all 1s linear);
	}

	// icon - specific style
	&--how i {background-position: 2px 0}
	&--faq i {background-position: -42px 0}
	&--ask i {background-position: -84px 0; left: 4px}

	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

		.comparison-side & {
			overflow: hidden;
			margin: 60px -7.5px 0;

			li {
				float: left;
				width: 33.33%;
				padding: 0 7.5px;
			}
		}

	}

	@media (max-width: $screen-xs-max) {
		overflow: hidden;

		li {
			float: none;
			width: auto;
			padding: 0;
		}

		a {
			min-height: 48px + 30px;
		}
	}
}

// testimonial
.testimonials {
	text-align: center;
}

.testimonial {
	&__portrait {
		border-radius: 50%;
		border: 3px solid #fff;
		margin-bottom: 15px;
	}

	&__content {
		font-style: italic;
	}
}

//------------------------------------
// MODAL
//------------------------------------
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";
.close-wrap {
	text-align: right;
	padding-top: 7px;
	padding-bottom: 10px;

	.close-btn {
		color: $color-link-secondary;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(img/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			@include transition(.25s all cubic-bezier(0.455, 0.030, 0.515, 0.955));
		}
	}
}
.modal.fade.in {
  @include transform(translateZ(0));
}
.modal-backdrop.in {opacity: .8}
//.modal-dialog { margin-top: 30px;}
.modal-content {

	> [class*="modal-"] {
		padding: 20px;
	}
}
.modal-header {color: $color-lighter;}
.modal-title {
	font-size: 24px;
	font-family: $font-semibold;
}
.modal-xlg {
	width: 100%;
	max-width: 1140px;

	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		padding: 0 15px;
	}

	@media (max-width: $screen-xs-max) {
		@include calc(width, '100% - 20px')
	}
}
.modal-header--pl {
	color: #fff;
	background: url(img/header-bg.png) $pl-blue no-repeat center bottom;
	background-size: 100% auto;
	padding-top: 30px;
	padding-bottom: 30px;

	.modal-title {
		color: #fff;
	}
}
// Modal - FAQ
.modal-how {

	// header
	.modal-header {
		background-color: #7bbbd5;
		color: $color-brand1;
		padding-top: 45px;
		padding-bottom: 45px;
		font-size: 15px;
		border-bottom: 6px solid $color;
		border-radius: $radius $radius 0 0;
		position: relative;

		&:before {
			content: '';
			width: 86px;
			height: 10px;
			background-color: #fff;
			bottom: 0;
			left: 70px;
			position: absolute;
		}

		&:after {
			content: '';
			width: 0;
			height: 0;
			border: 5px solid;
			border-color: transparent transparent $color $color;
			position: absolute;
			bottom: 0;
			left: 70px + 86px;
			opacity: .2;
		}

		.modal-title {
			color: #fff;
		}
	}

	// step icon
	.how {
		display: inline-block;
		width: 106px;
		height: 106px;
		background: url(img/icon-howitworks.png) no-repeat;
		background-size: 106*3px 106px;
		margin-bottom: 15px;

		&--2 {background-position: center 0}
		&--3 {background-position: right 0}
	}

	.modal-body {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	@media (max-width: $screen-sm-max) {
		.modal-body {
			padding-top: 15px;
		}

		.how {
			margin-top: 30px;
		}
	}
}

// Modal - Apply
.modal-apply--pl {

	.modal-body {
		background-color: $lightgrey;
	}

	.modal-body {padding: 0;}

	.apply-product {
		padding: 30px;

		&__img {margin-bottom: 15px;}
		&__name {
			border-bottom: 1px solid $color-border;
			padding-bottom: 15px;

			h5 { margin-bottom: 0;}
		}
		&__detail {
			color: $color-lighter;
			padding-top: 15px;

			b {
				font-size: 12px;
				display: block;
				text-transform: uppercase;
				color: $color;
			}

			ul {margin-bottom: 0;}

			@media (min-width: $screen-sm) {
				li:not(:last-child) {padding-bottom: 10px;}
			}

			p {margin-bottom: 0;}
		}

		@media (min-width: $screen-sm) {
			padding-right: 0;
		}

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}

	.apply-form {
		padding: 30px;
		background: #fff;

		.instruction {
			color: $color-complement;
			font-family: $font-semibold;
		}

		.apply-personal-detail {
			padding-top: 15px;
			padding-bottom: 30px;

			@media (min-width: $screen-md) {
				> .form-group input {max-width: 90%}
			}

			.row-spacing--top {
				padding-top: 15px;
			}

			// .toggle {
			// 	top: 3px;
			// }
		}

		.apply-submit {
			margin-left: -30px;
			margin-right: -30px;
			padding: 30px 30px 0;
			border-top: 1px solid $color-border;

			.btn {padding-left: 60px; padding-right: 60px; max-width: 100%}

			@media (max-width: $screen-xs-max) {
				text-align: center;
				margin-left: -15px;
				margin-right: -15px;
				padding: 15px 15px 0;

				.btn {width: 100%}
			}
		}

		.secure {margin-top: 15px}


	}
}

// Modal - Call Me Back
.modal-enquire {
	.modal-title {
		color: $pl-blue;
	}
	.modal-body {
		background-color: $lightgrey;
	}
	.modal-footer {
		text-align: center;
	}

	.enquire-bee {
		display: inline-block;
		background: url(img/icon-bee-enquire.png) no-repeat left;
		background-size: 120px 72px;
		width: 60px;
		height: 72px;

		&--success {background-position: right 0;}
	}

	.icon-success {
		width: 90px;
		height: 90px;
		border: 1px solid $color-border;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 15px;
		text-align: center;

		svg {
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
	.modal-success {
		display: none;

		.col-md-12 >*:not(i) {
			opacity: 0;
		}

		&.is-visible {
			.icon-success {@include animation(success .8s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards)}
			h4, p, button {@include animation(fadein .5s linear .8s forwards)}
		}
	}
}

@include keyframes(fadein) {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@include keyframes(success) {
	from {
		@include transform( scale(0) rotate(-360deg));
	}
	to {
		@include transform( scale(1) rotate(0deg));
	}
}

// Modal - Compare
.modal-compare {
	.modal-body {
		padding: 0;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.table__header {
		border-bottom: none;

		.table-columns {
			> *:not(.col-cp-product--empty) {
				vertical-align: bottom;
			}
		}
	}
	.modal-table {
		min-width: 580px;
	}
	.col-cp-head {
		text-align: right;
		width: 22%;
		font-family: $font-semibold;

		.extra-info {
			font-family: $font;
		}

		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}

	.col-cp-product {
		text-align: center;
		width: (100% - 22%)/3;

		&--empty {
			color: rgba($color-lighter,.5);
			font-family: $font;
			b {
				display: block;
			}
		}
	}

	.table__body {
		.col-cp-product {
			@media (max-width: $screen-xs-max) {
				width: 33.33%;
				vertical-align: top !important;

				&:before {
					content: attr(data-head);
					display: block;
					position: relative;
					top: -5px;
					font-size: 11px;
					color: rgba($color-lighter,.8);
				}
			}
		}
	}
	.col-product {

		&-image {
			float: none;
			margin-bottom: 10px;
		}

		&-info {
			padding-left: 0;
		}

	}
	.table-columns {

		> * {
			vertical-align: middle;

			&:not(:last-child) {
				border-right: 1px solid $color-border;
			}
		}

		&:nth-child(even) {
			background-color: $lightgrey;
		}

		&--description {
			@include linear-gradient(to bottom, #C6E0E9 0%, #E3F1F6 20%);
			color: $color-brand1;
		}
		&--approval {
			@include linear-gradient(to bottom, $color-bodybg 0%, $lightgrey 20%)
		}
	}

	.btn {
		font-family: $font-semibold;
	}
}


//------------------------------------
// FORM
//------------------------------------
// .icn_name::-webkit-input-placeholder,
// .icn_email::-webkit-input-placeholder,
// .icn_tel::-webkit-input-placeholder { color: #ddd; }
// .icn_name:-moz-placeholder,
// .icn_email:-moz-placeholder,
// .icn_tel:-moz-placeholder { color: #eee; }
// .icn_name::-moz-placeholder,
// .icn_email::-moz-placeholder,
// .icn_tel::-moz-placeholder { color: #eee; }
// .icn_name:-ms-input-placeholder,
// .icn_email:-ms-input-placeholder,
// .icn_tel:-ms-input-placeholder { color: #eee; }

select.form-control {
	border-radius: $radius 0 0 $radius;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(img/dropdown-triangle.png) right 8px center no-repeat;
	background-size: 10px 6px;
	padding-right: 16px + 10px;

	.input-group-lg & {
		line-height: 1.5;
	}
}

.input-group-addon + .form-control {
	border-radius: 0 $radius $radius 0 !important;
}

.icn_name, .icn_email, .icn_tel {
	background: url(img/form/icn_form.png) #fff no-repeat;
	background-size: 24px auto;
	padding-left: 40px;
}
.icn_name {
	background-position: 7px 4px;

	&.input-lg {background-position: 7px 9px}
}
.icn_email {
	background-position: 7px -46px;

	&.input-lg {background-position: 7px -41px}
}
.icn_tel {
	background-position: 7px -94px;

	&.input-lg {background-position: 7px -89px}
}

.secure {
	font-family: $font-semibold;
  font-size: 12px;
  color: #E15C31;
  margin-bottom: 0;

  i {
  	background: url(img/form/icon-lock.png) no-repeat center left;
	  background-size: 12px auto;
	  width: 12px;
	  height: 17px;
	  display: inline-block;
	  margin-right: 8px;
	  vertical-align: -3px;
  }
}

// parsley
input, textarea, select {
	&.parsley-error {border-color: $color-alert}
}

//------------------------------------
// SECTION - FAQ
//------------------------------------
.section-faq {
	counter: faq;
	background-color: #fff;
	padding: 60px 0;

	@media (max-width: $screen-sm-max) {
		.helper {
			margin-top: 15px;
		}
	}
}

.faq-main {
	@media (min-width: $screen-md) {
		@include order(1);
	}
}

.faq {
	counter-increment: faq;
	padding: 15px 0;

	&__lead {
		font-size: 18px;
	}

	h3 {
		font-family: $font-light;
		color: $color-brand2;

		&:before {
			content: counter(faq)'. ' ;
		}
	}

	>*:last-child {
		margin-bottom: 0;
	}
}


//------------------------------------
// Bottom CTA
//------------------------------------

.section-bottom-cta {
	@include pl-blue('img/bottom-cta-bg.jpg');
	background-repeat: no-repeat;
	background-position: center -60px;
	padding: 75px 0;

	h3 {
		color: #fff;
	}

	.bottom-cta__btn {
		margin-top: 30px;
	}
}



@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";


//------------------------------------
// FALLBACK
//------------------------------------

.no-flexbox {

	@media (min-width: $screen-md) {
		[class*="flex-"] {
			float: left;
			position: relative;
		}

		.flex-md-9-12 { width: percentage(9/12)}
		.flex-md-3-12 { width: percentage(3/12)}

		.section-comparison, .section-faq {
			.flex-md-9-12 {left: percentage(3/12)}
			.flex-md-3-12 {right: percentage(9/12)}
		}

	}

	.filter--salary input {color: $font}
}