//$imn-assets: "../../bower_components/imoney-assets/dev/scss/";

@import "bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "_inc/_utilities";

$pl-blue: #2985B3;
$color-border: #d5dde5;
$color-border-gold: $color-gold-border;

@mixin pl-sprites($bgp, $width, $height){
	background: url(img/icon-sprites-pl.png) no-repeat;
	background-size: 98px 28px;
	background-position: $bgp;
	width: $width;
	height: $height;
}

@mixin pl-blue($imgurl: null) {
	@if $imgurl {
		background: url(#{$imgurl}) $pl-blue;
	} @else {
		background-color: $pl-blue;
	}
	color: lighten($pl-blue,40);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}

/*custom fixed for modal jumping when form focus in IOS*/
body.modal-open {

	@media only screen and (max-width: 480px) {
		position: fixed;
	}
}

// h1, h2, h3 {
// 	font-family: $font-bold;
// }

.main {
	background-color: transparent;

	&:after {
		display: none;
	}

	@media (min-width: $screen-sm) {
		margin-top: 45px;
	}

	@media (max-width: $screen-xs-max) {
		> .container {
			padding-left: 0;
			padding-right: 0;
		}
	}


}

.wrapper {
	@include box-shadow;
	@include background-color;
	@include radius;
}

dt {
	font-family: $font-bold;
	font-weight: normal;
}

dd {
	+ dt {
		margin-top: 10px;
	}
}


//------------------------------------
// HEADER
//------------------------------------

.header {
	&--single-product {
		padding: 35px 0 45px;
	}

	@media (max-width: $screen-xs-max) {
		text-align: center;

		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// product image (logo)
.header__product-image {
	text-align: center;

	@media (min-width: $screen-sm) {
		padding: 5px 0 0 30px;
	}

	img {
		max-height: 150px;
	}
}

.header__product-intro {

	@media (min-width: $screen-sm) {
		padding-right: 30px;
	}


	h1 {
		font-size: 30px;
		font-family: $font-bold;

		@media (max-width: $screen-xs-max) {
			margin-top: 30px;
			font-size: 24px;
		}
	}

	.product-intro {
		font-size: 16px;

		&:last-of-type {
			margin-bottom: 15px;
		}

		@media (max-width: $screen-xs-max) {
			font-size: inherit;
		}
	}
}

// label
.label {
	display: inline-block;
	font-size: 13px;
	font-family: $font-semibold;
	background: $color-lighter;
	padding: 4px 10px;
	border-radius: $radius;
	color: #fff;
	margin-top: 5px;

	+ .label {
		margin-left: 5px;
	}

	&--blue {background-color: $color-brand2}
	&--red {background-color: $color-alert}
	&--takaful {background-color: #8cc730}
}


//------------------------------------
// SECTION - KEYPOINTS
//------------------------------------
.section-keypoints {
	border-top: 1px solid $color-border;
	@include linear-gradient(to bottom, $color-bodybg 0, #fbfcfd 15% );

	ul {
		margin-bottom: 0;
		display: table;
		width: 100%;
	}

	li {
		padding: 20px 15px 20px 80px;
		position: relative;
		font-size: 12px;
		color: $color-lighter;
		font-family: $font-semibold;
		width: 50%;
		display: inline-block;
		vertical-align: top;

		// &:nth-child(3) {
		// 	padding-left: 65px;
		// }

		&:nth-child(odd) {
			border-right: 1px solid rgba($color-border, .5);
		}

		@media (max-width: $screen-sm-max) {
			&:nth-child(n+3) {
				border-top: 1px solid rgba($color-border, .5);
			}
		}

		@media (min-width: $screen-md) {
			float: none;
			display: table-cell;
			vertical-align: top;
			width: 25%;

			&:nth-child(2){
				border-right: 1px solid rgba($color-border, .5);
			}
		}

		@media (max-width: $screen-xs - 1) {
			text-align: center;
			padding: 65px 15px 20px;
		}

		// &:first-child {
		// 	padding-left: 30px;
		// }

		// &:last-child {
		// 	padding-right: 30px;
		// }
	}

	h4 {
		color: $color;
		margin-top: 2px;
	}
}

[class*="sprites-keypoints__"] {
	height: 45px;
	position: absolute;
	left: 25px;
	margin-top: 4px;

	@media (max-width: $screen-xs - 1) {
		top: 15px;
		left: 50%;
		@include transform(translateX(-50%));
	}
}

.sprites-keypoints {
	&__income {width: 45px; height: 40px; background-position: 0 0}
	&__interest {width: 39px; height: 28px; background-position: -168px -5px}
	&__tenure {width: 40px; height: 36px; background-position: -196px -45px}
	&__duration {width: 28px; height: 34px; background-position: -208px -86px; margin-left: 2px}
}

//------------------------------------
// SECTION - PROMO
//------------------------------------
.section-promo {
	@include linear-gradient(to bottom, #FBF4DC 0%, #FEFBF1 15% );
	border-top: 1px dashed $color-border-gold;
	padding: 30px;

	&__wrapper {
		//margin: 0 auto;
		@include display(flex);
		margin: 0 auto;

		@media (min-width: $screen-md) {
			width: 75%;
		}

		@media (min-width: $screen-lg) {
			width: 50%;
		}
	}
}

.promo {
	&__image, &__content {
		//float: left;
	}

	&__image {
		text-align: right;
		margin-top: 4px;
		@include flex-basis(135px);
		//width: 20%;

		// img {
		// 	max-width: 100%;
		// 	height: auto;
		// }
	}

	&__content {
		@include flex(0 1 auto);
		padding-left: 15px;
		//max-width: 80%;
		color: $color-lighter;

		> *:last-child {
			margin-bottom: 0;
		}

		span {
			color: #CB9624;
			font-family: $font-semibold;
		}
		h4 {
			color: #68530b;
		}
	}
}


//------------------------------------
// SECTION - CALCULATOR
//------------------------------------
.section-calculator {
	@include section-dark;
	padding: 30px;

	@media (max-width: $screen-sm-max) {
		padding: 0;

		> .row {
			margin: 0;

			> * {
				padding: 30px;
			}
		}
	}

	@media (max-width: $screen-xs - 1) {

		> .row {

			> * {
				padding: 30px 15px;
			}
		}

	}


	h5 {
		color: #2bb1dc;
		font-size: 18px;

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}

	.apply-button {

		@media (max-width: $screen-xs-max) {
			background: #fff;
			border-top: 1px solid $color-border;
			box-shadow: inset 0 1px 2px rgba($color-border,.5);
		}

		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			padding-left: 0;
		}

		@media (min-width: $screen-sm) {
			margin-top: 40px;
		}
	}
}

.sprites__calculator {
	background-position: -159px -167px;
	width: 24px;
	height: 30px;
}

.calculator {
	border: 2px solid $color;

	@media (min-width: $screen-md) {
		display: table;
		width: 100%;

		> * {
			display: table-cell;
			width: 50%;
			vertical-align: top;
		}
	}

}


// slider
@import "../js/nouislider/nouislider.min";


// input

.calculator-input {

	@media (max-width: $screen-sm-max) {
		border-bottom: 2px solid $color;
	}

	@media (min-width: $screen-md) {
		border-right: 2px solid $color;
	}

	> * {
		padding: 15px 15px 0;

		&:last-child {
			padding-bottom: 15px;
		}
	}

}

.calculator-input-group {
	> * {
		display: inline-block;
		vertical-align: middle;
	}

	.form-group {
		margin-bottom: 0;
	}

	.filter-label {
		width: 110px;
		padding-right: 15px;
	}

	.filter-control {
		@include calc(width, '100% - 115px');
	}

	@media (max-width: $screen-xs - 1) {
		> * {
			display: block;
		}

		.filter-label, .filter-control {
			width: auto;
		}

		.input-group {
			margin-top: 5px;
		}

		.filter-control {
			min-height: 36px;
		}

		.filter-label {

			b {
				display: inline;
				padding-left: 5px;
			}
		}

		.noUi-target.noUi-horizontal {
			top: 16px;
		}
	}
}

.filter-label {
	font-size: 12px;

	b {
		display: block;
		color: #fff;
		font-size: 14px;
	}
}


// result

.calculator-result {
	background-color: rgba($color, .3);

	&__top {
		background-color: $color-bgdark;
		overflow: hidden;

		> * {
			float: left;
			width: 50%;
			padding: 15px;

			@at-root .result {
				&__interest-rate {
					h3 {
						color: #e6aa47;
					}
				}

				&__monthly-repayment {
					text-align: right;

					h3 {
						color: #2bb1dc;
					}
				}
			}

			@media (max-width: $screen-xs - 1) {
				float: none;
				width: auto;
				text-align: center;

				&:last-child {
					padding-top: 0;
				}
			}
		}

		h3 {
			font-size: 32px;
			letter-spacing: -1px;
			font-family: $font-bold;
			margin-bottom: 0;
		}
	}

	&__bottom {
		padding: 15px;

		> *:not(:last-child) {
			margin-bottom: 10px
		}

		.result-amount {float: right}

		@at_root .result-label {
			@extend .filter-label;
			font-family: $font-semibold;
		}
	}
}



.btn-apply {
	font-size: 16px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	background-color: $color-success;
	@include linear-gradient(to bottom, $color-success, darken($color-success, 10));
	font-family: $font-semibold;
	width: 100%;

	&:hover, &:focus {
		background: $color-success;
	}
}


//------------------------------------
// SECTION - FEATURES HIGHLIGHT
//------------------------------------
.section-features--highlight {
	@include linear-gradient(to top, $color-bodybg 0, #fbfcfd 15% );
	padding: 30px;

	h5 {
		color: $color-brand2;
		font-size: 18px;
		margin-bottom: 15px;
	}

	@media (max-width: $screen-xs - 1) {
		padding: 30px 15px;
	}
}

.features-highlight {
	margin-bottom: 0;

	li {
		position: relative;
		padding-left: 28px;
		font-size: 16px;
		font-family: $font-light;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&:before {
			width: 20px;
			height: 20px;
			content: '';
			background: url(../jayhan/img/product-page-sprites.png) no-repeat -213px 0;
			background-size: 236px 219px;
			position: absolute;
			left: 0;
			top: 1px;
		}
	}
}




//------------------------------------
// SECTION - FEATURES
//------------------------------------
.section-features {
	padding: 30px;

	@media (max-width: $screen-xs - 1) {
		padding: 30px 15px;
	}
}

.features-block:not(:last-child) {
	margin-bottom: 40px;
}

.features-title {
	color: $color-brand2;
	margin-bottom: 15px;
}

// Table
@import "_inc/_table";

.table-info {
	td {

		&:last-child {
			color: $color-brand1;
			font-family: $font-semibold;

			@media (min-width: $screen-xs) {
				width: 70%;
			}
		}
	}

	@media (max-width: $screen-xs - 1px) {

		td, th {
			display: block;
			width: 100%\9; //http://stackoverflow.com/questions/20819545/ie9-tables-and-display-block
    	float: left\9;
		}

		td {
			border-right: none !important;

			&:first-child {
				border-bottom: none;
				padding-bottom: 1px;
				padding-top: 15px;
			}

			&:last-child {
				padding-top: 1px;
				padding-bottom: 15px;
			}
		}

		tr:last-child {
			td:last-child {
				border-bottom: none;
			}
		}
	}
}

// Icon
.sprites {
	@include sprites($svg: false, $bgi: '../jayhan/img/product-page-sprites.png', $bgs: 236px 219px);

	&-product {
		&__features, &__fees, &__eligibility {
			width: 26px;
			height: 26px;
			vertical-align: -4px;
		}

		&__features {background-position: -63px -167px}
		&__fees {background-position: -90px -167px}
		&__eligibility {background-position: -117px -167px}
	}

	&-arrow--down {
		width: 12px;
		height: 12px;
		background-position: -147px -167px;
	}
}

// Aside
.section-features__aside {
	@media (max-width: $screen-sm-max) {
		margin-top: 40px;
		display: none;

	}
}


.aside-block {
	h4 {
		font-size: 17px;
		margin-bottom: 16px;
		margin-top: 6px;
		position: relative;
		padding-left: 20px;

		&:before {
			content: '';
			width: 12px;
			height: 12px;
			background: url(../jayhan/img/product-page-sprites.png) no-repeat -147px -167px;
			background-size: 236px 219px;
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

.suggested__product {
	display: block;
	border-radius: $radius;
	border: 1px solid $color-border;
	overflow: hidden;
	@include transition(all .1s linear);

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&:hover, &:focus {
		text-decoration: none;
	}

	&:hover {
		box-shadow: 0 0 0 1px #44acdc;
		border-color: #44acdc;
	}

	&--title {
		padding: 12px 20px;
		font-family: $font-semibold;
		border-bottom: 1px solid $color-border;
		color: $color-brand2;
		line-height: 1.25;
		overflow: hidden;

		img {
			display: inline-block;
			max-width: 55px;
			margin-right: 10px;
			margin-top: 3px;
			vertical-align: baseline;
			float: left;
		}

		p {
			display: inline-block;
			@include calc(width, '100% - 65px');
			margin-bottom: 0;
		}
	}

	&--info {
		width: 50%;
		float: left;
		padding: 12px 15px;
		font-size: 13px;
		color: $color-lighter;
		border-right: 1px solid $color-border;

		&:last-of-type {
			border-left: 1px solid $color-border;
			border-right: none;
			margin-left: -1px;
		}

		strong {
			font-size: 16px;
			color: $color-brand1;
			font-family: $font-semibold;
		}
	}
}

//------------------------------------
// MODAL
//------------------------------------
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";
@import "_inc/_apply-form";


//------------------------------------
// FORM
//------------------------------------
// .icn_name::-webkit-input-placeholder,
// .icn_email::-webkit-input-placeholder,
// .icn_tel::-webkit-input-placeholder { color: #ddd; }
// .icn_name:-moz-placeholder,
// .icn_email:-moz-placeholder,
// .icn_tel:-moz-placeholder { color: #eee; }
// .icn_name::-moz-placeholder,
// .icn_email::-moz-placeholder,
// .icn_tel::-moz-placeholder { color: #eee; }
// .icn_name:-ms-input-placeholder,
// .icn_email:-ms-input-placeholder,
// .icn_tel:-ms-input-placeholder { color: #eee; }

select.form-control {
	border-radius: $radius 0 0 $radius;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff url(img/dropdown-triangle.png) right 8px center no-repeat;
	background-size: 10px 6px;
	padding-right: 16px + 10px;

	.input-group-lg & {
		line-height: 1.5;
	}
}

.input-group-addon + .form-control {
	border-radius: 0 $radius $radius 0 !important;
}

.icn_name, .icn_email, .icn_tel {
	background: url(img/form/icn_form.png) #fff no-repeat;
	background-size: 24px auto;
	padding-left: 40px;
}
.icn_name {
	background-position: 7px 4px;

	&.input-lg {background-position: 7px 9px}
}
.icn_email {
	background-position: 7px -46px;

	&.input-lg {background-position: 7px -41px}
}
.icn_tel {
	background-position: 7px -94px;

	&.input-lg {background-position: 7px -89px}
}

.form-horizontal .control-label {
	text-align: left;
	margin-bottom: 0;
	padding-top: 7px;
}

.secure {
	font-family: $font-semibold;
  font-size: 12px;
  color: #E15C31;
  margin-bottom: 0;

  i {
  	background: url(img/form/icon-lock.png) no-repeat center left;
	  background-size: 12px auto;
	  width: 12px;
	  height: 17px;
	  display: inline-block;
	  margin-right: 8px;
	  vertical-align: -3px;
  }
}

// parsley
input, textarea, select {
	&.parsley-error {border-color: $color-alert}
}

//------------------------------------
// SECTION - REVIEW / FAQ
//------------------------------------

.review__header {
	background-color: #ECF0F4;
	@include background(linear-gradient(to bottom, rgba(221,226,230,1), rgba(236,240,244,1)));
	padding: 40px 30px;
	text-align: center;

	h3 {
		margin-top: 20px;
	}

	img {
		margin-left: 7px;
	}

	.divider {
		width: 200px;
		height: 1px;
		border-top: solid 1px #D6DEE4;
		display: inline-block;

		&--left {
			margin-right: 15px;
		}

		&--right {
			margin-left: 15px;
		}

		@media (max-width: 580px) {
			width: 30%
		}
	}
}

.review__body {
	padding: 40px 30px;

	@media (max-width: $screen-xs - 1) {
		padding: 30px 15px;
	}

	h3 {
		font-family: $font-bold;
	}

	ul li {
		background: url(/img/list-bullet.png) no-repeat 2px 8px;
    padding: 0 0 10px 18px;
	}
}

.section-faq {
	counter: faq;
	background-color: #fff;
	padding: 60px 0;

	@media (max-width: $screen-sm-max) {
		.helper {
			margin-top: 15px;
		}
	}
}

.faq-main {
	@media (min-width: $screen-md) {
		@include order(1);
	}
}

.faq-title {
	font-family: $font-light;
	color: $color-brand2;
	font-size: 24px;
	counter-increment: faq;

	&:before {
		content: counter(faq)'. ' ;
	}
}

* + .faq-title {
	margin-top: 30px;
}

// .faq {
// 	counter-increment: faq;
// 	//max-width: 650px;
// 	padding: 15px 0;

// 	&__lead {
// 		font-size: 18px;
// 	}

// 	h3 {
// 		font-family: $font-light;
// 		color: $color-brand2;

// 		&:before {
// 			content: counter(faq)'. ' ;
// 		}
// 	}

// 	> *:last-child {
// 		margin-bottom: 0;
// 	}
// }

//------------------------------------
// STICKY PRODUCT HEADER
//------------------------------------
@import "_inc/_sticky-product-header";

//------------------------------------
// HELPER CLASS
//------------------------------------

.mt-30 {margin-top: 30px;}


@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";

//------------------------------------
// IE9
//------------------------------------

.no-flexbox {
	.section-promo__wrapper {
		overflow: hidden;

		> * {
			float: left;
		}
	}

	.promo__image {
		width: 20%;
	}
	.promo__content {
		width: 80%;
	}
}