//importing bourbon library
@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//importing bootstrap assets
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";

///importing imoney global assets
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";

//import navigation submenu
@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";

//import slick css
@import "../../bower_components/imoney-assets/bower_components/slick.js/slick/slick.scss";

/* ==========================================================================
   INDIVIDUAL SCSS FOR PERSONAL LOAN PRODUCT
   ========================================================================== */

@import "../../bower_components/imoney-assets/dev/scss/_inc/_product-page-v1";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-checkboxtoggle";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_im-nouislider";


//overwriting apply modal style for Self-Serve form
.modal-apply-v2 {
	label { font-family: $font-semibold; }
	.form-control::-moz-placeholder { color: #C4C4C4; opacity: 1; }
	.form-control:-ms-input-placeholder { color: #C4C4C4; }
	.form-control::-webkit-input-placeholder { color: #C4C4C4; }
	.form-control[disabled] { opacity: 0.5; }
	&__dialog {
		width: 570px;
		@media (max-width: 595px) {
			left: 0;
			width: 100%;
		}
	}
	.modal-open &__content {
		overflow-y: overlay; // to fix scrollbar issue when first slide has scrollbar and second doesnt
	}
	.apply-form {
		padding: 0 20px;
		li { padding: 0; border-bottom: none; color: $color; }
	} .basic-apply-form {
		padding: 30px;
	}
	.apply-product {
		background-color: white;
	}
	.apply-details {
		background-color: #ECEFF2;
		padding: 0 45px;
		@include font-size(1.2);
		color: #828282;
		margin-bottom: 30px;
		&-item {
			padding: 20px 20px 20px 0px;
			@media (max-width: 595px) {
				padding: 20px 0px;
				&:last-child {
					padding: 20px 0px 20px 20px;
				}
			}
		}
		.row:first-child .apply-details-item {
			border-bottom: solid 1px #DBDDE0;
		}
		span {
			display: block;
			font-family: $font-semibold;
			@include font-size(1.6);
			color: $color;
		}
		.info-red { color: #da4f49 !important; font-size: 10px; margin-top: 3px;}
		.input-group span { display: table-cell; }
		#edit-btn, #save-btn { cursor: pointer; }
		#save-btn { display: none; }
	}
	.font-xs label { font-family: $font; }
	.btn-apply-complement { width: auto; width: 100%; }
	&__content {
		.product-name {
			display: inline-block;
		    font-size: 18px;
		    font-size: 1.8rem;
		    color: #434C55;
		    font-family: "open_sansregular","Helvetica Neue",Arial,sans-serif;
		    margin: 0;
		    padding-top: 4px;
		}
	} .selectBranch select:last-of-type {
		margin-top: 10px;
	}

	// Progress bar
	#progress-bar {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.progress-container {
		width: 100%;
		padding: 0 30px;
		margin: 30px auto;
		margin-bottom: -15px;
		display: none;
	}

	.progress-bar-green {
		display: block;
		height: 2px;
		background-color: #6DBC63;
		width: 0%;
		transition: width 1s;
	}

	.progress-bar-gray {
		display: block;
		height: 2px;
		background-color: #DCE5E8;
		width: 100%;
		margin-top: -12px;
	}

	.breadcrumb {
		padding-top: 2px;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		background-color: #FFF;
		border: 1px solid #6E8F98;	
		color: #6E8F98;
		position: relative;
		z-index: 99;
		display: inline-block;
		transition: 1s background-color;
		text-align: center;
	}

	.breadcrumb-active {
		background-color: #6DBC63;
		color: #FFF;
		border: none;
	}

	.breadcrumb-tick {
		background-image: url(/jayhan/img/tick-success.svg);
	    color: transparent;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 60%;
	}

	#progress-three {
		display: block;
		text-align: center;
		#breadcrumb3 {
			float: right;
		}
		#breadcrumb1 {
			float: left;
		}
	}

	#progress-two {
		display: none;
		#breadcrumb2 {
			float: right;
		}

	}

	.color-red {
		font-size: 1.1rem;
		display: block;
		line-height: 15px;
		margin-top: 5px;
	}
	// .ioscaret-fix {
	// 	display: none;
	// }
}

body.iosBugFixCaret.modal-open { position: fixed; width: 100%; }

#modal-apply {
	//overwriting slick buttons
	.slick-prev, .slick-next {
		position: static;
		top: auto;
		margin: 0 auto;
		width: auto;
		height: auto;
		padding: 12px 25px 13px;
		line-height: normal;
		@include font-size(1.6);
		&:before { display: none; }
	}
	.slick-prev { left: auto; background: transparent; color: #1E7EA9; margin-top: 20px; margin-bottom: 20px; padding: 0; @include font-size(1.4); }
	.slick-next { right: auto; background: #1E7EA9; color: #FFF; border-radius: 3px; box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2); }
	.slick-dots { display: flex !important; justify-content: space-between; bottom: auto; top: -45px; left: calc(50% - 118px); width: 236px; z-index: 2;
		li {
			height: 25px; margin: 0; cursor: default; pointer-events: none;
			button {
				position: absolute;
				background: #FFF;
				padding: 0 0 2px 1px;
				border: solid 2px #DCE5E8;
				border-radius: 50%;
				width: 25px;
				height: 25px;
				left: calc(50% - 12px);
				line-height: normal;
				@include font-size(1.2);
				color: #6E8F98;
				cursor: default;
				pointer-events: none;
				&:before { display: none; }
			}
			&:first-child button { left: 0; }
			&:last-child button { left: auto; right: 0; }
			&.slick-active button {
				border: solid 2px #6DBC63;
				background-color: #6DBC63;
				color: #FFF;
				transition: all 0.2s ease;
				transition-delay: 0.7s;
			}
			&.slick-done button {
				border: solid 2px #6DBC63;
				background: #6DBC63 url(/v4/img/tick-success.svg) no-repeat 5px 6px;
				background-size: 12px auto;
				@include font-size(0);
				transition: all 0.3s ease;
			}
		}
	}
	.slick-dots__progressline {
		position: absolute;
		background: #DCE5E8;
		width: 236px;
		height: 2px;
		top: -34px;
		left: calc(50% - 118px);
		z-index: 1;
		span {
			display: block;
			width: 0%;
			height: 2px;
			background: #6DBC63;
		}
	}

	// Self-serve form custom style
	h4 {
		margin-bottom: 10px;
		font-family: $font;
		color: $color;
		text-align: center;
		font-size: 20px;
	}
	h5 {
		font-family: $font;
	    font-size: 16px;
	    color: #8E8E8E;
	    margin-bottom: 30px;
	    text-align: center;
	    line-height: 20px;
	}
	.icn-application {
		display: inline-block;
		background: #F5CD45 url(/jayhan/img/icon-application.png) no-repeat 15px 13px;
		background-size: 32px auto;
		width: 63px;
		height: 63px;
		margin-right: 15px;
		border-radius: 50%;
		vertical-align: top;
	}
	.selectBranch select {
		// margin-bottom: 10px;
	}
	#outlet-more-info {
		display: none;
	}
	.btns-radio {
		list-style-position: inside;
		overflow: hidden;
		li {
			position: relative;
		}
		$input-btn-default: #E8EAEB; //grey
		$input-btn-selected: #FC8F51; //orange
		input[type="checkbox"],
		input[type="radio"] {
			display: block;
			position: absolute;
			opacity: 0.011;
			z-index: 100;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		input[type="checkbox"]:checked + label,
		input[type="radio"]:checked + label,
		input[type="checkbox"]:checked + label:hover,
		input[type="radio"]:checked + label:hover {
			background-color: $input-btn-selected;
			border: solid 1px $input-btn-selected;
			color: #FFF;
			.tick:before {
				content: "";
				display: block;
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				left: 0;
				background-color: $input-btn-selected;
				-webkit-mask: url(/v4/img/tick-success.svg) no-repeat 4px 5px;
				mask: url(/v4/img/tick-success.svg) no-repeat 4px 5px;
				-webkit-mask-size: 12px auto;
				mask-size: 12px auto;
			}
		}
		input[type="checkbox"][disabled] + label:hover {
			background-color: $input-btn-default;
		}
		input[type="checkbox"] + label,
		input[type="radio"] + label {
			display: block;
			cursor: pointer;
			z-index: 90;
			background-color: $input-btn-default;
			border: solid 1px $input-btn-default;
			border-radius: 3px;
			padding: 8px 12px;
			font-family: $font;
			@include font-size(1.4);
			color: #859297;
			@include transition(all 200ms linear);
			&:hover {
				background-color: #D7DDE0;
			}
			.tick {
				display: inline-block;
				position: relative;
				vertical-align: middle;
				background-color: #FFF;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}
		}
		&-switch li {
			width: 50%;
			display: inline-block;
			&:first-child label { border-radius: 3px 0 0 3px; margin-right: 1px; }
			&:last-child label { border-radius: 0 3px 3px 0; }
			float: left;
		}
		&-switch2 {
			display: flex;
			li {
				flex-grow:1;
				input[type="radio"] + label {
					display: grid;
					height: calc(100% - 1px);
					line-height: 18px;
					border-radius: 0;
					margin-right: 1px;
					text-align: center;
					align-items: center;
				}
				&:first-child input[type="radio"] + label { border-radius: 3px 0 0 3px; }
				&:last-child input[type="radio"] + label { border-radius: 0 3px 3px 0; }
				
			}
			@media (max-width: $screen-xs) {
				flex-wrap: wrap;
				li {
					flex: 1 0 50%;
				}
				&.fouroptions {
					li {
						&:first-child input[type="radio"] + label { border-radius: 3px 0 0 0; }
						&:nth-child(2) input[type="radio"] + label { border-radius: 0 3px 0 0; }
						&:nth-child(3) input[type="radio"] + label { border-radius: 0 0 0 3px; }
						&:last-child input[type="radio"] + label { border-radius: 0 0 3px 0; }
					}
				}
				&.fiveoptions {
					li {
						&:first-child input[type="radio"] + label { border-radius: 3px 0 0 0; }
						&:nth-child(2) input[type="radio"] + label { border-radius: 0 3px 0 0; }
						&:last-child input[type="radio"] + label { border-radius: 0 0 3px 3px; }
					}
				}
			}
			@media (max-width: 343px) {
				// first option of this field is longer, so flex layout rearranged
				&.edu-level {
					li {
						&:first-child input[type="radio"] + label { border-radius: 3px 3px 0 0; }
						&:nth-child(2) input[type="radio"] + label { border-radius: 0; }
						&:nth-child(3) input[type="radio"] + label { border-radius: 0; }
						&:last-child input[type="radio"] + label { border-radius: 0 0 3px 3px; }
					}
				}
			}
		}
	}
	.privacy-policy {
		color: #888;
		text-align: left;
	}

	//hide spindown on number fields
	input[type="number"] {
		-moz-appearance:textfield;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
}

.form-dash:before {
    content: "-";
    position: absolute;
    left: -2%;
    top: 6px;
}
