extends ../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href="//fonts.googleapis.com/css?family=Roboto:500,400,300,600", rel="stylesheet", type="text/css")

append head-script
	script.
		window.ParsleyConfig = {
		    errorsWrapper: '<div></div>',
		    errorTemplate: '<span class="color-red font-xsm"></span>'
		};
	script.
		iAJSLoader.init([
		    [
		        "https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"
		    ],
		    [
		        "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
		        "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js",
		        "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js",
		    ],     
		    [
		        "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js",
		        "/v4/js/base.min.js",
		        "/jayhan/easyrhb.json"
		    ],
		    [
		       	"/jayhan/easy-rhb-apply.min.js"
		    ],
		    [
		        'https://apply.imoney.my/js/apply.js'
		    ]
		]);

block content

	//header
	.top(id="top", data-region="top-bar", data-imu-track="a")
		.container
			a(data-action="user-click-imoney-logo", href="/").top__logo.hide-text iMoney.my			
			span.top__slogan Compare, Select & Save
			.top__call
				span Need Assistance
				a(data-action="Call", href="tel:+60327879181") +603 2787 9181

	//RHB Hero
	header.rhb-hero
		.container
			.rhb-hero__logo
			.rhb-hero__buddy
			.rhb-hero__tagline
				h1 Get Cash in 10 minutes
				h3 Upon approval For Easy-Pinjaman Ekspres
				a(href="#").btn.btn-lg.btn-apply-top.btn-green-shade.visible-xs Apply Now!			
			.rhb-hero__steps
				h3.visible-xs With just 3 easy steps
				.row
					//- mixin steps(step, stepdesc)						
					//- 	.col-sm-4
					//- 		div(class="hero-steps__wrapper")
					//- 			.hero-steps__content
					//- 				h3 = Step #{step} : 
					//- 				p = stepdesc							

					//- +steps('1','Complete form below')
					//- +steps('2','Receive call from RHB Easy Representative')
					.col-sm-4
						.hero-steps__wrapper.steps1
							.hero-steps__content
								h3 Step 1 :
								p Complete form below
					.col-sm-4
						.hero-steps__wrapper.steps2
							.hero-steps__content
								h3 Step 2 :
								p Receive call from RHB Easy Representative
					.col-sm-4
						.hero-steps__wrapper.steps3
							.hero-steps__content
								h3 Step 3 :
								p Collect your personal financing at nearest branch

	.rhb-content-wrapper
		.container
			.row
				.col-lg-7.col-md-6.rhb-content-wrapper__left
					h1 Easy Pinjaman Ekspres - Personal Financing
					h4 Unique Features :

					mixin feature 
						li On the spot approval and disbursement
						li Flexible Personal financing amounts from RM2,000 to RM150,000
						li Low monthly installment amount from less than RM60 per month
						li Flexible loan repayment tenure up to 5 years (60 months)

					ul.unique-features
						+feature

				.col-lg-5.col-md-6.rhb-content-wrapper__right(data-region="Easy Pinjaman Ekspress Form", data-vertical="personal-loan", data-imu-track="a, input, select, button")
					.form-heading
						h2 FILL OUT THIS FORM
						h4 Get your cash in 10 minutes
					.form-progress
						.indicator.indicator__first About you
						.indicator.indicator__second Select Branch
					form(action="", method="" id="rhb-financing-form" data-parsley-validate).form-horizontal
						#rhb-form
							div
								.rhb-form__content
									.form-upper
										.form-group
											label Amount needed (RM)
											input(type="number", placeholder="8000", name="amount", data-parsley-group="blockdetails", required, data-parsley-required-message="Please enter the amount", data-parsley-type="number", data-parsley-type-message="Amount is invalid", data-parsley-minlength="4", data-parsley-minlength-message="Amount is required (Min. 4 digits)")
									.form-lower
										.form-group
											label.control-label.col-sm-3 Name :
											.col-sm-9
												input(type="text", name="name", placeholder="Khairul Anuar", data-parsley-group="blockdetails", required, data-parsley-required-message="Please enter your name", data-parsley-pattern="/^[a-zA-z\\s]*$/", data-parsley-pattern-message="Your name should only consist of letters", data-parsley-minlength="3", data-parsley-minlength-message="Please enter your name (Min. 3 digits)")
										.form-group
											label.control-label.col-sm-3 Ic Number :
											.col-sm-9
												input(type="number", name="ic-number", placeholder="881208561234", data-parsley-group="blockdetails", required, data-parsley-required-message="Please enter your IC Number", data-parsley-type="number", data-parsley-type-message="IC Number is invalid", data-parsley-minlength="12", data-parsley-minlength-message="IC Number is required (Min. 12 digits)")
										.form-group
											label.control-label.col-sm-3 Mobile No :
											.col-sm-9
												input(type="number", name="mobile-num", placeholder="0191234567", data-parsley-group="blockdetails", required, data-parsley-required-message="Please enter your Mobile Number", data-parsley-type="number", data-parsley-type-message="Mobile Number is invalid", data-parsley-minlength="10", data-parsley-minlength-message="Mobile Number is required (Min. 10 digits)")
										.form-group
											label.control-label.col-sm-3 Email :
											.col-sm-9
												input(type="email", name="email", placeholder="youremail@example.com", data-parsley-group="blockdetails", required, data-parsley-type="email", data-parsley-error-message="A valid email address is required")
										.btn-wrapper.text-right
											a#next-q.btn.btn-lg.btn-green-shade NEXT
							div
								.rhb-form__content
									h1.select-header NOW SELECT YOUR EASY NEAREST OUTLET TO COLLECT
									.line-separator
									.location-wrapper
										.form-group
											label.control-label.col-sm-3 State :
											.col-sm-9
												select(id="state",name="state", class="chosen-select", tabindex="-1", required, data-parsley-required-message="Please select state")
													mixin stateoption(value,text)
														option(value=value)= text

													+stateoption('','Please select state..') 
													+stateoption('Johor','Johor')
													+stateoption('Kedah','Kedah')
													+stateoption('Kelantan','Kelantan')
													+stateoption('Kuala Lumpur','Kuala Lumpur')
													+stateoption('Melaka','Melaka')
													+stateoption('Negeri Sembilan','Negeri Sembilan')
													+stateoption('Pahang','Pahang')
													+stateoption('Perak','Perak')
													+stateoption('Perlis','Perlis')
													+stateoption('Pulau Pinang','Pulau Pinang')
													+stateoption('Putrajaya','Putrajaya')
													+stateoption('Sabah','Sabah')
													+stateoption('Sarawak','Sarawak')
													+stateoption('Selangor','Selangor')
													+stateoption('Terengganu','Terengganu')
										.form-group
											label.control-label.col-sm-3 Easy Outlet
											.col-sm-9 
												select(id="rhb-outlet", name="rhb-outlet", class="chosen-select", disabled, tabindex="-1", required, data-parsley-required-message="Please select your nearest Easy Outlet")
													option Please select outlet..
										#outlet-more-info
											.form-group
												label.control-label.col-sm-3 Address :
												.col-sm-9
													span#outlet-address
											.form-group
												label.control-label.col-sm-3 Op. Hours
												.col-sm-9
													span#operation-hours
										.form-group
											.col-xs-12.col-sm-offset-3.col-sm-9
												.row
													.col-xs-1
														input(type="checkbox", tabindex="-1", id="checkbox-clarify", name="checkbox-clarify", style="width:20px;height:20px;vertical-align:top;", checked)
													.col-xs-10
														label(style="text-transform:none;font-size:16px; text-align:left;", class="clarify", for="checkbox-clarify") I hereby give consent and authorises Easy by RHB to contact me to complete my registration
										.btn-wrapper.text-right.submit-wrapper
											button(id="rhb-btn-submit", type="submit", tabindex="-1").btn.btn-lg.btn-green-shade Apply
									a(href="/thank-you", tabindex="-1").back-link < Edit Info

					.rhb-form-guide
						p What happens after you fill in your details:
						ol
							li You'll receive a call back within next business day by RHB Easy-Pinjaman Ekspres Representatives.
							li Alternatively please walk in to your preferred Easy by RHB Branch for 10 minutes approval Now!










block footer-script
	link(rel='stylesheet', href='/v4/bower_components/chosen/chosen.min.css')
	link(rel='stylesheet', href='/jayhan/easy-rhb-apply.css')
	<!--[if lte IE 9]>
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
	script(src="/v4/js/base.min.js")
	script(src="/jayhan/easy-rhb-apply.min.js")
	script(src="//cdn.optimizely.com/js/2356000143.js")
	<![endif]-->

