extends ../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href="//fonts.googleapis.com/css?family=Roboto:500,400,300,600", rel="stylesheet", type="text/css")

append head-script
	script.
		iAJSLoader.init([
		    [
		        "https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"
		    ],
		    [
		        "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
		        "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js",
		    ],     
		    [
		        "/v4/js/base.min.js",
		        "/jayhan/easyrhb.json"
		    ],
		    [
		       	"/jayhan/easy-rhb-thankyou.min.js"
		    ]
		]);

block content
	//header
	.top(id="top", data-region="top-bar", data-imu-track="a")
		.container
			a(data-action="user-click-imoney-logo", href="/").top__logo.hide-text iMoney.my			
			span.top__slogan Compare, Select & Save
			.top__call
				span Need Assistance
				a(data-action="Call", href="tel:+60327879181") +603 2787 9181

	//RHB HERO
	header.rhb-hero.thank-you-hero
		.container
			.rhb-hero__logo
			.rhb-hero__thankyoumessage
				.thank-you__icon.animated.bounceIn
					i
				h1.thank-you__title.animated.fadeInUp Application Successful!
				h2.thank-you__subtitle Hi 
					span#customer_name 
					, thank you for your application
				p.thank-you__message You will receive a call from RHB Easy within the next business day.

	//OUTLET INFO
	.rhb-outlet-info
		.container
			.rhb-outlet-info__header You have selected :
			.rhb-outlet-info__body
				.row
					.col-sm-5
						h4 Your preferred State for collection
						#state
					.col-sm-7
						h4 Your preferred RHB Easy Outlet
						#outlet
						#outletAddress

	span#state
	span#outlet



block footer-script
	link(rel='stylesheet', href='/jayhan/easy-rhb-apply.css')
