extends ../dev/jade/base.jade

block css
    link(rel='stylesheet', href='/v4/css/base-critical.css')



//		script.
//			if (foo)
//				bar();
append head-script

    script.
        iAJSLoader.init([
            [
                "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
                "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js",
                "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js",
            ],
            [,
                "/v4/js/base.min.js",
                "/v4/js/404.min.js"
            ]
        ]);
    script.
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
            (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                    '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

    script.
        googletag.cmd.push(function() {
        googletag.defineSlot('/422122608/V4_Flexible_Tri_Panel_1', [350, 425], 'div-gpt-ad-1448186326768-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.pubads().setTargeting('Region', '{{region}}').setTargeting('Category', '404').setTargeting('Path', '{{uri}}');
        googletag.enableServices();
        });

block content

    if(region == "my")
        include ../bower_components/imoney-assets/dev/templates/my/en/mb-navigation-v2.html
    else if(region=="ph")
        include ../bower_components/imoney-assets/dev/templates/ph/en/mb-navigation-v2.html
    else if(region=="id")
        include ../bower_components/imoney-assets/dev/templates/id/id/mb-navigation-v2.html
    else if(region=="sg")
        include ../bower_components/imoney-assets/dev/templates/sg/en/mb-navigation-v2.html

    div.inner-wrap

        if(region == "my")
            include ../bower_components/imoney-assets/dev/templates/my/en/topbar-v2.html
            include ../bower_components/imoney-assets/dev/templates/my/en/navigation-v2.html
            include ../bower_components/imoney-assets/dev/templates/my/en/_404.html
        else if(region=="ph")
                 include ../bower_components/imoney-assets/dev/templates/ph/en/topbar-v2.html
                 include ../bower_components/imoney-assets/dev/templates/ph/en/navigation-v2.html
                 include ../bower_components/imoney-assets/dev/templates/ph/en/_404.html
        else if (region=="id")
                include ../bower_components/imoney-assets/dev/templates/id/id/topbar-v2.html
                include ../bower_components/imoney-assets/dev/templates/id/id/navigation-v2.html
                include ../bower_components/imoney-assets/dev/templates/id/id/_404.html
        else if (region == "sg")
                 include ../bower_components/imoney-assets/dev/templates/sg/en/topbar-v2.html
                 include ../bower_components/imoney-assets/dev/templates/sg/en/navigation-v2.html
                 include ../bower_components/imoney-assets/dev/templates/sg/en/_404.html

        if(region == "my")
            include ../bower_components/imoney-assets/dev/templates/my/en/footer.html
        if(region == "ph")
            include ../bower_components/imoney-assets/dev/templates/ph/en/footer.html
        if(region == "id")
            include ../bower_components/imoney-assets/dev/templates/id/id/footer.html
        if region == "sg"
            include ../bower_components/imoney-assets/dev/templates/sg/en/footer.html


    link(rel="stylesheet",href="/v4/css/404.css")

