link(rel='stylesheet', href='/jayhan/personal-loan-refactor.css')
block footer-script
    <!--[if lte IE 9]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/v4/js/base.min.js"></script>
    <script src="//cdn.optimizely.com/js/2356000143.js"></script>
    <![endif]-->