if( (loan.field_apply_url != null) && region=="id")
    include ../dev/jade/tunaiku-form.jade
    link(rel='stylesheet', href='/jayhan/personal-loan__product-refactor.css')
else if(showPreQualify)
    include ../dev/jade/apply-form2
    link(rel='stylesheet', href='/jayhan/personal-loan__product-refactor2.css')
else
    include ../dev/jade/apply-form.jade
    link(rel='stylesheet', href='/jayhan/personal-loan__product-refactor.css')

//- Footer script for IE9 and below
block footer-script
    <!--[if lte IE 9]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"></script>
    <script src="/v4/js/base.min.js"></script>
    <script src="/jayhan/personal-loan__product.min.js"></script>
    <script src="//cdn.optimizely.com/js/2356000143.js"></script>
    <![endif]-->