header.header.header--page(role='banner')
    .container
        h1 !{header_title}
        p !{header_description}


.main(role='main')
    // CALCULATOR
    section#calculator.section-calculator
        .container
            form.calculator

                a.calculator--mobile(href="#")
                    strong #{language.translate('Show Calculator')}
                    .calculator--mobile-summary #{language.translate('I want to borrow')} <span id="mobile-amount">#{Currency}</span> for <span id="mobile-year">#{language.translate('year')}</span>

                // calculator - main
                .calculator--main(data-imu-track="input,option,select,checkbox")
                    .col-md-3
                        .start-here #{language.translate('START HERE!')}
                    .col-md-9
                        .form-inline
                            .form-group
                                label #{language.translate('I want to borrow')}
                                .input-group.input-group-lg
                                    span.input-group-addon #{Currency}
                                    input#input-amount.form-control(type="number",ng-change="update()",ng-model="filterAmount", placeholder="30000", aria-describedby="input-amount", value="30000",pattern="[0-9]*",data-action="Input",data-subject="User", data-description="Amount",data-vertical="Personal Loan",data-region="Listing Filter")
                            .form-group
                                label #{language.translate('for')}
                                .input-group.input-group-lg
                                    select#input-year.form-control(aria-describedby="input-year",ng-change="update()",ng-model="filterTenure",data-action="Input",data-subject="User", data-description="Tenure",data-vertical="Personal Loan",data-region="Listing Filter")
                                        - var Min_value = Min_value_Tenure
                                        - var start_value = Min_value_Tenure
                                        if limit_max_Tenure < Max_value_Tenure
                                            - var Max_value = limit_max_Tenure
                                        else
                                            - var Max_value = Max_value_Tenure
                                        -for(var i=Min_value; i<=Max_value;i=i+interval_Tenure)
                                            option(value= i ,data-subject='User', data-action='Input', data-description="Tenure", data-region="Listing Filter", data-vertical='Personal Loan')= i
                                    span.input-group-addon #{language.translate('year')}

                // calculator - filter
                .calculator--filters
                    .row
                        .col-md-9.col-md-offset-3
                            .filter.col-xs-40p.filter-slider
                                span.filter-label #{language.translate('Monthly salary')}
                                    strong#salary-howmuch.slider-amount #{Currency}5000
                                .filter-control
                                    #slider-salary
                                    //- input(type="range",ng-model="range",slider, id="salary",ng-change="update()", min="0", max="10000", step="100", value="10000")
                            if (government) || ( (islamic && government))
                                .filter.col-xs-30p.col-lg-25p
                                    span.filter-label #{language.translate('Government servant?')}
                                    .filter-control
                                        input.toggle-input(type="checkbox", id="government-servant",ng-model="government",ng-change="update()", name="government-servant",data-region="Listing Filter",data-action="Input",data-subject="User", data-description="Government Servant",data-vertical="Personal Loan")
                                        label.toggle(for="government-servant")
                                            i.no #{language.translate("NO")}
                                            span
                                            i.yes #{language.translate("YES")}
                            if (islamic && government)
                                .filter.col-xs-30p
                                    span.filter-label #{language.translate('Show Islamic loan only')}
                                    .filter-control
                                        input.toggle-input(type="checkbox", id="islamic-only", ng-model="islamic",ng-change="update()",name="islamic-only",data-action="Input",data-subject="User", data-description="Islamic Loan",data-vertical="Personal Loan")
                                        label.toggle(for="islamic-only")
                                            i.no #{language.translate("NO")}
                                            span
                                            i.yes #{language.translate("YES")}

                        .col-md-12.btn-calculator--mobile
                            button.btn.btn-info.btn-block.btn-calculator-close
                                .btn-spinner
                                span #{language.translate('Calculate and close panel')}

    .advertisement
        // ADVERTISEMENT
        <!-- /422122608/V4_970_90_Top_Leaderboard_D -->
        #div-gpt-ad-1447813095536-2.hidden-xs.hidden-sm

        <!-- /422122608/V4_728_90_Top_Leaderboard_D -->
        #div-gpt-ad-1447813095536-1.visible-sm

    .advertisement-mb
        <!-- /422122608/V4_320_50_Top_Leaderboard_M -->
        #div-gpt-ad-1447813095536-3.visible-xs


    // COMPARISON & SIDEBAR
    section#comparison.section-comparison(data-region="Listing Content Main")
        .container
            .row.row-flex
                // Comparison Table
                #comparison-main.comparison-main.flex-md-9-12
                    if (islamicpage && lang === "ms")
                        .comparison-results #{language.translate('Showing')} <span id="result-number">{{tmp.length}}</span> #{'pembiayaan peribadi'}
                    else
                        .comparison-results #{language.translate('Showing')} <span id="result-number">{{tmp.length}}</span> #{language.translate('results')}
                    .comparison-table
                        div(pl watch-depth="value" params="tmp")
                            include ../dev/jade/tablecoulm.jade

                // Sidebar
                #comparison-side.comparison-side.flex-md-3-12(data-imu-track="button,a")

                    // compare
                    #compare-products.compare-products
                        h5 #{language.translate('Compare products')}

                        .cp-product--empty #{language.translate('You can compare up to 3 products by ticking the product checkboxes.')}

                        mixin cp-product(productName)
                            .cp-product
                                .cp-product-name= productName
                                .cp-product-close
                                    a.close(href="#")
                        //- +cp-product('HSBC Amanah Anytime Money Personal Financing-i')
                        //- +cp-product('RHB Easy-Pinjaman Ekspres')
                        //- +cp-product('Alliance Bank Fast Cash')

                        //- button.btn.btn-info.btn-block.btn-cp-product
                        //- 	| Compare

                        #cp-product-list.cp-product-list
                        button#btn-cp-product.btn.btn-info.btn-block.btn-cp-product.btn-cp-product--disabled(disabled='',data-action="Click",data-subject="User", data-description="Compare Products",data-region="Listing Content Main",data-vertical="Personal Loan")
                            | #{language.translate('Compare (0/3)')}

                    // sidebar helper
                    mixin helper(href, className, title, description)
                        li
                            a(href=href, class='helper--#{className}',data-action="Click",data-subject="User", data-description=title,data-vertical="Personal Loan" )
                                i
                                h5= title
                                p= description
                    ul.helper
                        +helper('#how', 'how', language.translate('How Does It Work?'), language.translate('Get your money in just 3 simple steps'))
                        +helper('#faq', 'faq', language.translate('What is Personal Loan?'), language.translate('Learn more about personal loan'))
                        if (region != "sg")
                            +helper('#enquire', 'ask', language.translate('Have A Question?'), language.translate('Get free advice from our experts'))
                    if(region=="my")
                        .testimonials
                            .testimonial
                                img.testimonial__portrait(src="https://www.imoney.my//testimonials-assets/img/avatar-thumb-penguin.png")
                                h5  Belinda Wong
                                .testimonial__rating
                                .testimonial__content
                                    p “ iMoney has provided me with valuable information on the lowest monthly repayments for Personal Loans. Helped me make the best 

                    // ADVERTISEMENT
                    .advertisement
                        <!-- /422122608/V4_240_600_Wide_Skyscraper -->
                        #div-gpt-ad-1476931098104-5.hidden-xs.hidden-sm



    // FAQ
    section#faq.section-faq
        .container
            .row.row-flex
                .faq-main.flex-md-9-12 !{Fqahtml}
                .faq-sidebar.flex-md-3-12
                    ul.helper
                        if region !="sg"
                            +helper('#enquire', 'ask', language.translate('Have a question?'), language.translate('Get free consultation with our expert advisors.'))

    // BOTTOM CTA
    section#cta.section-bottom-cta.a-center
        .container
            h3: strong #{language.translate('Reach your personal/business goal faster and safer with iMoney')}
            p #{language.translate('Use the personal loan calculator to find the best personal loan packages for free!')}
            div.bottom-cta__btn
                a.btn.btn-lg.btn-complement.btn-complement--gradient(href='#') #{language.translate('Get Started Now')}

// Modal - how it works
#modal-how.modal.fade
    .modal-dialog.modal-lg.modal-how
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('Close')}
        .modal-content()
            .modal-header.text-center
                h3.modal-title #{language.translate('How Personal Loan application works in iMoney')}
                p.modal-description #{language.translate('Get your loan approved by bank in 3 simple steps')}
            .modal-body.text-center
                .container-fluid
                    .row
                        mixin modal-howto(grid, step)
                            div(class="col-md-#{grid}")
                                i(class="how how--#{step}")
                                h4 Step #{step}
                                block

                        +modal-howto('4','1')
                            p #{language.translate('Find the best personal loan with our comparison table, then leave your detail by clicking the Apply button of your preferred loan.')}
                        +modal-howto('4','2')
                            p #{language.translate('Receive call from our friendly personal loan consultant. They will help you to answer your questions and submit your application to bank.')}
                        +modal-howto('4','3')
                            p #{language.translate('Your loan application will be submitted to the bank. Bank agent will make confirmation with you and get your loan approved in 5-7 business days.')}

// Modal - enquire
#modal-enquire.modal.fade(data-imu-track="input,textarea,button,select,option",data-region="Listing Have A Question Popup",data-subject="User",data-action="Input" ,data-vertical="Personal Loan")
    .modal-dialog.modal-lg.modal-enquire
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('Close')}
        .modal-content
            .modal-header.text-center
                .enquire-bee
                h3.modal-title #{language.translate('Have a personal loan question?')}
                p.modal-description #{language.translate('Ask here and get answered by our friendly consultant.')}
            .modal-body
                .container-fluid
                    .modal-form
                        .row
                            .col-md-6.col-md-push-3
                                form#form-enquire(data-parsley-validate='')
                                    .form-group
                                        input#enquire-name.form-control.icn_name( data-parsley-pattern='/^[a-zA-z\\s]*$/',data-value="$('#enquire-name').val()", data-parsley-pattern-message=language.translate('Your name should only consist of letters'), type='text', name=language.translate('name'), placeholder=language.translate('Your Name'), data-parsley-trigger='change', data-parsley-required-message=language.translate('Please enter your name'), data-parsley-minlength='3', data-parsley-minlength-message=language.translate('Please enter your name (Min. 3 digits)'), required='',data-description=language.translate('Your Name'))
                                    .form-group
                                        input#enquire-email.form-control.icn_email(data-description=language.translate('Email'), type='email',data-value="$('#enquire-email').val()", name='email_address', placeholder=language.translate('Email'), data-parsley-trigger='change', data-parsley-type='email', data-parsley-error-message=language.translate('A valid email address is required'), required='')
                                    .form-group
                                        input#enquire-phone.form-control.icn_tel(data-description='Contact Number', type='tel', name='phone_number', placeholder=language.translate('Contact Number'), data-parsley-required-message=language.translate('A valid phone number is required'), data-parsley-trigger='change', data-parsley-type='number', data-parsley-minlength='9', data-parsley-minlength-message=language.translate('A valid phone number is required (Min. 9 digits)'), required='')
                                    .form-group
                                        label(for="enquire-question") #{language.translate('Leave your question here')}
                                        textarea#enquire-question.form-control(data-description=language.translate('Question'), data-value="$('#enquire-question').val()", name="enquire-question", cols="30", rows="5", required='', data-parsley-required-message=language.translate('Please type your enquiry here'))
                                    button#btn-enquire-submit.btn.btn-success.btn-show(type='submit',data-action="User", data-description=language.translate('Question Form')) #{language.translate('Send my question')}
                    .modal-success.text-center
                        .row
                            .col-md-12
                                i.icon-success
                                    svg(xmlns='http://www.w3.org/2000/svg', width='39', height='32', viewbox='0 0 39 32')
                                        path(fill='#44B74D', d='M9.9 25.525l-7.07-7.07-2.827 2.828L9.9 31.18 38.18 2.9 35.354.074 9.9 25.525zM49.938 15.188')
                                h4 #{language.translate('Your enquiry has been sent to us successfully.')}
                                p #{language.translate('We will get back to you shortly.')}
                                button.btn.btn-success(data-dismiss="modal") #{language.translate('Close')}


            .modal-footer
                .container-fluid
                    .row
                        .col-md-12
                            p.secure
                                i
                                | #{language.translate('Your data is secure and will not be shared')}
// Modal - compare
#modal-compare.modal.fade
    .modal-dialog.modal-xlg.modal-compare
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('close')}
        .modal-content
            .modal-header.modal-header--pl.text-center
                h3.modal-title #{language.translate('Compare personal loans')}
            .modal-body
                .modal-table(data-imu-track="a",data-subject="Click",, data-action="Input", data-region="Listing Compare Popup", data-vertical="Personal Loan")
                    .table__header
                        .table-columns
                            .col-cp-head
                            .col-cp-product.col-cp-product-1
                                img.col-product-image(src="jayhan/img/bank-hsbc-amanah.png",id="product-0-img" )
                                .col-product-info
                                    -var applynowstring  ;
                                    -if(region=="sg"){
                                    - applynowstring ="Go to Bank"
                                    -}else{applynowstring = "Apply Now"}
                                    h3: a(id="product-0-name",data-description="Product Title") HSBC Amanah Anytime Money Personal Financing-i1Emad
                                    a(class ="btn btn-success btn-block btn-apply", id="product-0-applybtnup",data-description="Apply Button") #{language.translate(applynowstring)}

                            .col-cp-product.col-cp-product-2
                                img.col-product-image(src="jayhan/img/bank-hsbc-amanah.png" ,id="product-1-img",data-description="Apply Button" )
                                .col-product-info
                                    h3: a(id="product-1-name",data-description="Product Title") HSBC Amanah Anytime Money Personal Financing-i
                                    a(class ="btn btn-success btn-block btn-apply", id="product-1-applybtnup",data-description="Apply Button") #{language.translate(applynowstring)}
                            .col-cp-product.col-cp-product-3
                                img.col-product-image(src="" ,id="product-2-img")
                                .col-product-info()
                                    h3: a(id="product-2-name" ,data-description="Product Title")
                                    div(id='product-2-apply')
                                        a(class ="btn btn-success btn-block btn-apply", id="product-2-applybtnup") #{language.translate(applynowstring)}
                    .table__body

                        .table-columns.table-columns--description
                            .col-cp-head #{language.translate('Description')}
                            .col-cp-product.col-cp-product-1(data-head="Description" ,id ="product-0-Dis") Get up to RM1,000 cash back
                            .col-cp-product.col-cp-product-2(data-head="Description",id ="product-1-Dis") Get Cash in 10 minutes - upon approval
                            .col-cp-product.col-cp-product-3(data-head="Description",id ="product-2-Dis")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Interest rate per annum')}
                            .col-cp-product.col-cp-product-1(data-head="Interest rate per annum")
                                #product-0-Interest.col-cp-product--bold 11.50%
                            .col-cp-product.col-cp-product-2(data-head="Interest rate per annum")
                                #product-1-Interest.col-cp-product--bold 11.88%
                            .col-cp-product.col-cp-product-3(data-head="Interest rate per annum")
                                #product-2-Interest.col-cp-product--bold 11.88%

                        .table-columns.table-columns--interestrate
                            .col-cp-head
                                | #{language.translate('Monthly repayment')}
                                span.extra-info.loan-info
                            .col-cp-product.col-cp-product-1(data-head="Monthly repayment based on RM30,000 for 3 years")
                                #product-0-repayment.col-cp-product--bold RM1121
                            .col-cp-product.col-cp-product-2(data-head="Monthly repayment based on RM30,000 for 3 years")
                                #product-1-repayment.col-cp-product--bold RM1130
                            .col-cp-product.col-cp-product-3(data-head="Monthly repayment based on RM30,000 for 3 years")
                                #product-2-repayment.col-cp-product--bold

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Total amount payable')}
                            .col-cp-product.col-cp-product-1(data-head="Total amount payable",id ="product-0-payable") RM40536
                            .col-cp-product.col-cp-product-2(data-head="Total amount payable",id ="product-1-payable") RM40680
                            .col-cp-product.col-cp-product-3(data-head="Total amount payable",id ="product-2-payable")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Total interest paid')}
                            .col-cp-product.col-cp-product-1(data-head="Total interest paid" ,id ="product-0-paid") RM10536
                            .col-cp-product.col-cp-product-2(data-head="Total interest paid",id ="product-1-paid") RM10680
                            .col-cp-product.col-cp-product-3(data-head="Total interest paid",id ="product-2-paid")

                        .table-columns.table-columns--shadow
                            .col-cp-head #{language.translate('Approval duration')}
                            .col-cp-product.col-cp-product-1(data-head="Approval duration",id ="product-0-approval") Up to 3 business days
                            .col-cp-product.col-cp-product-2(data-head="Approval duration",id ="product-1-approval") On the spot
                            .col-cp-product.col-cp-product-3(data-head="Approval duration",id ="product-2-approval")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Loan tenure (min to max)')}
                            .col-cp-product.col-cp-product-1(data-head="Loan tenure (min to max)",id ="product-0-tenure") 1 to 5 years
                            .col-cp-product.col-cp-product-2(data-head="Loan tenure (min to max)",id ="product-1-tenure") 1 to 5 years
                            .col-cp-product.col-cp-product-3(data-head="Loan tenure (min to max)",id ="product-2-tenure")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Min salary requirement')}
                            .col-cp-product.col-cp-product-1(data-head="Min salary requirement",id ="product-0-salary") RM3000 gross per month
                            .col-cp-product.col-cp-product-2(data-head="Min salary requirement",id ="product-1-salary") RM1500 gross per month
                            .col-cp-product.col-cp-product-3(data-head="Min salary requirement",id ="product-2-salary")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Employment requirement')}
                            .col-cp-product.col-cp-product-1(data-head="Employment requirement",id ="product-0-empreq") Malaysian citizens employed as a Government servant, employee of a private sector organization, or self-employed
                            .col-cp-product.col-cp-product-2(data-head="Employment requirement",id ="product-1-empreq") Government servants, employees of private sector organizations, and self-employed individuals
                            .col-cp-product.col-cp-product-3(data-head="Employment requirement",id ="product-2-empreq")

                        .table-columns.table-columns--interestrate
                            .col-cp-head #{language.translate('Age requirement')}
                            .col-cp-product.col-cp-product-1(data-head="Age requirement",id ="product-0-Age") 21 - 55
                            .col-cp-product.col-cp-product-2(data-head="Age requirement",id ="product-1-Age") 21 - 55
                            .col-cp-product.col-cp-product-3(data-head="Age requirement",id ="product-2-Age")

                        .table-columns.table-columns--interestrate
                            .col-cp-head
                            .col-cp-product.col-cp-product-1
                                a(class ="btn btn-success btn-block btn-apply",data-description="Apply Button", id="product-0-applybtndown") #{language.translate('Apply Now')}
                            .col-cp-product.col-cp-product-2
                                a(class ="btn btn-success btn-block btn-apply", data-description="Apply Button",id="product-1-applybtndown") #{language.translate('Apply Now')}
                            .col-cp-product.col-cp-product-3
                                div(id="product-2-apply2")
                                    a(class ="btn btn-success btn-block btn-apply",data-description="Apply Button", id="product-2-applybtndown") #{language.translate('Apply Now')}


// Modal - apply
#modal-apply.modal.fade
    .modal-dialog.modal-lg.modal-apply-v1
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('Close')}
        .modal-content
            form#applyForm(method='get', data-parsley-validate='')
                .modal-header.modal-header--pl.text-center
                    h4#myModalLabel.modal-title #{language.translate('This is the product you have chosen')}
                .modal-body
                    .row
                        .col-sm-4.col-xs-12
                            .apply-product
                                .apply-product__img
                                    img(src="" id ="img-popup")
                                .apply-product__name
                                    h5(id ="bank-name-popup") HSBC Amanah Anytime Money Personal Financing-i
                                .apply-product__detail
                                    ul
                                        li
                                            b #{language.translate('Interest Rate')}
                                            p.apply-product__interest 8.75%



                        .col-sm-8.col-xs-12
                            .apply-form.capture(data-subject='User', data-action='Input', data-region='Listing Apply Popup', data-vertical='Personal Loan')
                                .apply-summary
                                    .row
                                        .col-md-5.col-sm-6
                                            .form-group(data-imu-track="input")
                                                label(for="apply-amount") #{language.translate('Loan Amount')}
                                                .input-group.input-group-lg
                                                    .input-group-addon #{Currency}
                                                    input#apply-amount.form-control(
                                                    type="number",
                                                    name="amount",
                                                    data-description="Loan Amount",
                                                    ng-model="filterAmount",
                                                    value="30000",
                                                    required
                                                    pattern="[0-9]*",
                                                    data-parsley-errors-container="#apply-amount-error-container")
                                                #apply-amount-error-container
                                        .col-md-4.col-sm-6
                                            .form-group(data-imu-track="input")
                                                label(for="apply-tenure") #{language.translate('Tenure')}
                                                .input-group.input-group-lg
                                                    select.form-control(name="tenure",ng-model="filterTenure",data-description="tenure", aria-describedby="input-year")
                                                        - var Min_value = Min_value_Tenure
                                                        - var start_value = Min_value_Tenure
                                                        if limit_max_Tenure < Max_value_Tenure
                                                            - var Max_value = limit_max_Tenure
                                                        else
                                                            - var Max_value = Max_value_Tenure
                                                        -for (var i=Min_value_Tenure ; i<Max_value-interval_Tenure;i=i+interval_Tenure)
                                                            option(value = i, )= i
                                                    span#input-year.input-group-addon #{language.translate('year')}
                                .apply-personaypl-detail
                                    p.instruction #{language.translate('Please provide accurate details so that we can help you proceed with the application sooner.')}

                                    .form-group(data-imu-track="input")
                                        input#name.form-control.input-lg.icn_name(data-parsley-pattern='/^[a-zA-z\\s]*$/',data-parsley-group="block6",data-value="$('#enquire-name').val()", data-parsley-pattern-message=language.translate('Your name should only consist of letters'), type='text', name='name', placeholder=language.translate('Your Name'), data-parsley-trigger='change', data-parsley-required-message=language.translate('Please enter your name'), required='', data-parsley-minlength='3', data-parsley-minlength-message=language.translate('Please enter your name (Min. 3 digits)'), tabindex='1', data-description='Your Name')
                                    .form-group(data-imu-track="input")
                                        input#email.form-control.input-lg.icn_email(type='email', data-description='Email', name='email_address', placeholder=language.translate('Email'),data-value="$('#email').val()", data-parsley-trigger='change', data-parsley-type='email', data-parsley-error-message=language.translate('A valid email address is required'), required='', data-parsley-group='block6', tabindex='2', description='Email')
                                    .form-group(data-imu-track="input")
                                        input#phone.form-control.input-lg.icn_tel(type='tel', name='phone_number', data-description='Contact Number', placeholder=language.translate('Contact Number'),data-value="$('#phone').val()", data-parsley-type-message=language.translate('This value should be a valid number.'), data-parsley-required-message=language.translate('A valid phone number is required'), data-parsley-trigger='change', data-parsley-type='number', required='', data-parsley-group='block6', data-parsley-minlength='9', data-parsley-minlength-message=language.translate('A valid phone number is required (Min. 9 digits)'), tabindex='3', description='Contact Number')
                                    .form-group#identification_no_div(data-imu-track="input")
                                        input#identification_no.form-control.input-lg.icn_ic(type='number', name='identification_no', data-description='IC Number', placeholder=language.translate('Nomor KTP (wajib diisi)'),data-value="$('#identification_no').val()", data-parsley-type-message=language.translate('This value should be a valid IC number.'), data-parsley-required-message=language.translate('A valid IC is required'), data-parsley-trigger='change', data-parsley-type='number' , data-parsley-group='block6', data-parsley-length="[16, 16]",data-parsley-length-message=language.translate('Harap isi nomor KTP yang benar'), tabindex='3', description='IC Number')
                                    if (City == true)
                                        .form-group(data-imu-track="option")
                                            .input-group.input-group-lg
                                                span.input-group-addon #{language.translate('City')}
                                                select(name="city",id="city", required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#city-error-container").form-control
                                                    option(value="") #{language.translate("Please select city")}
                                                    option(value="Jakarta") Jakarta
                                                    option(value="Bogor") Bogor
                                                    option(value="Depok") Depok
                                                    option(value="Tangerang") Tangerang
                                                    option(value="Bekasi") Bekasi
                                                    option(value="Bandung") Bandung
                                                    option(value="Bali") Bali
                                                    option(value="Sidoarjo") Sidoarjo
                                                    option(value="Surabaya") Surabaya
                                                    option(value="Lain-Lain") Lain-Lain
                                                    option(value="Gresik") Gresik
                                            #city-error-container
                                        .form-group(data-imu-track="option")
                                            .input-group.input-group-lg
                                                span.input-group-addon #{language.translate('Jenis Kelamin')}
                                                select(name="gender",id="gender", required, data-parsley-required-message=language.translate('Pilih salah satu') data-parsley-errors-container="#gender-error-container").form-control
                                                    option(value="") #{language.translate("Pilih salah satu")}
                                                    option(value="Male") Laki-laki
                                                    option(value="Female") Wanita
                                            #gender-error-container
                                    .row.row-spacing--top
                                        .col-md-5.col-sm-6
                                            .form-group(data-imu-track="input")
                                                label(for="apply-income") #{language.translate('Your monthly income')}
                                                .input-group.input-group-lg
                                                        span.input-group-addon #{Currency}
                                                        input#apply-income.form-control(
                                                        type="text",
                                                        data-description='Monthly Income',
                                                        placeholder=Monthly_Salary,
                                                        required='',
                                                        name='apply-income'
                                                        data-parsley-pattern="[0-9]*",
                                                        data-parsley-pattern-message=language.translate('Your monthly income should only consist of numbers')
                                                        data-parsley-errors-container="#apply-income-error-container"
                                                        )   
                                                    
                                                #apply-income-error-container
                                        if (government)
                                            .col-md-4.col-sm-6
                                                .form-group
                                                    label(for="apply-government-servant") #{language.translate('Government servant?')}
                                                    .checkbox--toggle
                                                        input.toggle-input(type="checkbox",ng-model="government" ,id="apply-government-servant", name="government-servant")
                                                        label.toggle.toggle-lg(for="apply-government-servant")
                                                            i.no #{language.translate('No')}
                                                            span
                                                            i.yes #{language.translate('Yes')}
                                    if (NPWP)
                                        .col-sm-4
                                            .form-group
                                                label(for="no-npwp") #{language.translate('No NPWP')}
                                                .checkbox--toggle
                                                    input.toggle-input(type="checkbox",id="no-npwp", name="")
                                                    label.toggle.toggle-lg(for="no-npwp")
                                                        i.no #{language.translate('No')}
                                                        span
                                                        i.yes #{language.translate('Yes')}
                                    if (another_cards)
                                            .form-group#existingcardBlock
                                                label(id='existingcardText',for="existingcard") #{language.translate('Do you have an existing credit card?')}
                                                .checkbox--toggle
                                                    input.toggle-input(type="checkbox",id="existingcard", name="",checked)
                                                    label.toggle.toggle-lg(for="existingcard")
                                                        i.no #{language.translate('No')}
                                                        span
                                                        i.yes #{language.translate('Yes')}
                                            if(region=='ph')
                                                .form-group(id='existingcardTenureBlock')
                                                    label #{language.translate('How long have you had your existing card?')}
                                                    .radio--toggle
                                                        label.radio-inline
                                                            input(type="radio", name="existingcardTenure", id='existingcardTenure', data-subject="User", data-action='Input', data-description='Existing Credit-Card Duration',data-region='Listing Apply Popup',data-vertical = "Personal Loan", value="< 12 months",data-value="< 12 months ", data-parsley-errors-container="#existingcardtenure-error-container")
                                                            | Less than 12 months
                                                        label.radio-inline
                                                            input(type="radio", name="existingcardTenure", id='moreThan12Months',data-subject="User", data-action='Input', data-description='Existing Credit-Card Duration',data-region='Listing Apply Popup',data-vertical = "Personal Loan", value="> 12 months",data-value="> 12 months")
                                                            | More than 12 months
                                                    #existingcardtenure-error-container
                                            .form-group(data-imu-track="option",id='location')
                                                .input-group.input-group-lg
                                                    span.input-group-addon #{language.translate('Location')}
                                                    select(name="location",id='locationInput', required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#location-error-container").form-control
                                                        option(value="") #{language.translate("Please select city")}
                                                        option(value="Manila") Manila
                                                        option(value="Quezon City") Quezon City
                                                        option(value="Caloocan") Caloocan
                                                        option(value="Las Pinas") Las Pinas
                                                        option(value="Marikina") Marikina
                                                        option(value="Pasig") Pasig
                                                        option(value="Paranaque") Paranaque
                                                        option(value="Pasay") Pasay
                                                        option(value="Malabon") Malabon
                                                        option(value="Navotas") Navotas
                                                        option(value="Makati") Makati
                                                        option(value="Muntinlupa") Muntinlupa
                                                        option(value="Taguig") Taguig
                                                        option(value="Valenzuela") Valenzuela
                                                        option(value="San Juan") San Juan
                                                        option(value="Pateros") Pateros
                                                        option(value="Laguna") Laguna
                                                        option(value="Cavite") Cavite
                                                        option(value="Rizal") Rizal
                                                        option(value="Bulacan") Bulacan
                                                        option(value="Pampanga") Pampanga
                                                        option(value="Batangas") Batangas
                                                        option(value="Tarlac") Tarlac
                                                        option(value="Nueva Ecija") Nueva Ecija
                                                #location-error-container
                                .apply-submit(data-imu-track="button")
                                    button#btn-pl-submit.btn.btn-lg.btn-success(data-action='Submit', data-description='Apply Form',data-region='Listing Apply Popup',data-subject ="User", type='submit', tabindex='4', data-vertical='Personal Loan') #{language.translate('Apply Now')}
                                if (app.pdpa)
                                    .apply-consent.checkbox.small
                                        label
                                            input(type='checkbox', checked='checked', name='allow_checked', required='' data-parsley-required-message="Please check this box if you want to proceed")
                                            | !{app.pdpa}
                                if (app.marketing_consent)
                                    .apply-consent.checkbox.small
                                        label
                                            input(type='checkbox', checked='checked', name='allow_consent', required='' data-parsley-required-message="Please check this box if you want to proceed")
                                            | !{app.marketing_consent}
                                
// Modal - cross sell
#CrossSell.modal.fade(tabindex="-1",role="dialog",aria-labelledby="Cross Sell",aria-hidden="true",data-imu-track="input, button, a",data-region="Listing Cross-sell popup",data-subject="User",data-action="Input" ,data-vertical="Personal Loan")
    .modal-dialog
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('Close')}
        .modal-contents
            .modal-header.text-center
                img(src="/jayhan/img/icn_rank.png",width="62")
                h2 !{productsCrossSell.models[0].attributes.popupTitleText}
            .modal-body
                ul.list-unstyled.cross-sell-products
                    for product in productsCrossSell.models[0].attributes.field_product_cross_sell
                        li.cross-sell-product
                            .cross-sell-product__header #{product.product_header_text}
                            .cross-sell-product__body
                                .row
                                    div
                                        img(src="https://www.imoney.my"+ product.bankLogo)
                                    div
                                        h3 #{product.title}
                                    div
                                        a.btn-show(data-subject="User",data-action="Click",data-value="Al Rajhi Bank Personal Financing-i", data-description="See Cross-Sell 1", data-region="Listing Cross-sell Popup",data-vertical="Personal Loan",href=product.url) #{language.translate('See Loan')}
            .modal-footer
                a.btn-continue(data-subject="User",data-action="Click",data-value="",data-description="Continue Apply",data-region="Listing Cross-sell Popup",data-vertical="Personal Loan",href="", data-dismiss='modal')
                    | #{language.translate('Continue to see')} <span></span>
// Tunaiku - apply
#modal-tunaiku-apply.modal.fade
    .modal-dialog.modal-lg.modal-apply-v1
        .close-wrap
            a.close-btn(href='#', data-dismiss='modal')
                i
                | #{language.translate('Close')}
        .modal-content
            form#tunaikuApplyForm(method='get', data-parsley-validate='')
                .modal-header.modal-header--pl.text-center
                    h4#myModalLabel.modal-title #{language.translate('This is the product you have chosen')}                    
                .modal-body
                    .row
                        .col-sm-4.col-xs-12
                            .apply-product
                                .apply-product__img
                                    img(id ="img-popup-tunaiku")
                                .apply-product__name
                                    h5(id ="bank-name-popup-tunaiku") Tunaiku
                        .col-sm-8.col-xs-12
                            .apply-form.capture(data-subject='User', data-action='Input', data-region='Listing Apply Popup', data-vertical='Personal Loan')
                                .apply-personaypl-detail
                                    p.instruction #{language.translate('Please provide accurate details so that we can help you proceed with the application sooner.')}

                                    .form-group(data-imu-track="input")
                                        input#tunaikuName.form-control.input-lg.icn_name(data-parsley-pattern='/^[a-zA-z\\s]*$/',data-parsley-group="block6",data-value="$('#enquire-name').val()", data-parsley-pattern-message=language.translate('Your name should only consist of letters'), type='text', name='name', placeholder=language.translate('Your Name'), data-parsley-trigger='change', data-parsley-required-message=language.translate('Please enter your name'), required='', data-parsley-minlength='3', data-parsley-minlength-message=language.translate('Please enter your name (Min. 3 digits)'), tabindex='1', data-description='Your Name')
                                    .form-group(data-imu-track="input")
                                        input#tunaikuEmail.form-control.input-lg.icn_email(type='email', data-description='Email', name='email_address', placeholder=language.translate('Email'),data-value="$('#email').val()", data-parsley-trigger='change', data-parsley-type='email', data-parsley-error-message=language.translate('Harap isi Email Anda'), required='', data-parsley-group='block6', tabindex='2', description='Email')
                                    .form-group(data-imu-track="input")
                                        input#tunaikuPhone.form-control.input-lg.icn_tel(type='tel', name='phone_number', data-description='Contact Number', placeholder=language.translate('Contact Number'),data-value="$('#phone').val()", data-parsley-type-message=language.translate('Harap isi nomor telpon yang benar'), data-parsley-required-message=language.translate('Harap isi nomor telpon Anda'), data-parsley-trigger='change', data-parsley-type='number', required='', data-parsley-group='block6', data-parsley-minlength='9', data-parsley-minlength-message=language.translate('A valid phone number is required (Min. 9 digits)'), tabindex='3', description='Contact Number')
                                    if(region=='id')
                                        .form-group(data-imu-track="option")
                                                .input-group.input-group-lg
                                                    span.input-group-addon #{language.translate('City')}
                                                    select(name="city",id="tunaikuLocationInput", required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#city-error-container-t").form-control
                                                        option(value="") #{language.translate("Please select city")}
                                                        option(value="Jakarta") Jakarta
                                                        option(value="Bogor") Bogor
                                                        option(value="Depok") Depok
                                                        option(value="Tangerang") Tangerang
                                                        option(value="Bekasi") Bekasi
                                                        option(value="Bandung") Bandung
                                                        option(value="Bali") Bali
                                                        option(value="Sidoarjo") Sidoarjo
                                                        option(value="Surabaya") Surabaya
                                                        option(value="Lain-Lain") Lain-Lain
                                                        option(value="Gresik") Gresik
                                                #city-error-container-t
                                .apply-submit(data-imu-track="button")
                                    button#tunaiku-btn-pl-submit.btn.btn-lg.btn-success(data-action='Submit', data-description='Apply Form', data-region='Listing Apply Popup', type='submit', tabindex='4', data-vertical='Personal Loan') #{language.translate('Klik untuk melanjutkan')}
                                    .checkbox.font-xs
                                        label
                                            input(type='checkbox', checked='checked', name='allow_checked', required='', disabled='disabled')
                                            | !{language.translate('You allow us to pass on your information to product providers and accept our Privacy')}
                                            | !{language.translate('Policy. We follow the Personal Data Protection Act (PDPA).')}
  
  

