- var Ratesarray = [];
- for (var i = 0; i < loan.personalLoanRates.length; i++){
- var value = loan.personalLoanRates[i].value
- Ratesarray.push(value)
-}
- loan['minIrate'] = (Math.min.apply(null, Ratesarray)).toFixed(2);
- loan['maxIrate'] = (Math.max.apply(null, Ratesarray)).toFixed(2);
- if (number_spreater){
-  loan['minIrate'] = loan['minIrate'].replace(".", ",");
-  loan['maxIrate'] = loan['maxIrate'].replace(".", ",")
- }
-  if (number_spreater) {
-       minimumIncome = loan.minimumIncome.replace(/\B(?=(\d{3})+(?!\d))/g, ".") }
-  else {  
-    minimumIncome = loan.minimumIncome.replace(/\B(?=(\d{3})+(?!\d))/g, ",") }

.main(role="main",data-imu-track="select,a,input,option,button")
    .container
        .wrapper
            //- HEADER
            header.header.header--product(role='banner')
                .row
                    .col-sm-3
                        .header__product-image
                            img(src=Logo)
                    .col-sm-9
                        .header__product-intro
                            h1.product-name #{Title}
                            p.product-intro #{loan.product_description}
                            if loan.field_product_tag_text !=null
                                each stuff, index in loan.field_product_tag_text
                                    if loan.colour_tag === null
                                        span.label.label--blue(style="background-color: #1EA0CA;")  #{stuff.value}                  
                                    else
                                        span.label.label--blue(style="background-color: "+ loan['colour_tag'][index]['rgb'] + ";")  #{stuff.value}
                                        
                            
            //- 4 KEYPOINTS
            section.section-keypoints
                ul
                    li
                        i.sprites.sprites-keypoints__interest
                        | #{language.translate(islamic_profit_interest)} #{'(p.a.)'}
                        h4 #{loan.minIrate}% - #{loan.maxIrate}%
                    li
                        i.sprites.sprites-keypoints__tenure
                        |  #{language.translate('Loan Tenure')}
                        if allow6Month
                            h4 6 #{language.translate('months')} - #{loan.maximumTenure} #{language.translate('years')}
                        else 
                            h4 #{loan.minimumTenure} - #{loan.maximumTenure} #{language.translate('years')}
                    li
                        i.sprites.sprites-keypoints__duration
                        |  #{language.translate('Approval Duration')}
                        h4 #{approval_duration}
                    li
                        i.sprites.sprites-keypoints__income
                        |  #{language.translate('Min. monthly income')}
                        h4 #{Currency}#{minimumIncome}

            //- PROMOTION
            if loan.field_promotion == "1"
                section.section-promo
                    .section-promo__wrapper
                        if loan.promoImage == null
                            img(src="/jayhan/img/icon-promo.svg")
                        else    
                            .promo__image
                                img(src=loan.promoImage)
                        .promo__content
                            span Promo
                            h4 #{loan.field_promotional_text}
                            p #{loan.promotional_description}

            //- DARK SECTION - Calculator & Apply
            section.main-highlights
                .row
                    .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8.apply-button
                        -var applynowstring = loan.applyButtonText ? loan.applyButtonText : "Apply Now";
                        -var classList = loan.quickApplyButton == 1 ? "btn btn-success btn-block btn-lg btn-apply-complement btn-qab" : "btn btn-success btn-block btn-lg btn-apply-complement"
                        if (loan.field_apply_url == null || showPreQualify)                            
                            a(class="#{classList}" href="javascript:void(0)",REL="nofollow",
                            data-vertical="Personal Loan",data-region="Product Loan Calculator",data-description="Apply Button",
                            data-value=loan.title,data-id=loan.nide , data-title= loan.title, data-bank=loan.bank ,
                            data-islamic_conventional= loan.islamic_conventional) #{language.translate(applynowstring)}
                        else
                            a(class="#{classList}" target="_blank" ,data-href=loan.field_apply_url,
                            data-region="Product Loan Calculator",data-description="Apply Button",data-vertical="Personal Loan",
                            REL="nofollow", data-value="#{loan.title}",data-id=loan.nide , data-title= loan.title, data-bank=loan.bank ,
                            data-islamic_conventional= loan.islamic_conventional) #{language.translate((region=="sg" && loan.applyButtonText == "") ? "Go to Bank" : applynowstring)}
                    .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
                        h5
                            i.sprites.sprites__calculator
                            | #{language.translate('Loan calculator')}

                        //- Calculator controls
                        .calculator.calculator--product
                            .calculator-input
                                .calculator-input-group.calculator-input__amount
                                    span.filter-label #{language.translate('Loan amount')}
                                    .filter-control.filter-control--amount
                                        form(data-parsley-validate='')
                                            .input-group
                                                span.input-group-addon #{Currency}
                                                input#input-amount.form-control(
                                                type="number",
                                                ng-change="update()",
                                                ng-model="filterAmount",
                                                placeholder=loan_amount,
                                                aria-describedby="input-amount",
                                                value=loan_amount,
                                                pattern="[0-9]*",
                                                min="#{loan.minimumAmount}",
                                                max="#{loan.maximumAmount}",
                                                data-parsley-min="#{loan.minimumAmount}",
                                                data-parsley-max="#{loan.maximumAmount}",
                                                data-parsley-error-message=language.translate("The amount should be between") +' '+ Currency + loan.minimumAmount +' '+ "to"+' '+ Currency + loan.maximumAmount,
                                                data-parsley-min-message=language.translate("Min. amount is")+' '+Currency+loan.minimumAmount,
                                                data-parsley-max-message=language.translate("Max. amount is")+' '+Currency+loan.minimumAmount,
                                                data-parsley-trigger='keyup',
                                                data-parsley-errors-container=".filter-control--amount"
                                                data-action="Input",data-subject="User", data-description="Amount",
                                                data-vertical="Personal Loan",
                                                data-region="Product Loan Calculator")
                                .calculator-input-group.calculator-input__tenure
                                    span.filter-label  #{language.translate('Loan tenure')}
                                    .filter-control
                                        .input-group
                                            - var minTenure = parseFloat(loan.minimumTenure)
                                            - var maxTenure = parseFloat(loan.maximumTenure) + 1
                                            select#input-year.form-control(aria-describedby="input-year",data-action="Input",data-subject="User", data-description="Tenure",data-vertical="Personal Loan",data-region="Product Loan Calculator",ng-change="update()",ng-model="filterTenure")
                                                if(allow6Month)
                                                    option(value=0.5 ,data-subject='User', data-action='Input', data-description="Tenure", data-region="Listing Filter", data-vertical='Personal Loan') 0.5
                                                -for(var i=parseFloat(loan.minimumTenure); i<=parseInt(loan.maximumTenure);i=i+interval_Tenure)
                                                    option(value= i ,data-subject='User', data-action='Input', data-description="Tenure", data-region="Listing Filter", data-vertical='Personal Loan')= i
                                            span.input-group-addon #{language.translate('year')}
                                .calculator-input-group.calculator-input__income
                                    span.filter-label #{language.translate('Monthly salary')}
                                        b#salary-howmuch RM0
                                    .filter-control
                                        #slider-salary
                                        //- input(type="range", id="filter-salary", min=loan.minimumIncome, max="10000", step="100", value="5000")

                            //- Result
                            .calculator-result
                                .calculator-result__top
                                    .result__interest-rate
                                        span.result-label  #{language.translate(islamic_profit_interest)} #{'(p.a)'}
                                        h3(id="interestRate") 0

                                    .result__monthly-repayment
                                        span.result-label #{language.translate('Monthly Repayment')}
                                        h3(id="installment") #{Currency}0

                                .calculator-result__bottom
                                    .result__total-interest
                                        if (loan.islamic_conventional === "Islamic")
                                            span.result-label #{language.translate('Total Profit Payable')}
                                        else
                                            span.result-label #{language.translate('Total Interest Payable')}
                                        span.result-amount(id="TotalInterestPayable") #{Currency}0

                                    .result__total-amount
                                        span.result-label #{language.translate('Total Amount Payable')}
                                        span.result-amount(id="TotalAmountPayable") #{Currency}0


            //- KEY FEATURES
            section.features-highlight
                h5 #{language.translate('What\'s so great about')} #{loan.title}?
                ul.features-highlight-list
                    each stuff in loan.featured_highlights
                        li #{stuff.value}

            //- ALL FEATURES
            section.features-information
                .row
                    .col-md-9.section-features__main

                        //- Product Features
                        .features-block
                            h3.features-title
                                i.sprites.sprites-product__features
                                | #{language.translate('Product Features')}
                            table.table-info.table-info__features
                                tr
                                    td #{language.translate('Min. financing amount')}
                                    td #{loan.minimum_financing_amount}
                                tr
                                    td #{language.translate('Max.financing amount')}
                                    td
                                        each stuff, index in loan.maximum_financing_amount
                                            if loan.maximum_financing_amount.length ==1
                                                |  #{stuff.value}<br>
                                            else
                                                | - #{stuff.value}<br>

                                tr
                                    td #{language.translate('Min. loan tenure')}
                                    td #{loan.minimum_loan_tenure}
                                tr
                                    td #{language.translate('Max. loan tenure')}
                                    td #{loan.maximum_loan_tenure}
                                if (loan.islamic_conventional != null)
                                    tr
                                        td #{language.translate('Islamic/Conventional')}
                                        td #{loan.islamic_conventional}
                                tr
                                    td #{language.translate(islamic_profit_interest)}
                                    td #{loan.interest_rate_text_}
                                tr
                                    td #{language.translate('Approval duration')}
                                    td #{approval_duration}
                                if (loan.debt_consolidation != null)
                                    tr
                                        td #{language.translate('Debt consolidation')}
                                        td #{loan.debt_consolidation}

                        //- Fees & Charges
                        .features-block
                            h3.features-title
                                i.sprites.sprites-product__fees
                                | #{language.translate('Fees & Charges')}

                            table.table-info.table-info__fees
                                tr
                                    th(colspan="2") #{language.translate('One time set up')}
                                if (loan.debt_consolidation != null)
                                    tr
                                        td #{language.translate('Processing fee')}
                                        td #{loan.processing_fee}
                                if (loan.stamp_duty != null)
                                    tr
                                        td #{language.translate('Stamp duty')}
                                        td #{loan.stamp_duty}
                                if (loan.disbursement_misc_fee != null)
                                    tr
                                        td #{language.translate('Disbursement & misc. fee')}
                                        td #{loan.disbursement_misc_fee}
                                    //////////
                                if (loan.annual_feee != null)
                                    tr
                                        td #{language.translate('Annual fee')}
                                        td #{loan.annual_feee}
                                if (loan.other_feees != null)
                                    tr
                                        td #{language.translate('Other fees')}
                                        td #{loan.other_feees}


                            table.table-info.table-info__penalties
                                tr
                                    th(colspan="2")  #{language.translate('Penalties')}
                                if (loan.early_settlement != null)
                                    tr
                                        td  #{language.translate('Early settlement')}
                                        td #{loan.early_settlement}

                                if (loan.late_payment_charges != null)
                                    tr
                                        td #{language.translate('Late payment charges')}
                                        td #{loan.late_payment_charges}
                                if (loan.other_penalties != null)
                                    tr
                                        td #{language.translate('Other penalties')}
                                        td #{loan.other_penalties}

                        //- Eligibility
                        .features-block
                            h3.features-title
                                i.sprites.sprites-product__eligibility
                                | #{language.translate('Eligibility')}

                            table.table-info.table-info__eligibility
                                tr
                                    td  #{language.translate('Age requirement')}
                                    td #{language.translate('Age')} #{minimumAge} - #{maximumAge}
                                tr
                                    td #{language.translate('Employment eligibility')}
                                    td #{loan.field_employment_eligibility_tex}
                                tr
                                    td #{language.translate('Min. salary requirement')}
                                    td #{Currency}#{minimumIncome} #{language.translate('gross per month')}
                                if (loan.guarantor_collateral != null)
                                    tr
                                        td #{language.translate('Guarantor / Collateral requirement')}
                                        td #{loan.guarantor_collateral}

                        //- Other requirement
                        .features-block
                            h3.features-title
                                i.sprites.sprites-product__eligibility
                                | #{language.translate('Other Requirements')}

                            table.table-info.table-info__other
                                if(loan.need_to_open_linked_bank!=null)
                                    tr
                                        td #{language.translate('Need to open linked banked account?')}
                                        td #{loan.need_to_open_linked_bank}
                                if(loan.need_to_buy_takaful!=null)
                                    tr
                                        td #{language.translate('Need to buy Takaful product?')}
                                        td #{loan.need_to_buy_takaful}
                                if (loan.other_details != null)
                                    tr
                                        td #{language.translate('Other details')}
                                        td #{loan.other_details}

                    aside.col-md-3.section-features__aside
                        .aside-block.aside-block__suggested
                            h4 #{language.translate('Featured')} <span class="color-complement">#{language.translate('Personal Loan')}</span>
                            include ../dev/jade/suggested__product.jade

            //- REVIEW WRITE UP
            section.section-review
                .review__header
                    div
                        span.divider.divider--left
                        img(src="/v4/img/icon-review.svg", width="46")
                        span.divider.divider--right
                    h3
                        strong #{language.translate('Product Review by')}
                            img(src="/v4/img/#{region}/imoney-logo.svg",alt="iMoney" width="84")
                .review__body
                    .row
                        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1 !{(loan.body)} 
