extends ../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&text=START%20HERE!', rel='stylesheet', type='text/css')
	script(src=applyformurl)
	
	script.
		var Loan = !{JSON.stringify(loan)};

	script.
		var showPreQualify = !{JSON.stringify(showPreQualify)};
		var checkislamic = null;var checkbusiness = null;
		var Currency =!{JSON.stringify(Currency)};
		var	loan_amount= #{loan_amount};
		var	tenure = #{tenure};
		var	DefaultMonthly_Salary = #{Monthly_Salary};
		var	Max_value_Salary = #{Max_value_Salary};
		var	Step_salary= #{Step_salary};
		var region = !{JSON.stringify(region)};
		var tranlateurl = !{JSON.stringify(tranlateurl)};
		var thank_you = !{JSON.stringify(thank_you)};
		var number_spreater = !{JSON.stringify(number_spreater)};
		var lang = !{JSON.stringify(lang)};
		var allow6Month = !{JSON.stringify(allow6Month)};
	
	
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js")
	script(src="/v4/js/base.min.js")
	script(src='/jayhan/min/translate.min.js')
	script(src='/jayhan/personal-loan-product-angular.js')
	script(src='/jayhan/angular-service/angular-service.js')
	script(src="/jayhan/personal-loan__product.min.js")
	if(showPreQualify)
		script(src='/jayhan/vue-dist/build.js')


append head-script
	script.
		window.ParsleyConfig = {
			errorsWrapper: '<div></div>',
			errorTemplate: '<span class="color-red font-xsm"></span>'
		};

	

block content
	if lang == "ms" && region == "my"
		include ../bower_components/imoney-assets/dev/templates/my/ms/mb-navigation-v2.html
	else if(region == "my")
		include ../bower_components/imoney-assets/dev/templates/my/en/mb-navigation-v2.html
	else if(region=="ph")
		include ../bower_components/imoney-assets/dev/templates/ph/en/mb-navigation-v2.html
	else if(region=="id")
		include ../bower_components/imoney-assets/dev/templates/id/id/mb-navigation-v2.html
	else if(region=="sg")
		include ../bower_components/imoney-assets/dev/templates/sg/en/mb-navigation-v2.html

	div.inner-wrap( ng-app="PersonalLoanApp")
		if lang == "ms" && region == "my"
			include ../bower_components/imoney-assets/dev/templates/my/ms/topbar-v2.html
			include ../bower_components/imoney-assets/dev/templates/my/ms/navigation-v2.html
		else if(region == "my")
			include ../bower_components/imoney-assets/dev/templates/my/en/topbar-v2.html
			include ../bower_components/imoney-assets/dev/templates/my/en/navigation-v2.html
		else if(region=="ph")
			include ../bower_components/imoney-assets/dev/templates/ph/en/topbar-v2.html
			include ../bower_components/imoney-assets/dev/templates/ph/en/navigation-v2.html
		else if (region=="id")
			include ../bower_components/imoney-assets/dev/templates/id/id/topbar-v2.html
			include ../bower_components/imoney-assets/dev/templates/id/id/navigation-v2.html
		else if (region == "sg")
			include ../bower_components/imoney-assets/dev/templates/sg/en/topbar-v2.html
			include ../bower_components/imoney-assets/dev/templates/sg/en/navigation-v2.html


		include mainproductpage.jade
		if lang == "ms" && region == "my"
			include ../bower_components/imoney-assets/dev/templates/my/ms/footer.html
		else if(region == "my")
			include ../bower_components/imoney-assets/dev/templates/my/en/footer.html
		if(region == "ph")
			include ../bower_components/imoney-assets/dev/templates/ph/en/footer.html
		if(region == "id")
			include ../bower_components/imoney-assets/dev/templates/id/id/footer.html
		if region == "sg"
			include ../bower_components/imoney-assets/dev/templates/sg/en/footer.html

	//- APPLICATION FORM
	include footerscriptproductpage
