extends ../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&text=START%20HERE!', rel='stylesheet', type='text/css')

append head-script
	script.
		iAJSLoader.init([
			[
				"//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
				"//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
			],
			[
				"/v4/js/base.min.js",
				"/v4/js/product-thank-you.min.js"
			]
		]);

block content

	//- PL PRODUCT PAGE INCLUDES
	if(region == "my")
		include ../bower_components/imoney-assets/dev/templates/my/topbar.html
		include ../bower_components/imoney-assets/dev/templates/my/navigation.html
	else if(region=="ph")
		include ../bower_components/imoney-assets/dev/templates/ph/topbar.html
		include ../bower_components/imoney-assets/dev/templates/ph/navigation.html
	else if (region=="id")
		include ../bower_components/imoney-assets/dev/templates/id/topbar.html
		include ../bower_components/imoney-assets/dev/templates/id/navigation.html
	else if (region == "sg")
		include ../bower_components/imoney-assets/dev/templates/ph/topbar.html
		include ../bower_components/imoney-assets/dev/templates/ph/navigation.html

	.thank-you__body
		.container
			.thank-you__top
				.circle-container
					.envelope-container
						.envelope-wrap
							.letter-container
								.letter
							.envelope-open
							.envelope-close
							.envelope-front
							.envelope
						.tick-icon
				h1.thank-you__header Thanks for applying personal loan with us!
				p.thank-you__desc An iMoney representative will contact you within one business day to help you complete your application and also answer any questions you may have.


			include ../dev/jade/_block-user-review.jade

			.thank-you__bottom
				h4.mean-time In the mean time, read some of our money saving tips
				.row
					.col-md-4
						.related.latest(data-rss='https://www.imoney.my/articles/feed/')
							.related-title Latest Articles
							.preloader
					.col-md-4
						.related.cards(data-rss='https://www.imoney.my/articles/category/money-management/feed/')
							.related-title Money Management
							.preloader
					.col-md-4
						.related.broadband
							img.bb-teaser-mb(src='/img/credit-card/broadband-teaser.jpg')
							a.btn.btn-lg.btn-complement.btn-complement--gradient(href='/broadband/search') Try Broadband Smartsearch

	//- //- include ../dev/jade/footer.jade
	//- if(region == "my")
	//- 	include ../bower_components/imoney-assets/dev/templates/my/footer.html

	if(region == "my")
		include ../bower_components/imoney-assets/dev/templates/my/footer.html
	if(region == "ph")
		include ../bower_components/imoney-assets/dev/templates/ph/footer.html
	if(region == "id")
		include ../bower_components/imoney-assets/dev/templates/id/footer.html
	if region == "sg"
		include ../bower_components/imoney-assets/dev/templates/sg/footer.html

	link(rel='stylesheet', href='/jayhan/page-thankyou.css')



block footer-script

	<!--[if lte IE 9]>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="/js/base.min.js"></script>
	<script src="//cdn.optimizely.com/js/2356000143.js"></script>
	<![endif]-->