extends ../dev/jade/base.jade

block css
    link(rel='stylesheet', href='/v4/css/base-critical.css')
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&text=START%20HERE!', rel='stylesheet', type='text/css')

    script.
        fetchdata = !{JSON.stringify(dataUrl)};PersonaLoans=null;
    script.
        var checkislamic = !{islamicpage};
        var checkbusiness = !{businesspage};
        var fetchdata = !{JSON.stringify(dataUrl)};
        var Currency =!{JSON.stringify(Currency)};
        var	loan_amount= #{loan_amount};
        var DefaultMonthly_Salary = #{Monthly_Salary};
        var Min_value_Salary = #{Min_value_Salary};
        var	tenure = #{tenure};
        var	Max_value_Salary = #{Max_value_Salary};
        var	Step_salary= #{Step_salary};
        var region = !{JSON.stringify(region)};
        var tranlateurl = !{JSON.stringify(tranlateurl)};
        var thank_you = !{JSON.stringify(thank_you)};
        var number_spreater = !{JSON.stringify(number_spreater)};
        var prequalifyNids =  !{JSON.stringify(prequalifyNids)};
        var Lising_url = !{JSON.stringify(Lising_url)};
        var lang =!{JSON.stringify(lang)};
        var activateCrossSell = !{JSON.stringify(productsCrossSell.models[0].attributes.activateCrossSell)};


append head-script
    script.
        window.ParsleyConfig = {
            errorsWrapper: '<div></div>',
            errorTemplate: '<span class="color-red font-xsm"></span>'
        };
    
    script.
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                    '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

    script.
        googletag.cmd.push(function() {
            // Top Leaderboard
            googletag.defineSlot('/422122608/V4_970_90_Large_Leaderboard_D', [970, 90], 'div-gpt-ad-1447813095536-2').addService(googletag.pubads());
            googletag.defineSlot('/422122608/V4_728_90_Top_Leaderboard_D', [728, 90], 'div-gpt-ad-1447813095536-1').addService(googletag.pubads());
            googletag.defineSlot('/422122608/V4_320_50_Top_Leaderboard_M', [320, 50], 'div-gpt-ad-1447813095536-3').addService(googletag.pubads());
            // Mid Leaderboard
            googletag.defineSlot('/422122608/V4_728_90_Mid_Leaderboard_D', [728, 90], 'div-gpt-ad-1447813095536-0').addService(googletag.pubads());
            googletag.defineSlot('/422122608/V4_320_50_Mid_Leaderboard_M', [320, 50], 'div-gpt-ad-1447813095536-4').addService(googletag.pubads());
            // Skyscraper
            googletag.defineSlot('/422122608/V4_240_600_Wide_Skyscraper',[[240,600],[160,600]],'div-gpt-ad-1476931098104-5').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.pubads().setTargeting('Region', !{JSON.stringify(region)}).setTargeting('Staging', 'yes').setTargeting('Category', 'personal-loan').setTargeting('Path', !{JSON.stringify(Lising_url)});
            googletag.enableServices();
        });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447813095536-0'); });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447813095536-1'); });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447813095536-2'); });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447813095536-3'); });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1447813095536-4'); });
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1476931098104-5'); });
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js")
    script(src="/jayhan/components.js")
    script(src="/jayhan/ngReact.min.js")
    script(src="/v4/js/base.min.js")
    script(src="/jayhan/min/translate.min.js" )
    script(src="/jayhan/personal-loan-angular.js")
    script(src="/jayhan/personal-loan-refactor.min.js")
    script(src=applyformurl)


block content
    if lang == "ms" && region == "my"
        include ../bower_components/imoney-assets/dev/templates/my/ms/mb-navigation-v2.html
    else if(region == "my")
        include ../bower_components/imoney-assets/dev/templates/my/en/mb-navigation-v2.html
    else if(region=="ph")
        include ../bower_components/imoney-assets/dev/templates/ph/en/mb-navigation-v2.html
    else if(region=="id")
        include ../bower_components/imoney-assets/dev/templates/id/id/mb-navigation-v2.html
    else if(region=="sg")
        include ../bower_components/imoney-assets/dev/templates/sg/en/mb-navigation-v2.html

    div.inner-wrap
        if lang == "ms" && region == "my"
            include ../bower_components/imoney-assets/dev/templates/my/ms/topbar-v2.html
            include ../bower_components/imoney-assets/dev/templates/my/ms/navigation-v2.html
        else if(lang == "en" && region == "my")
            include ../bower_components/imoney-assets/dev/templates/my/en/topbar-v2.html
            include ../bower_components/imoney-assets/dev/templates/my/en/navigation-v2.html
        else if(region=="ph")
             include ../bower_components/imoney-assets/dev/templates/ph/en/topbar-v2.html
             include ../bower_components/imoney-assets/dev/templates/ph/en/navigation-v2.html
        else if (region=="id")
            include ../bower_components/imoney-assets/dev/templates/id/id/topbar-v2.html
            include ../bower_components/imoney-assets/dev/templates/id/id/navigation-v2.html
        else if (region == "sg")
             include ../bower_components/imoney-assets/dev/templates/sg/en/topbar-v2.html
             include ../bower_components/imoney-assets/dev/templates/sg/en/navigation-v2.html



            include main.jade


        if lang == "ms" && region == "my"
            include ../bower_components/imoney-assets/dev/templates/my/ms/footer.html
        if(lang == "en" && region == "my")
            include ../bower_components/imoney-assets/dev/templates/my/en/footer.html
        if(region == "ph")
            include ../bower_components/imoney-assets/dev/templates/ph/en/footer.html
        if(region == "id")
            include ../bower_components/imoney-assets/dev/templates/id/id/footer.html
        if region == "sg"
            include ../bower_components/imoney-assets/dev/templates/sg/en/footer.html



    include footerscript.jade