p
    |POT template file #[a(href="./pot/",title="POt template file") here]
    br
    |PO translate file #[a(href="./po/",title="PO translate file") here]
form(action="." method="POST" enctype="multipart/form-data")
    input(type="file",name="po_file")
    input(type="submit", name="po_submit")
