<template>
  <div class="modal-apply-v2__dialog modal-dialog">
    <div class="modal-apply-v2__content modal-content">
      <div class="apply-header">
        {{translate('Quick Application')}}
        <a data-dismiss="modal" href="#" class="close-apply"></a>
      </div>
      <div v-if="currentSlide == 0">
        <div class="apply-product">
          <div class="apply-product__content">
            <img v-bind:src="bankLogo">
            <h1 class="product-name">{{bankName}}</h1>
          </div>
        </div>
      </div>
      <div v-if="currentSlide >= 1">
        <div id="progress-bar">
          <div id="progress-three" class="progress-container">
            <div
              id="progress-bar-numbers"
              style="display: flex;flex-wrap: nowrap;justify-content: space-between;"
            >
              <div
                v-for="(value, index) in slide"
                :key="index"
                v-bind:class="breadcrumbClass(index+1)"
              >{{index+1}}</div>
            </div>
            <div class="progress-bar-gray">
              <div
                class="progress-bar-green progress-bar-green-four"
                v-bind:style="{ width: progressBar + '%' }"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <form id="form-selfserve1" method="get" action>
        <keep-alive>
          <component :is="component"></component>
        </keep-alive>
      </form>
    </div>
  </div>
</template>
<script>
import basicFormPre from "../Components/PreQualifyForm/BasicFormPre.vue";
import employmentForm from "../Components/PreQualifyForm/EmploymentForm.vue";
import financeForm from "../Components/PreQualifyForm/FinanceForm.vue";
import basicForm from "./BasicForm.vue";

import RHBStepOne from "../Components/PreQualifyForm/RHBStepOne.vue";
import RHBStepTwo from "../Components/PreQualifyForm/RHBStepTwo.vue";
import RHBStepTree from "../Components/PreQualifyForm/RHBStepTree.vue";
import RHBStepFour from "../Components/PreQualifyForm/RHBStepFour.vue";

var oldJappData = {
  identification_type: "",
  identification_no: "",
  state: "",
  Branch: "",
  branch_state: "",
  employment_type: "",
  is_government_servant: "",
  employment_status: "",
  joining_date: "",
  existing_credit_facilities: "",
  name: "",
  email_address: "",
  phone_number: "",
  monthly_salary: "",
  loan_amount: "",
  loan_tenure: "",
  checkbox: null
};

var rhbJappData = {
  salutation: "",
  identification_no: "",
  joining_date: "",
  loan_purpose: "",
  is_government_servant: "",
  Branch: "",
  branch_state: "",
  race: "",
  gender: "",
  employment_type: "",
  date_of_birth: "",
  marital_status: "",
  education_level: "",
  dependent: null,
  occupation: "",
  company_name: "",
  office_address: "",
  office_address_1: "",
  office_address_2: "",
  office_postcode: "",
  office_city: "",
  office_state: "",
  office_phone_number: "",
  address: "",
  address_1: "",
  address_2: "",
  postcode: "",
  city: "",
  state: "",
  residential_status: "",
  residential_start_date: "",
  mailing_address_choice: "",
  mother_maiden_name: "",
  emergency_contact_name: "",
  emergency_contact_phone_number: "",
  emergency_relationship: "",
  statement_location: "",
  // Required by Japp

  address: "",
  permanent_address_1: "",
  permanent_address_2: "",
  permanent_address_3: "",
  permanent_city: "",
  home_postcode: "",
  home_state: "",
  employment_type: "",
  employment_status: "",
  emergency_contact_mobile_number: ""
};

export default {
  components: {
    basicFormPre: basicFormPre,
    employmentForm: employmentForm,
    financeForm: financeForm,
    basicForm: basicForm,
    RHBStepOne,
    RHBStepTwo,
    RHBStepTree,
    RHBStepFour
  },
  data: function() {
    return {
      progressBar: -50,
      component: "basicForm",
      currentSlide: 0,
      defaultSlide: ["basicFormPre", "employmentForm", "financeForm"],
      rhbSlide: ["RHBStepOne", "RHBStepTwo", "RHBStepTree", "RHBStepFour"],
      bankName: Loan.title,
      bankLogo: Loan.bankLogo,
      jappData: Loan.nid == "54" || Loan.nid == "75" ? rhbJappData : oldJappData
    };
  },
  created: function() {
    this.triggerEvent(
      region.toUpperCase() + "-" + lang.toUpperCase() + "-PL-" + "SQLOADED",
      {
        step: this.currentSlide,
        userInformation: {}
      }
    );
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    breadcrumbClass: function(breadcrumbNumber) {
      let returnClass = "breadcrumb";
      if (breadcrumbNumber < this.currentSlide) {
        returnClass += " breadcrumb-active breadcrumb-tick";
      } else if (breadcrumbNumber <= this.currentSlide) {
        returnClass += " breadcrumb-active";
      }
      if (breadcrumbNumber == this.slide.length)
        returnClass += " breadcrumb-right";
      else if (breadcrumbNumber == 1) returnClass += " breadcrumb-left";
      else returnClass += " breadcrumb-s";

      return returnClass;
    },
    prev: function() {
      if (this.currentSlide == 3 && this.skipEmployment) {
        this.currentSlide = this.currentSlide - 2;
        this.progressBar = (this.currentSlide - 1) * this.slideMultiplier;
      } else {
        this.currentSlide > 1 ? this.currentSlide-- : this.currentSlide;
        this.progressBar = (this.currentSlide - 1) * this.slideMultiplier;
      }
      this.update();
    },
    next: function() {
      this.triggerEvent(
        region.toUpperCase() +
          "-" +
          lang.toUpperCase() +
          "-PL-" +
          "SQCOMPLETED",
        {
          step: this.currentSlide,
          userInformation: this.jappData
        }
      );

      if (this.currentSlide == 1 && this.skipEmployment) {
        this.progressBar = (this.currentSlide + 1) * this.slideMultiplier;
        this.currentSlide = this.currentSlide + 2;
      } else {
        this.progressBar = this.currentSlide * this.slideMultiplier;
        this.currentSlide < this.slide.length
          ? this.currentSlide++
          : this.currentSlide;
      }

      this.triggerEvent(
        region.toUpperCase() + "-" + lang.toUpperCase() + "-PL-" + "SQLOADED",
        {
          step: this.currentSlide,
          userInformation: this.jappData
        }
      );
      this.update();
    },
    update: function() {
      if (this.currentSlide == 0) this.component = "basicForm";
      else {
        if (Loan.nid == "54" || Loan.nid == "75") {
          this.component = this.rhbSlide[this.currentSlide - 1];
        } else {
          this.component = this.defaultSlide[this.currentSlide - 1];
        }
      }
    }
  },
  computed: {
    slide() {
      if (Loan.nid == "54" || Loan.nid == "75") return this.rhbSlide;
      return this.defaultSlide;
    },
    slideMultiplier() {
      return 100 / (this.slide.length - 1);
    },
    progressBarSize() {
      if (Loan.nid == "54" || Loan.nid == "75") return 34;
      else return 50;
    },
    skipEmployment() {
      return (
        this.jappData.employment_type &&
        this.jappData.employment_type == "Unemployed"
      );
    }
  },
  validations: {}
};
</script>
