<template>
  <form data-step="0" action v-on:submit.prevent="onSubmit" novalidate>
    <div class="apply-details">
      <div class="row">
        <div class="col-xs-6 apply-details-item">
          {{translate('Interest Rate')}}
          <span>{{interestRate ? interestRate + '%' : '-'}}</span>
        </div>
        <div class="col-xs-6 apply-details-item">
          {{translate('Monthly Repayment')}}
          <span>{{monthlyRepayment ? Currency + monthlyRepayment : '-'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 apply-details-item">
          {{translate('Loan Amount')}}
          <span>
            <input
              id="input-amount"
              type="number"
              data-action="Input"
              data-subject="User"
              data-description="Amount"
              data-vertical="Personal Loan"
              data-region="Product Loan Calculator"
              class="form-control"
              v-model.trim="loan_amount"
              @input="$v.loan_amount.$touch()"
            >
            <div v-for="(rule, index) in $v.loan_amount.$params" v-bind:key="index">
              <span
                class="color-red info-red"
                v-if="validate($v.loan_amount,rule.type)"
              >{{ getErrotmessage('loan_amount',rule.type) }}</span>
            </div>
          </span>
        </div>
        <div class="col-xs-6 apply-details-item">
          {{translate('Tenure')}}
          <select
            id="input-year"
            v-model.trim="loan_tenure"
            @input="$v.loan_tenure.$touch()"
            data-action="Input"
            data-subject="User"
            data-description="Tenure"
            data-vertical="Personal Loan"
            data-region="Product Loan Calculator"
            class="form-control"
          >
            <option
              v-if="allow6Month"
              data-subject="User"
              data-action="Input"
              data-description="Tenure"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
            >0.5</option>
            <option
              v-for="(tenure,index) in listTenure"
              v-bind:key="index"
              data-subject="User"
              data-action="Input"
              data-description="Tenure"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
            >{{tenure}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="apply-form">
      <ul
        data-imu-track="input,select"
        data-subject="User"
        data-action="Input"
        data-region="Product Apply Popup"
        data-vertical="Personal Loan"
      >
        <li>
          <h5>{{translate('Please provide your details to begin the application process.')}}</h5>
          <!-- <div class="row" v-if="showHideQustion">
        <div class="form-group col-xs-12 col-md-12">
          <label>{{translate('Salutation')}}</label>
          <select name="salutation" v-model.trim="salutation" data-description="salutation" tabindex="-1" class="form-control">
              <option value="" disabled selected>{{translate('Choose one')}}</option>
              <option v-for="(item, index) in salutations"  v-bind:key="index" :value="item">{{item}}</option>
            </select>
            <div v-for="(rule, index) in $v.salutation.$params" v-bind:key="index">
              <span class="color-red" v-if="validate($v.salutation,rule.type)">
                  {{ getErrotmessage('salutation',rule.type)}}
              </span>
          </div>
        </div>
          </div>-->
          <div class="form-group">
            <label v-if="showHideQustion">{{translate('Full Name as per NRIC')}}</label>
            <label v-else>{{translate('Full Name')}}</label>
            <input
              class="form-control"
              placeholder="Mohammad Johan bin Ismail"
              v-model.trim="name"
              @input="$v.name.$touch()"
              v-bind:class="{'form-control parsley-error': $v.name.$error, 'form-control': $v.name.$dirty && !$v.name.$invalid}"
            >
            <div v-for="(rule, index) in $v.name.$params" v-bind:key="index">
              <span
                class="color-red"
                v-if="validate($v.name,rule.type)"
              >{{ getErrotmessage('name',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group">
            <label>{{translate('Your Email')}}</label>
            <input
              type="email"
              name="email_address"
              placeholder="mohammad@email.com"
              data-description="Email"
              class="form-control"
              v-model.trim="email_address"
              @input="$v.email_address.$touch()"
              v-bind:class="{'form-control parsley-error': $v.email_address.$error, 'form-control': $v.email_address.$dirty && !$v.email_address.$invalid}"
            >
            <div v-for="(rule, index) in $v.email_address.$params" v-bind:key="index">
              <span
                class="color-red"
                v-if="validate($v.email_address,rule.type)"
              >{{ getErrotmessage('email_address',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group">
            <label>{{translate('Contact Number')}}</label>
            <input
              type="tel"
              data-description="Contact Number"
              placeholder="0123456789"
              class="form-control"
              v-model.trim="phone_number"
              @input="$v.phone_number.$touch()"
              v-bind:class="{'form-control parsley-error': $v.phone_number.$error, 
                'form-control': $v.phone_number.$dirty && !$v.phone_number.$invalid}"
            >
            <div v-for="(rule, index) in $v.phone_number.$params" v-bind:key="index">
              <span
                class="color-red"
                v-if="validate($v.phone_number,rule.type)"
              >{{ getErrotmessage('phone_number',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="apply-salary" class="control-label">{{translate('Monthly Basic Salary')}}</label>
            <div id="apply-salary-container">
              <div class="input-group">
                <div class="input-group-addon">RM</div>
                <input
                  type="number"
                  class="form-control"
                  data-description="Monthly Basic Salary"
                  v-model.trim="monthly_salary"
                  placeholder="5000"
                  @input="$v.monthly_salary.$touch()"
                  v-bind:class="{'form-control parsley-error': $v.monthly_salary.$error, 'form-control': $v.monthly_salary.$dirty && !$v.monthly_salary.$invalid}"
                >
              </div>
              <div v-for="(rule, index) in $v.monthly_salary.$params" v-bind:key="index">
                <span
                  class="color-red"
                  v-if="validate($v.monthly_salary,rule.type)"
                >{{ getErrotmessage('monthly_salary',rule.type) }}</span>
              </div>
            </div>
          </div>
          <div class="form-group a-center">
            <button
              id="get-it-now-btn"
              type="submit"
              data-subject="User"
              data-action="Submit"
              :data-value="productTitle"
              :data-title="productTitle"
              data-step="0"
              data-description="Apply Form"
              data-region="Product Apply Popup"
              data-vertical="Personal Loan"
              class="btn btn-lg btn-apply-complement"
              :disabled="applyNow != translate('Next')"
            >{{applyNow}}</button>
          </div>
          <div class="checkbox font-xs a-center">
            <label class="privacy-policy">
              <input
                type="checkbox"
                checked="checked"
                name="allow_checked"
                v-model.trim="checkbox"
                @input="$v.checkbox.$touch()"
              >
              {{translate('By ticking this box and submitting your information, you consent for us to process your personal information as per our')}}
              <a
                v-bind:href="translate(privacyStatement)"
                target="_blank"
              >{{translate('Privacy Policy')}}</a>
              {{translate('and to pass your personal information to the product providers.')}}
              <div v-for="(rule, index) in $v.checkbox.$params" v-bind:key="index">
                <span
                  class="color-red"
                  v-if="validate($v.checkbox,rule.type)"
                >{{ getErrotmessage('checkbox',rule.type) }}</span>
              </div>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </form>
</template>

<script>
import { submitToJapp, creatArrayRange, getProductData } from "../helper";
import { parsePhoneNumberFromString } from "libphonenumber-js";

export default {
  components: {},
  data: function() {
    return {
      allow6Month: allow6Month,
      applyNow: this.translate("Next"),
      DisableApplyNow: true,
      name: null,
      Currency,
      email_address: null,
      phone_number: null,
      monthly_salary: null,
      loan_amount: loan_amount,
      loan_tenure: tenure,
      checkbox: true,
      productTitle: getProductData().title
    };
  },
  created: function() {
    let that = this;
    // this.interestRate = $("#interestRate").html();
    // this.monthlyRepayment = $("#installment").html();
    $(function() {
      $("#input-year").change(function() {
        that.loan_tenure = this.value;
      });
      $("#input-amount").change(function() {
        that.loan_amount = this.value;
      });
      // var slider = document.getElementById("slider-salary");
      // slider.noUiSlider.on("update", function(value, handle) {
      //   that.monthly_salary = value[0];
      // });
    });
  },
  computed: {
    listTenure: function() {
      return creatArrayRange(
        parseInt(Loan.minimumTenure),
        parseInt(Loan.maximumTenure)
      );
    },
    privacyStatement: function() {
      return Loan.nid == "54" || Loan.nid == "75"
        ? "http://imoney-public.s3.amazonaws.com/my/Easy+Pinjaman+Ekspres+Terma.pdf"
        : "/privacy-statement";
    },
    showHideQustion: function() {
      return Loan.nid == "54" || Loan.nid == "75";
    },
    interestRate: function() {
      return this.getInterestRate();
    },
    monthlyRepayment: function() {
      let interst_rate = parseFloat(this.interestRate);
      if (!interst_rate) return null;
      var yearlyInterest = (this.loan_amount * interst_rate) / 100;
      var monthlyInterest = yearlyInterest / 12;
      var principalInstallment =
        this.loan_amount / (parseFloat(this.loan_tenure) * 12);
      var installment = monthlyInterest + principalInstallment;
      if (number_spreater) {
        installment = parseInt(installment)
          .toString()
          .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      } else {
        installment = parseInt(installment)
          .toString()
          .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
      return installment;
    }
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    getInterestRateSearchKeys: function() {
      let interestFormat = Loan.interestFormat;
      var interestFormatString =
        typeof interestFormat == "object" ? interestFormat[0] : interestFormat;
      switch (interestFormatString) {
        case "tenure":
        case "tenurerange":
          return [this.loan_tenure];
        case "amount":
          return [this.loan_amount];
        case "income":
          return [this.monthly_salary];
        case "tenure_income":
          return [this.loan_tenure, this.monthly_salary];
        case "tenure_amount":
          return [this.loan_tenure, this.loan_amount];
        case "amount_tenure":
          return [this.loan_amount, this.loan_tenure];
      }
    },
    getInterestRate: function() {
      let keys = this.getInterestRateSearchKeys();
      let interestFormat = Loan.interestFormat;
      let personalLoanRates = Loan.personalLoanRates;
      if (!interestFormat) return null;
      if (!keys) return null;
      if (!personalLoanRates) return null;

      if (interestFormat == "tenurerange")
        return this.getInterestRateFromKeyRange(
          keys,
          "key1",
          personalLoanRates
        );
      if (interestFormat == "income")
        return this.getInterestRateFromKeyRange(
          keys,
          "key1",
          personalLoanRates,
          1
        );
      if (interestFormat == "amount")
        return this.getInterestRateFromKeyRange(
          keys,
          "key1",
          personalLoanRates
        );
      if (interestFormat == "tenure")
        return this.getInterestRateFromTenure(keys, personalLoanRates); //No range. Absolute match only.
      if (interestFormat == "tenure_income")
        return this.getInterestRateFromTenureIncome(keys, personalLoanRates);
      if (interestFormat == "tenure_amount")
        return this.getInterestRateFromKeyRangeKeyRange(
          keys,
          personalLoanRates
        );
      if (interestFormat == "amount_tenure")
        return this.getInterestRateFromAmountTenure(keys, personalLoanRates);
    },
    getInterestRateFromKeyRange: function(
      keys,
      keyname,
      personalLoanRates,
      print
    ) {
      //Sort asc by keyname
      personalLoanRates.sort(function(a, b) {
        return parseInt(a[keyname]) - parseInt(b[keyname]);
      });

      var item = this.getItemFromRange(keys[0], keyname, personalLoanRates);

      if (!item) return null;

      return item["value"];
    },
    getInterestRateFromTenure: function(keys, personalLoanRates) {
      var tenure = keys[0];
      var irate = null;

      angular.forEach(personalLoanRates, function(rate, key) {
        if (parseInt(rate.key1) == parseInt(tenure)) {
          irate = rate.value;
          return;
        }
      });

      return irate;
    },
    getInterestRateFromAmountTenure: function(keys, personalLoanRates) {
      var amount = keys[0];
      var tenure = keys[1];
      var rates = [];

      //Find the rates by tenure
      angular.forEach(personalLoanRates, function(rate, key) {
        if (parseFloat(rate.key2) == parseFloat(tenure)) {
          rates.push({
            key: rate.key1,
            value: rate.value
          });
        }
      });

      if (rates.length == 0) return null;

      //Sort rates by income asc
      rates.sort(function(a, b) {
        return parseFloat(a.key) - parseFloat(b.key);
      });

      //Now find rate from amount range
      var item = this.getItemFromRange(amount, "key", rates);
      if (!item) return null;

      return item["value"];
    },
    getItemFromRange: function(niddle, niddleKey, rates) {
      var item = null;

      angular.forEach(rates, function(rate, key) {
        if (parseFloat(niddle) >= parseFloat(rate[niddleKey])) {
          item = rate;
        }
      });

      return item;
    },
    getInterestRateFromKeyRangeKeyRange: function(keys, personalLoanRates) {
      var key1 = keys[0];
      var key2 = keys[1];
      var rates = [];

      //Filtering by key1 first
      rates = this.filterRatesByKeyRange(key1, "key1", personalLoanRates);
      if (!rates.length) return null;

      //Filtering by key2
      rates = this.filterRatesByKeyRange(key2, "key2", rates);
      if (!rates.length) return null;

      return rates[0].value;
    },
    getInterestRateFromTenureIncome: function(keys, personalLoanRates) {
      var tenure = keys[0];
      var income = keys[1];
      var rates = [];

      //Find the rates by tenure
      angular.forEach(personalLoanRates, function(rate, key) {
        if (parseFloat(rate.key1) == parseFloat(tenure)) {
          rates.push({
            key: rate.key2,
            value: rate.value
          });
        }
      });

      if (rates.length == 0) return null;

      //Sort rates by income asc
      rates.sort(function(a, b) {
        return parseFloat(a.key) - parseFloat(b.key);
      });

      //Now find rate from income range
      var item = this.getItemFromRange(income, "key", rates);
      if (!item) return null;
      return item["value"];
    },
    calculate: function() {
      // this.InterestRate = 0
      // console.log(Loan.personalLoanRates)
      // this.InterestRate = this.getInterestRate()
      // console.log(this.InterestRate)
    },
    validatePhoneNumber: function(phone_number) {
      if (region === "my") {
        let MY = "+60";
        let phoneNumber;
        if (phone_number[0] === "6") {
          phoneNumber = `+${phone_number}`;
        } else if (!phone_number.includes("+60")) {
          phoneNumber = `${MY} ${phone_number}`;
        } else {
          phoneNumber = phone_number;
        }
        let checkMYnumber = parsePhoneNumberFromString(phoneNumber, "MY");
        if (checkMYnumber.country === "MY") {
          phone_number = `0${checkMYnumber.nationalNumber}`;
          return phone_number;
        }
      }
      return phone_number;
    },
    onSubmit: function() {
      if (!this.$v.$invalid) {
      this.$parent.jappData.name = this.name;
      this.$parent.jappData.email_address = this.email_address;
      this.$parent.jappData.phone_number = this.validatePhoneNumber(
        this.phone_number
      );
      this.$parent.jappData.monthly_salary = this.monthly_salary;
      this.$parent.jappData.loan_amount = this.loan_amount;
      this.$parent.jappData.loan_tenure = this.loan_tenure;
      this.$parent.jappData.checkbox = this.checkbox;
        this.applyNow = this.translate("Please wait...");
        IMDevPropBag.add("prequalify_current_step", 1);
        IMDevPropBag.add("prequalify_total_steps", 4);
        IMDevPropBag.add("prequalify_status", "incomplete");
        submitToJapp(this.$parent.jappData).then(result => {
          this.applyNow = "Submitted..";
          IMDevPropBag.add("referrer_submission_id", result.data["$id"]);
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.vuelidateObjBasic.erroMessagesObj[field][
        type
      ];
    }
  },
  validations: function() {
    return this.globalValidationObj.vuelidateObjBasic.validatorObj;
    //return vuelidateObj.validatorObj;
  }
};
</script>