.user__review--wrapper
  .user__review--content
    h3 #{language.translate('How was your experience with iMoney?')}
    p #{language.translate('Please share your feedback.')}
    a.btn.btn-lg.btn-complement.btn-complement--gradient(href='/testimonials/?write_review=true') #{language.translate('Let \'s go!')}
