// Apply form
#modal-apply.modal-apply-v2.modal.fade(role='dialog', tabindex='-1', aria-hidden='true',data-imu-track="option,select,button")
	.modal-apply-v2__dialog.modal-dialog
		.modal-apply-v2__content.modal-content
			.apply-header
				| #{language.translate('You\'re now applying for')}
				a.close-apply(data-dismiss='modal', href='#')
			.apply-product
				.apply-product__content
			.apply-form
				form#form-apply(method='get', action='', data-parsley-validate='')
					input#apply-nid(name='apply-nid', type='hidden', value='{{ card.nid }}')
					ul.progress-small
						li
							.step-indicator
								| STEP
								br
								span 1
							| #{language.translate('Fill In')}
						li
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 2
							| #{language.translate('Submit')}
						li
							.step-indicator.call-ops
							| Done!
					ul.progress-big(data-imu-track='input,select', data-subject='User', data-action='Input', data-region='Product Apply Popup', data-vertical='Personal Loan')
						li.step1
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 1
							h5(style="color: gray; padding-bottom: 2px;")
								| #{language.translate('Please provide your name, email and phone number so we can contact you to begin the')}
								| #{language.translate('application process.')}
							.form-group
								input#apply-name.inputbox.icn_name.form-control(type='text', name='name', placeholder=language.translate('Your Name'), data-description='Your Name', required='', data-parsley-pattern="/^[a-zA-z\\s]*$/", data-parsley-pattern-message=language.translate('Your name should only consist of letters'), data-parsley-trigger='keyup', data-parsley-required-message=language.translate('Please enter your name'), data-parsley-minlength='3', data-parsley-minlength-message=language.translate('Please enter your name (Min. 3 digits)'))
							.form-group
								input#apply-email.inputbox.icn_email.form-control(type='email', name='email_address', placeholder=language.translate('Email'), data-description='Email', required='', data-parsley-trigger='keyup', data-parsley-type='email', data-parsley-error-message=language.translate('A valid email address is required'))
							.form-group
								input#apply-phone.inputbox.icn_tel.form-control(type='tel', name='phone_number', data-description='Contact Number', placeholder=language.translate('Contact Number'), required='', data-parsley-required-message=language.translate('A valid phone number is required'), data-parsley-trigger='keyup', data-parsley-type='number',data-parsley-type-message=language.translate('This value should be a valid number.'), data-parsley-minlength='9', data-parsley-minlength-message=language.translate('A valid phone number is required (Min. 9 digits)'))
							if(loan.applyFormType =="2" || region=='id')
								.form-group
									input#identification_no.inputbox.icn_ic.form-control(type='number', name='identification_no', data-description='IC Number', data-parsley-length="[16, 16]",data-parsley-length-message=language.translate('Harap isi nomor KTP yang benar'),placeholder=language.translate('Nomor KTP (wajib diisi)'), data-parsley-trigger='keyup', data-parsley-type='number',data-parsley-type-message=language.translate('This value should be a valid IC number.'), data-parsley-minlength='7', data-parsley-minlength-message=language.translate('A valid IC is required (Min. 7 digits)'))
							.form-horizontal
								if (City)
									.form-group
										label.col-xs-3.control-label(for="city") #{language.translate('City')}
										.col-xs-9
											select(name="city",id ="city" , required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#city-error-container").form-control
												option(value="") #{language.translate("Please select city")}
												option(value="Jakarta") Jakarta
												option(value="Bogor") Bogor
												option(value="Depok") Depok
												option(value="Tangerang") Tangerang
												option(value="Bekasi") Bekasi
												option(value="Bandung") Bandung
												option(value="Bali") Bali
												option(value="Sidoarjo") Sidoarjo
												option(value="Surabaya") Surabaya
												option(value="Lain-Lain") Lain-Lain
												option(value="Gresik") Gresik
											#city-error-container
									.form-group
										label.col-xs-3.control-label(for="gender") #{language.translate('Jenis Kelamin')}
										.col-xs-9
											select(name="gender",id ="gender" , required, data-parsley-required-message=language.translate('Pilih salah satu') data-parsley-errors-container="#gender-error-container").form-control
												option(value="") #{language.translate("Pilih salah satu")}
													option(value="Male") Laki-laki
													option(value="Female") Wanita
											#gender-error-container
							.form-horizontal
								.form-group
									label.col-xs-3.control-label(for="apply-amount") #{language.translate('Amount')}
									#apply-amount-container.col-xs-9
										.input-group
											.input-group-addon #{Currency}
											input#apply-amount.form-control(
											type=number,
											name="amount",
											pattern="[0-9]",
											data-parsley-min=loan.minimumAmount,
											required="",
											data-parsley-type="integer",
											data-parsley-min-message=language.translate("Min. amount is ")+loan.minimumAmount,
											data-parsley-required-message=language.translate("Loan amount is required")
											data-parsley-pattern-message=language.translate("Loan amount should not contain decimals")
											data-parsley-errors-container="#apply-amount-container",
											data-parsley-trigger='keyup',
											placeholder=loan_amount,
											data-description='Monthly Income'
											)

								.form-group
									label.col-xs-3.control-label(for="apply-tenure") #{language.translate('Tenure')}
									.col-xs-9
										.input-group
											select#apply-tenure.form-control(name="tenure",ng-model="filterTenure",data-description="Tenure", aria-describedby="input-year")
												if(allow6Month)
													option(value= 0.5,data-subject='User', data-action='Input', data-description='Apply Form', data-region='Product Apply Popup', data-vertical='Personal Loan') 0.5													
												-for(var i=parseFloat(loan.minimumTenure); i<=parseInt(loan.maximumTenure);i=i+interval_Tenure)
													option(value= i,data-subject='User', data-action='Input', data-description='Apply Form', data-region='Product Apply Popup', data-vertical='Personal Loan')= i
											span#input-year.input-group-addon #{language.translate('years')}
								if region == "my"
									.form-group
										label.col-xs-3.control-label(for="apply-income" style="padding-top:0;") #{language.translate('Monthly Income')}
										#apply-income-container.col-xs-9
											.input-group
												.input-group-addon #{Currency}
												input#apply-income.form-control(
													type=number,
													pattern="[0-9]",
													data-description='Monthly Income',	
													placeholder="5000",											required,
													data-parsley-required-message=language.translate('Your monthly salary is required')
													data-parsley-pattern-message=language.translate('Your monthly income should only consist of numbers')
													data-parsley-errors-container="#apply-income-error-container"
													)
											#apply-income-error-container
							if (NPWP)
								.form-group
									.row
										label(for="no-npwp").col-xs-7.col-sm-8.a-right #{language.translate('No NPWP')}
										.checkbox--toggle.col-xs-5.col-sm-4.a-right
											input.toggle-input(type="checkbox",id="no-npwp", name="")
											label.toggle.toggle-lg(for="no-npwp")
												i.no #{language.translate('No')}
												span
												i.yes #{language.translate('Yes')}
							if (another_cards)
								.form-group
									.row
										if(loan.nid !='746')
											label(for="existingcard").col-xs-7.col-sm-8.a-right #{language.translate('Do you have an existing credit card?')} 
										else
											label(for="existingcard").col-xs-7.col-sm-8.a-right #{language.translate('Do you have an existing savings account?')}  

										.checkbox--toggle.col-xs-5.col-sm-4.a-right
											input.toggle-input(type="checkbox",id="existingcard", name="",checked)
											label.toggle.toggle-lg(for="existingcard")
												i.no #{language.translate('No')}
												span
												i.yes #{language.translate('Yes')}
							if(region=='ph')
								.form-group(id='existingcardTenureBlock')
									.row
										label.col-xs-7.col-sm-8.a-right #{language.translate('How long have you had your existing card?')}
										.radio--toggle.col-xs-5.col-sm-4.a-right
											label.radio(for="lessThan12Months")
												input(type="radio", name="existingcardTenure", id='existingcardTenure', data-action='Input', data-description='Existing Credit-Card Duration',data-subject="User",data-region='Product Apply Popup',data-vertical = "Personal Loan", value="< 12 months",data-value="< 12 months ", data-parsley-errors-container="#existingcardtenure-error-container")
												&lt; 12 months
											label.radio(for="moreThan12Months")
												input(type="radio", name="existingcardTenure", id='moreThan12Months', data-action='Input', data-description='Existing Credit-Card Duration',data-subject="User",data-region='Product Apply Popup',data-vertical = "Personal Loan", value="> 12 months",data-value="> 12 months")
												&gt; 12 months
										#existingcardtenure-error-container
							.form-horizontal
								if(loan.nid == '746')
									.form-group
											label.col-xs-3.control-label(for="city") #{language.translate('Location')}
											.col-xs-9
												select(name="locationInput",id ="locationInput" , required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#city-error-container").form-control
													option(value="") #{language.translate("Please select location")}
													option(value="Manila") Manila
													option(value="Quezon City") Quezon City
													option(value="Caloocan") Caloocan
													option(value="Las Pinas") Las Pinas
													option(value="Marikina") Marikina
													option(value="Pasig") Pasig
													option(value="Paranaque") Paranaque
													option(value="Pasay") Pasay
													option(value="Malabon") Malabon
													option(value="Navotas") Navotas
													option(value="Makati") Makati
													option(value="Muntinlupa") Muntinlupa
													option(value="Taguig") Taguig
													option(value="Valenzuela") Valenzuela
													option(value="San Juan") San Juan
													option(value="Pateros") Pateros
													option(value="Laguna") Laguna
													option(value="Cavite") Cavite
													option(value="Rizal") Rizal
													option(value="Bulacan") Bulacan
													option(value="Pampanga") Pampanga
													option(value="Batangas") Batangas
													option(value="Tarlac") Tarlac
													option(value="Nueva Ecija") Nueva Ecija
												#city-error-container
										
														

						li.step2
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 2
							p #{language.translate('Submit your contact information to us and get your application started.')}
							.form-group.button-wrapper
								button#apply-now-btn.btn.btn-lg.btn-apply-complement(type='submit', data-subject='User',
								data-action='Submit', data-value=loan.title ,data-description='Apply Form',
								data-region='Product Apply Popup', data-vertical='Personal Loan',
								data-id=loan.nid , data-title= loan.title, data-bank=loan.bank ,
								data-islamic_conventional= loan.islamic_conventional)
									| #{language.translate('Apply Now')}
							if config.app.pdpa
								.checkbox.font-xs
									label
										input(type='checkbox', checked='checked', name='allow_checked', required='' data-parsley-required-message="#{language.translate('Please check this box if you want to proceed')}")
										| !{ config.app.pdpa }
							if config.app.marketing_consent
								.checkbox.font-xs
									label
										input(type='checkbox', checked='checked', name='allow_consent', required='' data-parsley-required-message="#{language.translate('Please check this box if you want to proceed')}")
										| !{ config.app.marketing_consent }

						li.step3
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 3
							.imoney-callops
								if region === 'sg'
									| #{language.translate('An OCBC representative will contact you within one business day to help you complete')}
								else
									| #{language.translate('An iMoney representative will contact you within one business day to help you complete')}
								| #{language.translate('your application and also answer any questions you may have.')}
