doctype html
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js", lang='#{lang}', ng-app="PersonalLoanApp")
	<!--<![endif]-->
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=11")
		meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no')
		meta(name='description', content='#{metaDescription}')
		meta(name='keywords', content='#{metaKeyword}')
		meta(name='Jupiter', content='B')
		title #{pageTitle}

		block css
			link(rel='stylesheet', href='/v4/css/base.css')

		block head-script
			script.
				var iAJSLoader = {
					scripts: [],
					stateTracker: [],
					curGroupIndex: 0,
					onCompleteCalled: false,
					onComplete: function() {console.log('iJSLoader Completed!')},
					onStateChange: function(groupIndex, group, path, callbackName) {
						this.stateTracker[groupIndex] = this.stateTracker[groupIndex] || {};
						this.stateTracker[groupIndex].total = group.length;
						var _success = false;
						return function() {
							if (!_success && (!this.readyState || (this.readyState == 'complete'))) {
								_success = true;
								iAJSLoader.stateTracker[groupIndex].loaded = iAJSLoader.stateTracker[groupIndex].loaded || 0;
								iAJSLoader.stateTracker[groupIndex].loaded++;
								if(iAJSLoader.stateTracker[groupIndex].loaded == iAJSLoader.stateTracker[groupIndex].total) {
									iAJSLoader[callbackName]();
								}
							}
						};
					},
					init: function(scripts) {
						this.scripts = scripts;
						this.loadNextGroup();
					},
					loadNextGroup: function() {
						if (!this.scripts.length) {
							if(this.onCompleteCalled) return;
							this.onCompleteCalled = true;
							return this.onComplete();
						}
						var group = this.scripts.shift();
						for(var si=0; si<group.length; si++) {
							var path = group[si];
							var scriptElm = document.createElement('script');
							scriptElm.type = 'text/javascript';
							scriptElm.async = 'sync';
							scriptElm.src = path;
							scriptElm.onload = scriptElm.onreadystatechange = this.onStateChange(this.curGroupIndex, group, path, 'loadNextGroup');
							var headElm = document.head || document.getElementsByTagName('script')[0];
							headElm.appendChild(scriptElm);
						}
						this.curGroupIndex++;
					}
				};
				iAJSLoader.onComplete = function completed() {
					console.log('iJSLoader Completed!')
					/*$(function() {
					//Only Google Tag Manager is loaded last as it blocks all important JSs
					//Start Google Tag Manager
					(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
					})(window,document,'script','dataLayer','{{gTag|default('GTM-KTF5WP')}}');
					//End Google Tag Manager
					})*/
				};
			<!--[if lte IE 9]>
			<script src='/v4/js/plugins/respond.min.js'></script>
			<![endif]-->
		// Facebook Open Graph
		meta(property='fb:app_id', content='#{app_id}')
		meta(property='og:site_name', content='#{siteName}')
		meta(property='og:type', content='website')
		meta(property='og:url', content='#{canonicalURL}')
		meta(property='og:title', content='#{ogTitle}')
		meta(property='og:description', content='#{ogDescription}')

		meta(property='og:image', content='#{ogImage}')
		if(region == "id")
			link(rel='shortcut icon', href='//www.aturduit.com/sites/www.aturduit.com/files/aturduit-favicon.jpg')
		else
			link(rel='shortcut icon', href='//www.imoney.my/sites/default/files/logo_small.png')
		link(rel='canonical', href='#{canonicalURL}')
	body(ng-controller='PersonalLoanController',class='#{locals.bodyClass}')

		// Start Google Tag Manager
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id='+ gTag, height='0', width='0', style='display:none;visibility:hidden')
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer',!{JSON.stringify(gTag)});
		// End Google Tag Manager

		block content


		block footer-script
