// Footer
footer.footer(role='contentinfo', data-region='Global Footer', data-imu-track='a')
  .container
    .row.footer__top
      .col-md-2.col-sm-4.footer__top__col
        h5
          span Compare Credit Cards
        ul.footer__list(data-subject='User', data-action='Click', data-region='Global Footer', data-vertical='Credit Card', data-description='Link')
          li
            a(href='/credit-card/top-10-credit-cards/') Top 10 Credit Cards
          li
            a(href='/credit-card/petrol-credit-cards/') Best Petrol Credit Cards
          li
            a(href='/credit-card/shopping-credit-cards/') Best Shopping Credit Cards
          li
            a(href='/credit-card/rewards-credit-cards/') Best Rewards Credit Cards
          li
            a(href='/credit-card/cashback-credit-cards/') Best Cash Back Credit Cards
          li
            a(href='/credit-card/top-10-credit-cards/') Best Credit Cards in Malaysia
      .col-md-3.col-sm-5.footer__top__col
        h5
          span Articles you should read
        ul.footer__list(data-subject='User', data-action='Click', data-region='Global Footer', data-vertical='Learning Centre', data-description='Link')
          li
            a(href='/articles/best-dining-credit-card') Dining Card Battle Royale! Which is the Best Dining Credit Card?
          li
            a(href='/articles/best-cashback-credit-card-save-while-you-spend') Best Cashback Credit Card: Save While You Spend
          li
            a(href='/articles/the-best-credit-cards-for-entrepreneurs') The Best Credit Cards For Entrepreneurs
          li
            a(href='/articles/heres-how-to-really-find-the-perfect-credit-card') Here’s How to Really Find the Perfect Credit Card
      .col-md-2.col-sm-3.footer__top__col
        h5
          span About iMoney
        ul.footer__list(data-subject='User', data-action='Click', data-region='Global Footer', data-vertical='General', data-description='Link')
          li
            a(href='/about-us') About us
          li
            a(href='/careers') Careers
          li
            a(href='/testimonials') Testimonials
          li
            a(href='/frequently-asked-questions') Help Center
          li
            a(href='/contact-us') Contact Us
      .col-md-2.col-sm-6.footer__top__col
        h5
          span Connect with us
        ul.footer__list.footer__list--social(data-subject='User', data-action='Click', data-region='Global Footer', data-vertical='General', data-description='Link')
          li.ft-facebook
            a(href='https://www.facebook.com/IMoney.my', target='_blank') Facebook
          li.ft-twitter
            a(href='https://twitter.com/iMoneyMY', target='_blank') Twitter
          li.ft-google
            a(href='https://plus.google.com/+ImoneyMy-official/posts', target='_blank') Google+
          li.ft-instagram
            a(href='http://instagram.com/imoney_malaysia', target='_blank') Instagram
          li.ft-youtube
            a(href='http://www.youtube.com/channel/UCqVreFR5Sm2bznDk58WN3tw', target='_blank') YouTube
          li.ft-pinterest
            a(href='http://www.pinterest.com/imoneymy/', target='_blank') Pinterest
      .col-md-3.col-sm-6.footer__top__col
        img.footer__imoney-logo(src='/img/imoney-malaysia-logo.png', alt='iMoney Malaysia')
        .vcard
          h5.vcard-companyname.mb0
            | Intelligent Money Sdn. Bhd.
            br
            span.font-xsm (1005180-T)
          .vcard-address
            | Unit No 50-2-1, Level 2 Wisma UOA Damansara,
            br
            | No 50 Jalan Dungun, Damansara Heights,
            br
            | 50490, Kuala Lumpur.
          .vcard-contact
            strong Phone:
            | +603 2787 9181
            br
            strong Fax:
            | +603 2787 9181
    .row
      .col-md-12
        .footer__copyright
          ul.no-bullet.copyright-link(data-subject='User', data-action='Click', data-region='Global Footer', data-vertical='General', data-description='Link')
            li
              a(href='/site-map') Sitemap
            li
              a(href='/disclaimer') Disclaimer
            li
              a(href='/privacy-statement') Privacy Policy
            li
              a(href='http://www.imoney-group.com', target='_blank', rel='nofollow') Corporate
          p.copyright &copy; 2015 iMoney.my
