nav#mb-nav.mb-mainnav(role='navigation')
  .mb-mainnav-inner.mb-wrapper
    // Popular
    ul.no-bullet.mb-mainnav__popular
      li
        a(href='/home-loan') Home Loan
      li
        a(href='/credit-card') Credit Cards
      li
        a(href='/personal-loan') Personal Loans
      li
        a(href='/car-insurance') Car Insurance
      li
        a(href='/fixed-deposit') Fixed Deposit
      li
        a(href='/articles') Learning Centre
      li
        a(href='/testimonials/?write_review=true') User Reviews

.navbar
  .container
    nav(role='navigation', data-region='main-navigation')
      ul.navbar__list.cf(data-imu-track='li a', data-subject='User', data-action='Click', data-description='Link', data-region='Global Navigation')
        li#slide-creditcard.nav__item.nav__item--cc(data-slidenum='1')
          a(href='/credit-card/', data-vertical='Credit Card')
            i
            | Credit Card
        li#slide-homeloan.nav__item.nav__item--hl(data-slidenum='2')
          a(href='/home-loan/', data-vertical='Home Loan')
            i
            | Home Loan
        li#slide-broadband.nav__item.nav__item--bb(data-slidenum='3')
          a(href='/broadband/', data-vertical='Broadband')
            i
            | Broadband
        li#nav-all.nav__item.nav__item--all
          a(href='#nav', data-vertical='General')
            i
            | All Products
          #nav.nav__overlay
            .nav__overlay__inner
              .nav__overlay__top
                h3 All Products
                a.nav__overlay__close(href='#')
                  i
                  | Close
              .nav__overlay__body
                .nav__overlay__col
                  .nav__overlay__navset(data-vertical='Credit Card')
                    h6 Cards
                    ul
                      li
                        a(href='/credit-card/search/') Find The Best Credit Card
                      li
                        a(href='/credit-card/best-credit-cards') Discover The Best Credit Cards
                      li
                        a(href='/credit-card/top-10-credit-cards/') Top 10 Credit Cards
                      li
                        a(href='/credit-card') All Credit Cards
                      li
                        a(href='/credit-card-islamic') Islamic Credit Cards
                      li
                        a(href='/debit-card') Debit Cards
                  .nav__overlay__navset(data-vertical='Broadband')
                    h6 Broadband
                    ul
                      li
                        a(href='/broadband/') All Broadband Plans
                      li
                        a(href='/broadband/search/') Find The Best Broadband Plan
                  .nav__overlay__navset(data-vertical='Home Loan')
                    h6 Home Loans
                    ul
                      li
                        a(href='/home-loan') All Home Loans
                      li
                        a(href='/home-loan-islamic') Islamic Home Loans
                      li
                        a(href='/home-loan-refinance') Home Loan Refinancing
                .nav__overlay__col
                  .nav__overlay__navset(data-vertical='Personal Loan')
                    h6 Other Loans
                    ul
                      li
                        a(href='/personal-loan') Personal Loans
                      li
                        a(href='/personal-loan-islamic') Islamic Personal Loans
                      li
                        a(href='/car-loan') Car Loans
                      li
                        a(href='/small-business-loan') Small Business Loans
                  .nav__overlay__navset
                    h6 Savings & Investments
                    ul
                      li
                        a(href='/fixed-deposit', data-vertical='Fixed Deposit') Fixed Deposits
                      li
                        a(href='/fixed-deposit-islamic', data-vertical='Fixed Deposit') Islamic Fixed Deposits
                      li
                        a(href='/gold-investment', data-vertical='Gold Investment') Gold Investments
                      li
                        a(href='/share-trading', data-vertical='Share Trading') Share Trading
                      li
                        a(href='/unit-trust-investments', data-vertical='Unit Trust Investment') Unit Trust Investments
                      li
                        a(href='/private-retirement-scheme', data-vertical='Retirement') Private Retirement Scheme (PRS)
                .nav__overlay__col
                  .nav__overlay__navset
                    h6 Insurance
                    ul
                      li
                        a(href='/medical-insurance/search', data-vertical='Medical Insurance') Medical Insurance
                      li
                        a(href='/car-insurance', data-vertical='Car Insurance') Car Insurance
                      li
                        a(href='/personal-accident-insurance', data-vertical='Personal Accident Insurance') Personal Accident Insurance
                      li
                        a(href='/travel-insurance', data-vertical='Travel Insurance') Travel Insurance
                  .nav__overlay__navset
                    h6 Tools
                    ul
                      li
                        a(href='/mobile-plan-comparison', data-vertical='Mobile Plan') Mobile Plan Comparison
                      li
                        a(href='/calculators/home-loan', data-vertical='Home Loan') Home Loan Calculator
                      li
                        a(href='/private-retirement-scheme', data-vertical='Retirement') Retirement Calculator
                  .nav__overlay__navset
                    h6 Learning Centre
                    ul
                      li
                        a(href='/articles/') All articles
                      li
                        a(href='/articles/category/infographic') Infographics
                      // <li><a href="/articles/12-ways-to-save-money-in-malaysia-free-ebook-from-imoney-my/">FREE Money Saving ebook!</a></li>
        li.nav__item.nav__item--user-reviews
          a(href='/testimonials/?write_review=true', data-vertical='User Reviews')
            i
            span User Reviews
        li.nav__item.nav__item--lc
          a(href='/articles/', data-vertical='Learning Centre')
            i
            | Learning Centre
