.navbar--sub
  .container(data-imu-track='a', data-subject='User', data-action='Click', data-description='Link', data-vertical='Credit Card')
    a.navbar--sub__toggle(href='#submenu')
      span
      | Personal Loan Menu
    ul.navbar--sub__menu
      li.nav--pl-listing
        a(href='/personal-loan/', data-region='Global Sub-Navigation') All Personal Loans