for data in FeaturedData
    a.suggested__product(href="/"+data.product_path,data-region="Product Featured Area",data-vertical="Personal Loan",data-description=data.title)
      .suggested__product--title
        img(src=data.bankLogo, alt="")
        p #{data.title}
      .suggested__product--info
        | #{language.translate('Interest Rate')}<br><strong>#{data.minIrate}%</strong> <span>#{language.translate('p.a')}</span>
      .suggested__product--info
        | #{language.translate('Min. Salary')}<br><strong>#{Currency}#{data.minimumIncome}</strong>