for PersonaLoan in PersonaLoans.models
	.div(class="table__product",data-bank=PersonaLoan.attributes.title)
			.table-columns
				.col-compare.col-sm-5p.hidden-xs
					.col-compare-btn
				.col-product
					img.col-product-image(src=PersonaLoan.attributes.bankLogo,alt=PersonaLoan.attributes.title)
					.col-product-info
						h3: a(href='/'+PersonaLoan.attributes.product_path) #{PersonaLoan.attributes.title}
						p Get up to #{Currency}1,000 cash back
						a.btn-more-info(href="#")
							i
							| #{language.translate('more info')}
				.col-rate.col-sm-14p.col-xxs-50p
					span.col-rate--title.col-title--small #{language.translate('Interest rate')}
					.col-rate--item.font-xlg 13.75%
				.col-rate.col-sm-14p.col-xxs-50p
					span.col-rate--title.col-title--small #{language.translate('Monthly repayment')}
					.col-rate--item.font-xlg #{Currency}1200
					span.product-repayment-period.extra-info #{language.translate('36 months')}
				.col-apply.col-sm-18p
					a.btn.btn-success.btn-apply #{language.translate('Apply Now')}
