#top.top(data-region='Global Header', data-imu-track='a')
  .container
    a.top__logo.hide-text(data-action='Click', data-subject='User', data-description='Link', href='/', data-value='iMoney Logo', data-region='Global Logo', data-vertical='Credit Card') iMoney.my
    span.top__slogan Compare, Select &amp; Save
    .top__call
      span Let us help you
      a(data-action='Call', href='tel:+60327879181') +603 2787 9181
    // Menu Button
    a#btn-mainnav-toggle.top__menu--mb.hide-text(href='#mb-nav') Menu