// Apply form
// tunaiku-form.jade
#modal-apply.modal-apply-v2.modal.fade(role='dialog', tabindex='-1', aria-hidden='true',data-imu-track="option,select,button")
	.modal-apply-v2__dialog.modal-dialog
		.modal-apply-v2__content.modal-content
			.apply-header
				| #{language.translate('You\'re now applying for')}
				a.close-apply(data-dismiss='modal', href='#')
			.apply-product
				.apply-product__content
			.apply-form
				form#form-apply(method='get', action='', data-parsley-validate='')
					input#apply-nid(name='apply-nid', type='hidden', value='{{ card.nid }}')
					ul.progress-small
						li
							.step-indicator
								| STEP
								br
								span 1
							| #{language.translate('Fill In')}
						li
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 2
							| #{language.translate('Submit')}
						li
							.step-indicator.call-ops
							| Done!
					ul.progress-big(data-imu-track='input,select', data-subject='User', data-action='Input', data-region='Product Apply Popup', data-vertical='Personal Loan')
						li.step1
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 1
							h5(style="color: gray; padding-bottom: 2px;")
								| #{language.translate('Please provide your name, email and phone number so we can contact you to begin the')}
								| #{language.translate('application process.')}
							.form-group
								input#apply-name.inputbox.icn_name.form-control(type='text', name='name', placeholder=language.translate('Your Name'), data-description='Your Name', required='', data-parsley-pattern="/^[a-zA-z\\s]*$/", data-parsley-pattern-message=language.translate('Your name should only consist of letters'), data-parsley-trigger='keyup', data-parsley-required-message=language.translate('Please enter your name'), data-parsley-minlength='3', data-parsley-minlength-message=language.translate('Please enter your name (Min. 3 digits)'))
							.form-group
								input#apply-email.inputbox.icn_email.form-control(type='email', name='email_address', placeholder=language.translate('Email'), data-description='Email', required='', data-parsley-trigger='keyup', data-parsley-type='email', data-parsley-error-message=language.translate('A valid email address is required'))
							.form-group
								input#apply-phone.inputbox.icn_tel.form-control(type='tel', name='phone_number', data-description='Contact Number', placeholder=language.translate('Contact Number'), required='', data-parsley-required-message=language.translate('A valid phone number is required'), data-parsley-trigger='keyup', data-parsley-type='number',data-parsley-type-message=language.translate('This value should be a valid number.'), data-parsley-minlength='9', data-parsley-minlength-message=language.translate('A valid phone number is required (Min. 9 digits)'))
							.form-horizontal
								if (City)
									.form-group
										label.col-xs-3.control-label(for="city") #{language.translate('City')}
										.col-xs-9
											select(name="city",id ="city" , required, data-parsley-required-message=language.translate('Please select your city') data-parsley-errors-container="#city-error-container").form-control
												option(value="") #{language.translate("Please select city")}
												option(value="Jakarta") Jakarta
												option(value="Bogor") Bogor
												option(value="Depok") Depok
												option(value="Tangerang") Tangerang
												option(value="Bekasi") Bekasi
												option(value="Bandung") Bandung
												option(value="Bali") Bali
												option(value="Sidoarjo") Sidoarjo
												option(value="Surabaya") Surabaya
												option(value="Lain-Lain") Lain-Lain
												option(value="Gresik") Gresik
											#city-error-container
						li.step2
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 2
							p #{language.translate('Submit your contact information to us and get your application started.')}
							.form-group.button-wrapper
								button#apply-now-btn.btn.btn-lg.btn-apply-complement(type='submit', data-subject='User',
								data-action='Submit', data-value=loan.title ,data-description='Apply Form',
								data-region='Product Apply Popup', data-vertical='Personal Loan',
								data-id=loan.nid , data-title= loan.title, data-bank=loan.bank ,
								data-islamic_conventional= loan.islamic_conventional)
									| #{language.translate('Apply Now')}
							if config.app.pdpa
								.checkbox.font-xs
									label
										input(type='checkbox', checked='checked', name='allow_checked', required='' data-parsley-required-message="#{language.translate('Please check this box if you want to proceed')}")
										| !{ config.app.pdpa }
							if config.app.marketing_consent
								.checkbox.font-xs
									label
										input(type='checkbox', checked='checked', name='allow_consent', required='' data-parsley-required-message="#{language.translate('Please check this box if you want to proceed')}")
										| !{ config.app.marketing_consent }

						li.step3
							.step-indicator
								| #{language.translate('STEP')}
								br
								span 3
							.imoney-callops
								if region === 'sg'
									| #{language.translate('An OCBC representative will contact you within one business day to help you complete')}
								else
									| #{language.translate('An iMoney representative will contact you within one business day to help you complete')}
								| #{language.translate('your application and also answer any questions you may have.')}
