/* base font color */
/* #5e6a77 lighter font color */
/* color for darkblue section */
body {
  background-color: #B0D5E9; }

.bb-smartsearch-header {
  padding: 10px 0;
  background-color: #ffffff;
  position: relative;
  border-bottom: 6px solid #3E73B6; }
  .bb-smartsearch-header .smartsearch-logo {
    margin: 0 auto;
    color: #2F7FBA;
    font-size: 20px;
    font-size: 2rem;
    padding-left: 45px;
    background: url(../img/broadband/bb-ss-icon@2x.png) no-repeat 0 0;
    background-size: 39px auto; }

.imoney-logo {
  background: url(/img/imoney-malaysia-logo.svg) no-repeat;
  display: inline-block;
  width: 180px;
  height: 25px;
  text-indent: -1000em;
  background-size: 130px 25px; }

.no-svg .imoney-logo {
  background: url(/img/imoney-malaysia-logo.png) no-repeat; }

a.tooltip {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  outline: none;
  visibility: hidden;
  opacity: 1;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 35px; }
  .results-wrapper.animated a.tooltip {
    visibility: visible; }
  a.tooltip strong {
    line-height: 30px; }
  a.tooltip:hover {
    text-decoration: none; }
  a.tooltip span {
    z-index: 10;
    display: none;
    padding: 12px 15px;
    margin-top: 20px;
    width: 180px;
    top: 10px;
    left: -3px; }
  a.tooltip:hover span {
    display: inline;
    position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    color: #859297; }

.results-header {
  padding-top: 20px;
  padding-bottom: 40px; }
  .results-header h1 {
    font-size: 28px;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #1F4D6E;
    font-weight: 600; }

.filter-wrap ul {
  margin: 0;
  padding: 0; }
  .filter-wrap ul:after {
    content: "";
    clear: both; }
  .filter-wrap ul li {
    display: inline-block;
    padding: 4px 20px 4px 35px;
    background: #569CC1;
    color: #B0D5E9;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 200;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 10px; }
    .filter-wrap ul li:before {
      content: "";
      width: 15px;
      height: 12px;
      background: url(../img/tick-icon@2x.png) no-repeat 0 0;
      background-size: 15px 12px;
      position: absolute;
      left: 12px;
      top: 8px;
      opacity: 0.8; }
    .filter-wrap ul li:first-child {
      margin-left: 0; }

.results-body {
  padding-left: 50px;
  padding-right: 50px; }
  .results-body:after {
    content: "";
    display: table;
    clear: both; }
  .results-body .results-bb {
    width: 19%;
    float: left;
    position: relative;
    display: inline-block;
    background: transparent;
    margin-left: 0.5%;
    margin-right: 0.5%; }
    .results-body .results-bb .animated.normal-bb {
      visibility: visible; }
    .results-body .results-bb .normal-bb {
      background: #ffffff;
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
      visibility: hidden; }
    .results-body .results-bb__header {
      padding: 55px 10px 0 10px;
      text-align: center;
      box-shadow: inset 0 200px 0 #E1EDF5;
      border-bottom: 1px solid #E3D7D7;
      color: #7E8E9D; }
      .results-body .results-bb__header .bb-image {
        width: 140px;
        margin: 0 auto; }
        .results-body .results-bb__header .bb-image img {
          height: 30px;
          margin: 0 auto; }
      .results-body .results-bb__header .bb-name {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.1;
        position: absolute;
        top: 95px;
        left: 10px;
        right: 10px;
        color: #07456B; }
      .results-body .results-bb__header .bb-price {
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: 400;
        color: #7E8E9D;
        display: block;
        position: absolute;
        top: 43px;
        width: 100%;
        margin: 0 auto; }
        .results-body .results-bb__header .bb-price span {
          font-size: 30px;
          font-size: 3rem;
          color: #364852; }
      .results-body .results-bb__header .bb-coverage {
        position: absolute;
        top: 12px;
        left: 15px;
        font-size: 14px;
        font-size: 1.4rem;
        color: #7E8E9D;
        text-align: left;
        padding-top: 4px;
        background: url(../img/broadband/icn_coverage.png) no-repeat;
        background-size: 20px auto; }
        .results-body .results-bb__header .bb-coverage.low {
          background-position: 0px 0px;
          padding-left: 20px; }
        .results-body .results-bb__header .bb-coverage.high {
          background-position: 0px -30px;
          padding-left: 24px; }
      .results-body .results-bb__header .bb-speed {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #748A9A;
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff; }
      .results-body .results-bb__header .bb-reward {
        text-align: left;
        padding: 193px 0 10px 9px;
        min-height: 100px;
        position: relative; }
        .results-body .results-bb__header .bb-reward li {
          list-style: none;
          background: url(../img/broadband/tick_green.gif) no-repeat 0px 5px;
          background-size: 11px 9px;
          padding-left: 15px;
          color: #323232; }
        .results-body .results-bb__header .bb-reward .red {
          font-weight: 600;
          color: #FF7F72; }
    .results-body .results-bb__body {
      font-size: 12px;
      font-size: 1.2rem;
      color: #7E8E9D;
      padding: 20px; }
      .results-body .results-bb__body ul.icns_usage {
        padding-left: 0px; }
        .results-body .results-bb__body ul.icns_usage li {
          background: url(../img/broadband/icn_usage.png) no-repeat;
          background-size: 20px auto;
          color: #323232;
          padding-left: 28px;
          margin: 7px 0;
          list-style: none; }
          .results-body .results-bb__body ul.icns_usage li.icn_browse {
            background-position: 0px 0px; }
          .results-body .results-bb__body ul.icns_usage li.icn_email {
            background-position: 0px -20px; }
          .results-body .results-bb__body ul.icns_usage li.icn_facebook {
            background-position: 0px -40px; }
          .results-body .results-bb__body ul.icns_usage li.icn_twitter {
            background-position: 0px -60px; }
          .results-body .results-bb__body ul.icns_usage li.icn_spotify {
            background-position: 0px -80px; }
          .results-body .results-bb__body ul.icns_usage li.icn_skype {
            background-position: 0px -100px; }
          .results-body .results-bb__body ul.icns_usage li.icn_youtube {
            background-position: 0px -120px; }
          .results-body .results-bb__body ul.icns_usage li.icn_download {
            background-position: 0px -140px; }
          .results-body .results-bb__body ul.icns_usage li.icn_filetrnx {
            background-position: 0px -160px; }
          .results-body .results-bb__body ul.icns_usage li.icn_videoconf {
            background-position: 0px -180px; }
          .results-body .results-bb__body ul.icns_usage li.icn_gaming {
            background-position: 0px -200px; }
    .results-body .results-bb__fineprint {
      font-size: 12px;
      font-size: 1.2rem;
      color: #7E8E9D;
      padding: 20px 20px;
      border-top: solid 1px #E3D7D7; }
      .results-body .results-bb__fineprint div {
        margin-bottom: 10px; }
      .results-body .results-bb__fineprint h3 {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 3px 0 3px; }
      .results-body .results-bb__fineprint span {
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: 400; }
      .results-body .results-bb__fineprint h3, .results-body .results-bb__fineprint p, .results-body .results-bb__fineprint span {
        color: #323232; }
  .results-body .button-wrapper {
    padding: 10px 20px 20px;
    text-align: center;
    display: none; }
    .results-body .button-wrapper:after {
      content: "";
      clear: both;
      display: table; }
    .results-body .button-wrapper.abf {
      position: absolute;
      z-index: 10;
      top: 208px;
      left: 0;
      width: 100%;
      display: block; }
  .results-body .btn-apply {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px 20px 13px;
    text-align: center;
    background: #44B74D;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 3px;
    font-weight: 600;
    -webkit-transition: 0.1s ease-in background;
    -moz-transition: 0.1s ease-in background;
    transition: 0.1s ease-in background;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15); }
    .results-body .btn-apply:hover {
      background: #3da445;
      -webkit-transition: 0.1s ease-in background;
      -moz-transition: 0.1s ease-in background;
      transition: 0.1s ease-in background; }

.results-footer {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #B0D5E9; }
  .results-footer .cta-footer {
    text-align: center; }
  .results-footer ul {
    margin: 0;
    padding: 0; }
    .results-footer ul li {
      display: inline-block;
      margin-left: 8px;
      margin-bottom: 8px; }
  .results-footer .btn-outline {
    display: block;
    outline: none;
    color: #1F4D6E;
    background: transparent;
    border: 1px solid #1F4D6E;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 12px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    .results-footer .btn-outline:hover {
      text-decoration: none;
      background: #1F4D6E;
      color: #ffffff; }

.radio-skip {
  margin: 0;
  padding: 0; }
  .radio-skip li {
    display: block;
    margin-bottom: 8px;
    list-style: none; }
    .radio-skip li label {
      display: block;
      background: #EEF1F4 url(../img/skip-radio-empty.png) 13px 50% no-repeat;
      background-size: 14px 14px;
      border: 1px solid #BBD4DB;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 6px 10px 6px 40px;
      color: #274D6B;
      font-weight: 600;
      font-size: 15px;
      font-size: 1.5rem;
      border-radius: 4px; }
      .radio-skip li label:hover {
        cursor: pointer;
        border-color: #7398A4;
        background-color: #F4F5F7; }
    .radio-skip li input[type="radio"] {
      display: none; }
    .radio-skip li input:checked + label {
      background-color: #586A84;
      background-image: url(../img/skip-radio-checked.png);
      color: #ffffff;
      border-color: #507595;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all; }

.results-skip .close-wrap {
  text-align: right;
  padding-top: 7px;
  padding-bottom: 10px; }
.results-skip .close-btn {
  color: #99B6CB;
  position: relative;
  -webkit-backface-visibility: hidden;
  font-size: 16px;
  font-size: 1.6rem; }
  .results-skip .close-btn:hover {
    text-decoration: none; }
    .results-skip .close-btn:hover i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .results-skip .close-btn i {
    background: url(/img/icon-topnav.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -104px 0;
    position: relative;
    top: 0;
    margin-right: 5px;
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */ }
.results-skip .desc {
  font-size: 16px;
  font-size: 1.6rem;
  color: #828A90;
  margin-bottom: 20px; }
.results-skip .modal-backdrop {
  background-color: #000000; }
  .results-skip .modal-backdrop.in {
    opacity: 0.8; }
.results-skip .modal-title {
  font-size: 24px;
  font-size: 2.4rem; }
.results-skip .modal-dialog {
  margin-top: 100px; }
.results-skip .modal-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px; }
.results-skip .modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.3); }
.results-skip .modal-footer {
  padding: 20px;
  text-align: center;
  background: #f8f8f8; }
.results-skip .customer-information-wrap {
  color: #848B90;
  font-style: italic; }
  .results-skip .customer-information-wrap p {
    font-size: 16px;
    font-size: 1.6rem;
    font-style: normal; }
.results-skip .apply-information-content {
  color: #ADB4BA; }
.results-skip .contact-text {
  color: #848B90;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600; }
.results-skip .apply-bb-name {
  color: #274D6B;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 600; }
.results-skip .apply-bb-img {
  margin-bottom: 5px; }
  .results-skip .apply-bb-img img {
    width: 50%; }

.modal-green-box {
  background: #3FA361;
  padding: 25px 10px; }
  .modal-green-box h1, .modal-green-box h2, .modal-green-box h3, .modal-green-box h4, .modal-green-box h5, .modal-green-box h6 {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    text-align: center; }
  .modal-green-box h3 {
    font-size: 25px;
    font-size: 2.5rem; }

.related-content-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1; }
  .related-content-top h4 {
    max-width: 400px;
    margin: 10px auto 17px;
    text-align: center; }
    @media (max-width: 480px) {
      .related-content-top h4 {
        margin: 10px 0 17px;
        text-align: left; } }

.related-content-bottom {
  padding-top: 20px; }

.related-products-link {
  margin: 0;
  padding: 0;
  text-align: center; }
  .related-products-link li {
    display: inline-block;
    margin: 0 10px 5px; }

.modal-articles a {
  font-size: 16px;
  font-size: 1.6rem; }
.modal-articles li {
  margin-bottom: 5px;
  padding-left: 25px;
  background: url(../img/broadband/list-bullet.png) 7px 9px no-repeat; }

/** END Bootstrap modal overwrite */
/** CSS animation overwrite  */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.loading-wrap {
  position: absolute;
  top: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center; }
  .loading-wrap span {
    display: block;
    text-align: center;
    color: #204D75;
    font-size: 11px;
    font-size: 1.1rem;
    margin-top: 10px; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 1366px) {
  .results-body {
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 991px) {
  .results-header {
    padding-bottom: 20px; }

  .results-body .results-bb {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px; }
    .results-body .results-bb__header {
      padding: 30px 17px 24px 17px;
      text-align: left;
      background: transparent;
      box-shadow: none; }
      .results-body .results-bb__header:after {
        content: "";
        clear: both;
        display: table; }
      .results-body .results-bb__header .bb-image {
        margin: 0;
        margin-top: 5px;
        display: inline-block;
        float: left;
        padding-bottom: 0; }
      .results-body .results-bb__header .bb-name {
        font-size: 16px;
        font-size: 1.6rem;
        margin-left: 170px;
        padding-bottom: 7px;
        top: auto;
        left: auto;
        right: auto;
        position: relative; }
      .results-body .results-bb__header .bb-price {
        position: static;
        top: auto;
        width: 100%;
        margin: 5px auto 0; }
      .results-body .results-bb__header .bb-coverage {
        top: 110px;
        left: 45px; }
      .results-body .results-bb__header .bb-speed {
        right: auto;
        top: 75px;
        left: 55px; }
      .results-body .results-bb__header .bb-reward {
        margin-left: 170px;
        padding: 0;
        min-height: inherit; }
        .results-body .results-bb__header .bb-reward:before {
          display: none; }
    .results-body .results-bb__body .icns_usage {
      width: 100%;
      display: table; }
      .results-body .results-bb__body .icns_usage li {
        width: 33%;
        float: left; }
    .results-body .results-bb__fineprint {
      width: 100%;
      display: table;
      padding-bottom: 0; }
      .results-body .results-bb__fineprint div {
        width: 50%;
        float: left; }
  .results-body .button-wrapper {
    padding: 20px;
    display: block; }
    .results-body .button-wrapper.abf {
      display: none; }
  .results-body .btn-apply {
    text-transform: uppercase;
    width: 200px;
    float: right;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 18px;
    font-size: 1.8rem;
    vertical-align: top; } }
@media (max-width: 768px) {
  body {
    background-color: #ffffff; }

  .results-body .results-bb__header {
    background-color: #E1EDF5;
    border-bottom: none; }

  .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    .container-fluid .row {
      margin-left: 0;
      margin-right: 0; }

  .results-skip .desc {
    font-size: 14px;
    font-size: 1.4rem; }
  .results-skip .modal-body {
    padding-left: 15px;
    padding-right: 15px; }
  .results-skip .modal-title {
    font-size: 18px;
    font-size: 1.8rem; }
  .results-skip .modal-dialog {
    margin-top: 50px; }

  .radio-skip li label {
    font-size: 14px;
    font-size: 1.4rem; }

  .bb-smartsearch-header {
    background-color: #56BCF1;
    color: #ffffff; }
    .bb-smartsearch-header .smartsearch-logo {
      color: #ffffff;
      background-image: url(../img/broadband/bb-ss-icon-white@2x.png);
      background-size: 35px auto;
      padding-left: 40px;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.6; }
    .bb-smartsearch-header a {
      color: #ffffff; }

  .results-header {
    padding-left: 10px;
    padding-right: 10px; }

  .results-body {
    padding-left: 0;
    padding-right: 0; }
    .results-body .results-bb {
      margin-bottom: 0;
      box-shadow: none; }
      .results-body .results-bb .results-wrapper {
        border-top: 2px solid #6788A5;
        box-shadow: none; } }
@media (max-width: 480px) {
  .results-header {
    padding: 20px 15px 20px 15px; }
    .results-header h1 {
      font-size: 25px;
      font-size: 2.5rem; }

  .results-body .button-wrapper {
    padding: 15px 10px; }
  .results-body .results-bb__header {
    padding: 30px 0 24px 0; }
    .results-body .results-bb__header .bb-image img {
      width: 80px;
      height: auto; }
    .results-body .results-bb__header .bb-name, .results-body .results-bb__header .bb-reward {
      margin-left: 146px; }
    .results-body .results-bb__header .bb-price {
      left: 145px; }
    .results-body .results-bb__header .bb-coverage {
      left: 30px; }
    .results-body .results-bb__header .bb-speed {
      left: 40px; }
  .results-body .results-bb__body .icns_usage li {
    width: 50%; }
  .results-body .btn-apply {
    width: 170px; }

  .results-footer {
    padding-bottom: 40px; }
    .results-footer ul li {
      display: block;
      margin-left: 0;
      margin-right: 15px;
      margin-left: 15px; }
    .results-footer .btn-outline {
      width: 100%;
      padding: 12px 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      background: #88c0de; }

  .results-skip .apply-bb-img img {
    margin: 0 auto; }
  .results-skip .apply-bb-name {
    text-align: center; } }
@media (max-width: 320px) {
  .results-body .results-bb__fineprint div {
    width: 100%;
    display: block; } }
