/* base font color */
/* #5e6a77 lighter font color */
/* color for darkblue section */
/* base font color */
/* #5e6a77 lighter font color */
/* color for darkblue section */
/***** modal : Prefer To Talk *****/

@font-face {
    font-family: Aachen;
    src: url(font/Aachen_Bold_Plain.ttf);
}


.PreferToTalk .close-wrap {
  text-align: right;
  padding-top: 7px;
  padding-bottom: 10px; }
.PreferToTalk .close-btn {
  color: #99B6CB;
  position: relative;
  -webkit-backface-visibility: hidden;
  font-size: 16px;
  font-size: 1.6rem; }
  .PreferToTalk .close-btn:hover {
    text-decoration: none; }
    .PreferToTalk .close-btn:hover i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .PreferToTalk .close-btn i {
    background: url(/img/icon-topnav.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -104px 0;
    position: relative;
    top: 0;
    margin-right: 5px;
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */ }
.PreferToTalk .modal-dialog {
  width: 670px;
  margin: 10px auto; }
.PreferToTalk .modal-content {
  background: #fff url(../img/img_man.jpg) no-repeat;
  background-position: 40px 40px;
  background-size: 44% auto;
  padding: 15px; }
  .PreferToTalk .modal-content .wrapper {
    padding: 25px; }
    @media (max-width: 480px) {
      .PreferToTalk .modal-content .wrapper {
        padding: 5px; } }
  .PreferToTalk .modal-content .close {
    line-height: 0.6; }
.PreferToTalk .modal-backdrop {
  background-color: #000; }
  .PreferToTalk .modal-backdrop.in {
    opacity: 0.8; }
.PreferToTalk h1 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: left;
  color: #F0703B;
  margin-top: 0px;
  margin-left: 230px; }
  @media (max-width: 686px) {
    .PreferToTalk h1 {
      margin-left: 0;
      text-align: center; } }
  @media (max-width: 480px) {
    .PreferToTalk h1 {
      font-size: 21px;
      font-size: 2.1rem; } }
.PreferToTalk p {
  margin-left: 230px;
  margin-bottom: 15px; }
.PreferToTalk form {
  margin-left: 300px; }
  .PreferToTalk form input {
    width: 280px;
    height: 40px; }
  .PreferToTalk form .icn_name {
    background-position: 7px 7px; }
  .PreferToTalk form .icn_email {
    background-position: 7px -44px; }
  .PreferToTalk form .icn_tel {
    background-position: 7px -91px; }
  .PreferToTalk form .btn-show {
    margin-bottom: 15px; }
  .PreferToTalk form a {
    font-size: 12px;
    font-size: 1.2rem; }

.modal-green-box {
  background: #3FA361;
  padding: 25px 10px; }
  .modal-green-box h1, .modal-green-box h2, .modal-green-box h3, .modal-green-box h4, .modal-green-box h5, .modal-green-box h6 {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    text-align: center; }
  .modal-green-box h3 {
    font-size: 25px;
    font-size: 2.5rem; }

.related-content-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1; }
  .related-content-top h4 {
    max-width: 400px;
    margin: 10px auto 17px;
    text-align: center; }
    @media (max-width: 480px) {
      .related-content-top h4 {
        margin: 10px 0 17px;
        text-align: left; } }

.related-content-bottom {
  padding-top: 20px; }

.related-products-link {
  margin: 0;
  padding: 0;
  text-align: center; }
  .related-products-link li {
    display: inline-block;
    margin: 0 10px 5px; }

.modal-articles a {
  font-size: 16px;
  font-size: 1.6rem; }
.modal-articles li {
  margin-bottom: 5px;
  padding-left: 25px;
  background: url(/img/list-bullet.png) 7px 9px no-repeat; }

#PreferToTalkThankYou .modal-body {
  padding-bottom: 23px; }

@media (max-width: 686px) {
  .PreferToTalk .modal-dialog {
    width: 90%;
    margin: 10px auto; }
  .PreferToTalk .modal-content {
    background: #fff;
    text-align: center; }
  .PreferToTalk p {
    margin: 0px auto 15px auto; }
  .PreferToTalk form {
    width: 250px;
    margin: 0px auto; }
    .PreferToTalk form input {
      width: 250px; }
  .PreferToTalk .btn-show {
    width: 230px;
    margin: 0px auto 15px auto; } }
@media (max-width: 480px) {
  .modal-green-box {
    padding-top: 18px;
    padding-bottom: 18px; }
    .modal-green-box h2 {
      font-size: 22px;
      font-size: 2.2rem; } }
html, body {
  

    background-color: #B0D5E9;


}

/* overwrite animate css animation time */
.animated {
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s; } 

.select-categories {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 17px; }

.cc-smartsearch-header {
  padding: 10px 0;
  background-color: #ffffff;
  position: relative; }
  .cc-smartsearch-header .smartsearch-logo {
    margin: 0 auto;
    color: #2F7FBA;
    font-size: 20px;
    font-size: 2rem;
    padding-left: 53px;
    background: url(../img/ss-icon@3x.png) no-repeat 0 0;
    background-size: 49px 29px; }
  .cc-smartsearch-header a.seeAllCards {
    line-height: 2; }

.imoney-logo {
  background: url(../img/aturduit-logo.svg) no-repeat;
  display: inline-block;
  width: 120px;
  height: 30px;
  text-indent: -1000em;
  background-size: 115px auto; }

.no-svg .imoney-logo {
  background: url(../img/aturduit-logo.png) no-repeat; }

.ss-header {
  padding-top: 20px;
  padding-bottom: 30px; }
  .ss-header h1 {
    font-size: 28px;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #1F4D6E;
    font-weight: 600; }

.ss-container {
  width: 710px;
  margin: 0 auto; }

.smartsearch {
  width: 600px;
  float: left;
  background-color: white;
  color: #859297;
  padding: 0;
  -webkit-box-shadow: 7px 8px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 7px 8px 0 0 rgba(0, 0, 0, 0.15); }
  .smartsearch h1 {
    font-size: 20px;
    color: #323232;
    padding: 30px;
    margin: 0px;
    position: relative;
    border-bottom: solid 1px #ddd; }
  .smartsearch .smartsearch-content {
    padding: 30px; }
    .smartsearch .smartsearch-content.capture {
      background: url(../img/credit-card/img_girl.jpg) no-repeat bottom right;
      background-size: 200px auto;
      padding-bottom: 35px; }
      .smartsearch .smartsearch-content.capture .form-group {
        margin-bottom: 10px; }
      @media (max-width: 599px) {
        .smartsearch .smartsearch-content.capture .form-group {
          text-align: center;
          margin-bottom: 12px; } }
      .smartsearch .smartsearch-content.capture div[class^="col-"] {
        padding: 0px; }
      .smartsearch .smartsearch-content.capture p {
        margin-bottom: 25px; }
      .smartsearch .smartsearch-content.capture button {
        margin-top: 10px;
        margin-bottom: 24px; }
  .smartsearch .slideNumber {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    margin-right: 5px;
    border: solid 2px #DCE5E8;
    color: #6E8F98;
    border-radius: 50%; }
  .smartsearch.slick-slider {
    margin-bottom: 0px; }

.smartsearch-indicator {
  width: 110px;
  float: left;
  background-color: #2E3E79;
  margin-top: 0;
  padding: 0px;
  padding-bottom: 20px; }
  .smartsearch-indicator ul.slick-slider {
    position: static;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .smartsearch-indicator ul.slick-slider li.slick-slide {
      display: table-cell;
      position: relative;
      width: 100px !important;
      height: 80px;
      margin: 0 5px;
      padding: 20px 23px; }
  .smartsearch-indicator .icn_start, .smartsearch-indicator .icn_spending, .smartsearch-indicator .icn_reward, .smartsearch-indicator .icn_balance, .smartsearch-indicator .icn_salary {
    width: 55px;
    height: 50px;
    display: block;
    position: relative;
    background: url(../img/credit-card/icn_indicator.png) no-repeat;
    background-size: 166px auto; }
  .smartsearch-indicator .icn_start {
    background-position: 0px 15px; }
    .smartsearch-indicator .icn_start.icn_highlight {
      background-position: -109px 15px; }
  .smartsearch-indicator .icn_spending {
    background-position: 5px -60px; }
    .smartsearch-indicator .icn_spending.icn_highlight {
      background-position: -105px -60px; }
  .smartsearch-indicator .icn_reward {
    background-position: 0px -150px; }
    .smartsearch-indicator .icn_reward.icn_highlight {
      background-position: -108px -150px; }
  .smartsearch-indicator .icn_balance {
    background-position: 0px -250px; }
    .smartsearch-indicator .icn_balance.icn_highlight {
      background-position: -110px -250px; }
  .smartsearch-indicator .icn_salary {
    background-position: 0px -360px; }
    .smartsearch-indicator .icn_salary.icn_highlight {
      background-position: -110px -360px; }
  .smartsearch-indicator .icn_start:after, .smartsearch-indicator .icn_spending:after, .smartsearch-indicator .icn_reward:after, .smartsearch-indicator .icn_balance:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 34px;
    background: url(../img/credit-card/icn_indicator_arrow.png) no-repeat;
    background-size: 6px auto;
    top: 53px;
    left: 25px; }
  .smartsearch-indicator .icn_highlight {
    -webkit-animation-name: fadingIn;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear; }
@-webkit-keyframes fadingIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .smartsearch-indicator .icn_highlight_done:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 16px;
    background: url(../img/credit-card/tick_white.png) no-repeat;
    background-size: 20px auto;
    top: 43px;
    left: 40px; }

.smartsearch-footer {
  font-size: 16px;
  font-size: 1.6rem;
  color: #4788B6;
  padding: 30px 20px 20px 20px; 
  margin-top: 30px;
  /*background-color: rgba(17, 17, 17, 0.28);*/
}
  .smartsearch-footer strong {
    color: #3E789B; }
  .smartsearch-footer .btn-line {
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    background-color: transparent;
    padding: 5px 15px;
    margin-bottom: 10px;
    border: solid 1px #3F80AE;
    border-radius: 15px;
    outline: none; }
    .smartsearch-footer .btn-line:hover {
      background-color: #3F80AE;
      color: #fff; }

.ss-progressbar {
  background-color: #3E73B6;
  height: 6px;
  -webkit-transition: width 800ms ease-out;
  -moz-transition: width 800ms ease-out;
  transition: width 800ms ease-out; }

.btns-spending, .btns-rewards, .btns-radio {
  list-style-position: inside;
  overflow: hidden; }
  .btns-spending {
      padding-left: 15px;
     }

/*.btns-spending li:nth-of-type(3) {
  margin-right: 0px; }
.btns-spending li:nth-of-type(4) {
  margin-left: 50px; }*/

.btns-spending li, .btns-rewards li, .btns-radio li {
  width: 100px;
  height: 110px;
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 30px;
  margin-bottom: 32px;
  padding: 0; }
  .btns-spending li label, .btns-spending li input, .btns-rewards li label, .btns-rewards li input, .btns-radio li label, .btns-radio li input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .btns-spending li input[type="checkbox"],
  .btns-spending li input[type="radio"], .btns-rewards li input[type="checkbox"],
  .btns-rewards li input[type="radio"], .btns-radio li input[type="checkbox"],
  .btns-radio li input[type="radio"] {
    opacity: 0.011;
    z-index: 100; }
  .btns-spending li input[type="checkbox"]:checked + label,
  .btns-spending li input[type="radio"]:checked + label, .btns-rewards li input[type="checkbox"]:checked + label,
  .btns-rewards li input[type="radio"]:checked + label, .btns-radio li input[type="checkbox"]:checked + label,
  .btns-radio li input[type="radio"]:checked + label {
    background-color: #FC8F51;
    border: solid 1px #FC8F51; }
    .btns-spending li input[type="checkbox"]:checked + label p,
    .btns-spending li input[type="radio"]:checked + label p, .btns-rewards li input[type="checkbox"]:checked + label p,
    .btns-rewards li input[type="radio"]:checked + label p, .btns-radio li input[type="checkbox"]:checked + label p,
    .btns-radio li input[type="radio"]:checked + label p {
      color: #323232; }
  .btns-spending li input[type="checkbox"][disabled] + label:hover, .btns-rewards li input[type="checkbox"][disabled] + label:hover, .btns-radio li input[type="checkbox"][disabled] + label:hover {
    background-color: #E8EAEB; }

    .used{
       margin-top: 25px;
       text-align: center;
    }
    .used h4{
       font-size: 20px;
           }
    .used ul li{
       display: inline-block;
       margin-right: 5px;
    }
    .icons  {
        width: 50px;
        height: 50px;
        background-image: url(../img/kreditchoice.png);
        background-repeat: no-repeat;
        background-color: #2C96B8 ;
        background-size: 80px auto; 
        border-radius: 50%;
    }
    .icn-holiday {
        background-position: -35px -203px; 
    }
    .icn-motor {
        background-position: -35px -161px; 
    }
    .icn-shop {
        background-position: -35px -39px; 
    }
    .icn-gadget {
        background-position: -35px -80px; 
    }
    .icn-property {
        background-position: -35px -286px; 
    }
    .icn-car {
        background-position: -35px -328px; 
    }
    .icn-debt {
        background-position: -35px -121px; 
    }
    .icn-renovation {
        background-position: -35px 4px; 
    }
    .icn-wedding {
        background-position: -35px -246px; 
    }

.inin{
  display: inline-block;
}

.lefto{
      margin-left: 7px;
}

  .btns-spending li label, .btns-rewards li label, .btns-radio li label {
    text-align: center;
    cursor: pointer;
    z-index: 90;
    padding-top: 75px;
    background-color: #E8EAEB;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    border: solid 1px #E8EAEB;
    border-radius: 3px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear; }
    .btns-spending li label:hover, .btns-rewards li label:hover, .btns-radio li label:hover {
      background-color: #D7DDE0; }
    .btns-spending li label p, .btns-rewards li label p, .btns-radio li label p {
      border-radius: 0 0 3px 3px;
      background-color: #fff;
      padding: 5px 0;
      margin-bottom: 0px; }

.icn_motor:before, 
.icn_gadget:before, 
.icn_renovation:before, 
.icn_wedding:before, 
.icn_debt:before, 
.icn_holiday:before, 
.icn_car:before, 
.icn_shop:before, 
.icn_home:before  {
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 20px;
  background: url(../img/kreditchoice.png) no-repeat;
  background-size: 110px auto; }

.icn_motor:before {
  background-position: 0px -226px; }

.icn_gadget:before {
  background-position: 0px -116px; }

.icn_renovation:before {
  background-position: 0px 0px; }

.icn_wedding:before {
  background-position: 0px -345px; }

.icn_debt:before {
  background-position: 0px -174px; }

 .icn_holiday:before {
  background-position: 0px -283px; }

 .icn_car:before {
  background-position: 0px -454px; }

  .icn_shop:before {
  background-position: 0px -60px; }
  
 .icn_home:before {
  background-position: 0px -397px; } 

input[type="checkbox"]:checked + label.icn_motor:before {
  background-position: -55px -226px; }

input[type="checkbox"]:checked + label.icn_gadget:before {
  background-position: -55px -116px; }

input[type="checkbox"]:checked + label.icn_renovation:before {
  background-position: -55px 0px; }

input[type="checkbox"]:checked + label.icn_wedding:before {
  background-position: -55px -345px; }

input[type="checkbox"]:checked + label.icn_debt:before {
  background-position: -55px -174px; }

 input[type="checkbox"]:checked + label.icn_holiday:before {
  background-position: -55px -283px; }

  input[type="checkbox"]:checked + label.icn_car:before {
  background-position: -55px -454px; }

input[type="checkbox"]:checked + label.icn_shop:before {
  background-position: -55px -60px; }

input[type="checkbox"]:checked + label.icn_home:before {
  background-position: -55px -397px; }


.icn_motor:after,
.icn_gadget:after,
.icn_renovation:after,
.icn_wedding:after,
.icn_debt:after,
.icn_holiday:after,
.icn_car:after,
.icn_shop:after, 
.icn_home:after, 
.icn_rewardpoints:after,
.icn_travelrewards:after,
.btns-radio label:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px; }

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after,
.btns-radio input[type="radio"]:checked + label:before {
  background: #fff url(../img/credit-card/tick_orange.png) no-repeat 5px 5px;
  background-size: 10px auto; }

.btns-rewards li {
  width: 200px;
  height: 230px;
  margin-right: 30px; }
  .btns-rewards li label {
    background-color: transparent;
    border: none;
    padding-top: 124px;
    margin: 0 auto;
    transition: none; }
    .btns-rewards li label:hover {
      background-color: transparent; }
  .btns-rewards li input[type="radio"]:checked + label {
    background-color: transparent;
    border: none;
    color: #323232; }
  .btns-rewards li p {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: center;
    border-top: solid 1px #ddd;
    margin-top: 20px;
    padding-top: 10px; }

.icn_cashback, .icn_rewardpoints, .icn_travelrewards {
  width: 100px;
  height: 120px;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/credit-card/icn_rewards.png) no-repeat;
  background-size: 100px auto; }

input[type="radio"]:checked + label.icn_cashback {
  background-position: 0px -120px; }

input[type="radio"]:checked + label.icn_rewardpoints {
  background-position: 0px -240px; }

input[type="radio"]:checked + label.icn_travelrewards {
  background-position: 0px -360px; }

/*.icn_cashback:after,
.icn_rewardpoints:after,
.icn_travelrewards:after {
  top: auto;
  bottom: 3px;
  right: 5px; }*/

.btns-radio li {
  width: auto;
  min-width: 100px;
  height: 40px;
  margin-right: 1px; }
  .btns-radio li:first-child label {
    border-radius: 3px 0 0 3px; }
  .btns-radio li:last-child label {
    border-radius: 0 3px 3px 0; }
  .btns-radio li label {
    text-align: left;
    border-radius: 0px;
    padding: 10px 10px 10px 40px; }
    .btns-radio li label:before {
      right: auto;
      top: 10px;
      left: 10px; }
  .btns-radio li input[type="radio"]:checked + label {
    color: #fff; }

.btns-radio .salary {
  width: 130px;
  float: left;
  list-style-position: inside;
  overflow: hidden;
  padding-left: 0px; }
  .btns-radio .salary li label {
    border-radius: 3px; }
  .btns-radio .salary li:first-child label {
    border-radius: 3px; }
  .btns-radio .salary li:last-child label {
    border-radius: 3px; }

.btns-radio .salary.mid {
  width: 265px; }

.btns-radio .salary.mid li {
  width: 240px; }

.btns-radio .time {
  width: 130px;
  float: left;
  list-style-position: inside;
  overflow: hidden;
  padding-left: 0px; }
  .btns-radio .time li label {
    border-radius: 3px; }
  .btns-radio .time li:first-child label {
    border-radius: 3px; }
  .btns-radio .time li:last-child label {
    border-radius: 3px; }
.btns-radio .time.mid {
  width: 265px; }

.btns-radio .time.mid li {
  width: 240px; }

.btns-radio .exist {
  width: 130px;
  float: left;
  list-style-position: inside;
  overflow: hidden;
  padding-left: 0px; }
  .btns-radio .exist li label {
    border-radius: 3px; }
  .btns-radio .exist li:first-child label {
    border-radius: 3px; }
  .btns-radio .exist li:last-child label {
    border-radius: 3px; }
.btns-radio .exist.mid {
  width: 265px; }

.btns-radio .exist.mid li {
  width: 240px; }

.btns-radio.btns-radio--cc-purpose {
  padding-right: 40px;
  overflow: auto; }
  .btns-radio.btns-radio--cc-purpose li {
    float: none;
    display: block; }
    @media (max-width: 767px) {
      .btns-radio.btns-radio--cc-purpose li {
        height: auto; } }
  .btns-radio.btns-radio--cc-purpose label {
    border-radius: 3px; }

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 280px;
  border: solid 1px #bababa;
  box-shadow: none;
  margin-top: 10px;
  position: relative; }

.icn_name::-webkit-input-placeholder,
.icn_email::-webkit-input-placeholder,
.icn_tel::-webkit-input-placeholder {
  color: #ddd; }

.icn_name:-moz-placeholder,
.icn_email:-moz-placeholder,
.icn_tel:-moz-placeholder {
  color: #eee; }

.icn_name::-moz-placeholder,
.icn_email::-moz-placeholder,
.icn_tel::-moz-placeholder {
  color: #eee; }

.icn_name:-ms-input-placeholder,
.icn_email:-ms-input-placeholder,
.icn_tel:-ms-input-placeholder {
  color: #eee; }

.icn_name, .icn_email, .icn_tel {
  background: url(../img/credit-card/icn_form.png) no-repeat;
  background-size: 24px auto;
  padding-left: 40px; }

.icn_name {
  background-position: 7px 4px; }

.icn_email {
  background-position: 7px -46px; }

.icn_tel {
  background-position: 7px -94px; }

.color-red {
  color: #EB3A63; }

.parsley-error.form-control {
  border-color: #EB3A63; }

.btn-show, .btn-callback {
  background: #44B74D;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in; }
  .btn-show:hover, .btn-show:focus, .btn-show:active, .btn-callback:hover, .btn-callback:focus, .btn-callback:active {
    background: #3da445;
    color: #fff;
    outline: 0; }

a.tooltip {
  outline: none;
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 20px; }
  a.tooltip strong {
    line-height: 30px; }
  a.tooltip:hover {
    text-decoration: none; }
  a.tooltip span {
    z-index: 10;
    display: none;
    padding: 12px 15px;
    margin-top: 10px;
    width: 232px;
    right: 0px; }
  a.tooltip:hover span {
    display: inline;
    position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    color: #859297; }

.hiddenQuestion > p {
  position: relative; }
.hiddenQuestion a.tooltip {
  right: 0;
  top: 0; }

@media (max-width: 767px) {
  html, body {
    background-color: #ffffff; }

  p {
    text-align: center; }

  .cc-smartsearch-header {
    background-color: #56BCF1;
    color: #ffffff; }
    .cc-smartsearch-header .smartsearch-logo {
      color: #ffffff;
      background-image: url(../img/ss-icon-white@2x.png);
      background-size: 34px 22px;
      padding-left: 40px;
      font-size: 16px;
      font-size: 1.6rem; }
    .cc-smartsearch-header a {
      color: #ffffff; }

  .ss-container, .smartsearch {
    width: 100%;
    box-shadow: none; }

  .ss-header, .smartsearch-indicator, .tooltip {
    display: none;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; }

  .smartsearch h1 {
    text-align: center; }
  .smartsearch .smartsearch-content.capture p {
    text-align: left; }
  .smartsearch .slideNumber {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; }

  .smartsearch-footer {
    width: 100%;
    background-color: #B0D5E9;
    margin-top: 0; }

  .btns-spending {
    padding-left: 0px;
    margin: 0 auto; }

  .btns-rewards {
    padding-left: 0px;
    margin: 0 auto; }

  .btns-radio {
    width: 250px;
    padding-left: 0px;
    margin: 0 auto; }
    .btns-radio li {
      float: none;
      display: block;
      min-width: 250px; }
      .btns-radio li:first-child label, .btns-radio li:last-child label {
        border-radius: 3px; }
    .btns-radio .salary, .btns-radio .salary.mid {
      width: 250px;
      margin-bottom: 0px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .smartsearch-content {
    padding: 30px 100px; }
    .smartsearch-content.capture {
      padding: 30px 60px; }
      .smartsearch-content.capture p {
        text-align: left; }

  .btns-spending {
    width: 400px; }

  .btns-rewards {
    width: 450px; } }
@media (max-width: 599px) {
  .smartsearch .smartsearch-content.capture {
    background: #fff; }
  .smartsearch .smartsearch-content.capture > div {
  padding: 30px;
  }
  .smartsearch .smartsearch-content.capture div[class^="col-"] {
    width: 100%; }
  .smartsearch .smartsearch-content.capture input {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 2px; }
  .smartsearch .smartsearch-content.capture button {
    display: block;
    margin: 0 auto; }
  .inin{
    display: block;
  }
  .lefto{
      margin-left: 0;
}

  .btns-spending {
    width: 220px; }
    .btns-spending li {
      margin-right: 20px; }
      .btns-spending li:nth-of-type(even) {
        margin-right: 0px; }
      .btns-spending li:nth-of-type(3) {
        margin-right: 20px; }
      .btns-spending li:nth-of-type(4) {
        margin-left: 0px; }
      .btns-spending li:last-child {
        margin-left: 0px; }

  .btns-rewards li {
    width: 100%;
    height: auto; }
    .btns-rewards li p {
      border-top: none;
      border-bottom: solid 1px #ddd;
      margin-top: 0px;
      padding-bottom: 10px; } 

    

 }

.smartsearch .smartsearch-content.capture {
      /*background-color: #eceff8;
      background-image: -webkit-linear-gradient(top, #eceff8 83px, #ffffff 140px);
      background-image: linear-gradient(to bottom,#eceff8 83px, #ffffff 140px);*/
      padding: 0; }
      .smartsearch .smartsearch-content.capture > div {
        background: url(../img/credit-card/img_girl.png) no-repeat bottom right 26px;
        background-size: 200px auto;
        padding: 30px; }
      .smartsearch .smartsearch-content.capture .form-group {
        margin-bottom: 10px; }
      @media (max-width: 599px) {
        .smartsearch .smartsearch-content.capture .form-group {
          text-align: center;
          margin-bottom: 12px; } }
      .smartsearch .smartsearch-content.capture div[class^="col-"] {
        padding: 0px; }
      .smartsearch .smartsearch-content.capture h1 {
        background-color: #FFFFFF;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        padding-left: 30px;
        text-align: center; }
        .smartsearch .smartsearch-content.capture h1:after {
          content: "";
          display: block;
          width: 40px;
          height: 27px;
          background: url(../img/credit-card/speech-pointer.png) no-repeat;
          background-size: 40px auto;
          position: absolute;
          bottom: -27px;
          right: 20%; }
      .smartsearch .smartsearch-content.capture p {
        margin-bottom: 25px; }
      .smartsearch .smartsearch-content.capture button {
        margin-top: 10px;
        margin-bottom: 20px; }
      .smartsearch .smartsearch-content.capture p.secure {
        font-family: "open_sanssemibold", "Helvetica Neue", Arial, sans-serif;
        font-size: 12px;
        color: #E15C31;
        background: url(../img/credit-card/icon-lock.png) no-repeat center left;
        background-size: 12px auto;
        padding-left: 20px;
        margin-bottom: 0;
        margin-top: 9px; }

@media (max-width: 599px) {
            .smartsearch .smartsearch-content.capture h1 {
                border-radius: 0;
              }

              .smartsearch .smartsearch-content.capture h1:after {
                display: none;
              }

     }

/*--------------promo slider------------*/

.middle{
    margin: 0 auto;
    position: relative;
    width: 700px;
}
.promo{
  position: absolute;
  top: 50px;
  opacity: 0;
  right: 0;
  /*border: 2px solid #F6EB00;*/
  border-radius: 0 12px 12px 0;
  padding: 5px 5px 5px 10px;
  border-left: 0;
  background-color: #8a97a0;

  background-image: url(../img/cc-petrol-quiz/banner-back-lzd.png);
  /*background-image: -webkit-linear-gradient(#FAECD2 20%,#fff 100%);
  background-image: linear-gradient(#FAECD2 20%,#fff 100%);*/
  box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
  transition: .6s ease all;
  -webkit-transition: .6s ease all;
}

.promo.active {
  opacity: 1;
  right:-195px;
}
.promo-m{
    display: none;
  }

 @media (max-width: 1050px) {

  .ss-progressbar {
    background-color: #0572AB;

  }

  .promo{
    display: none;
  }
  .promo.active{
    display: none;
  }
  .middle{
    
    width: auto;
  }

  .promo-m{
    display: block;
    position: relative;
    margin: 0 auto;
    top: -50px;
    left:0;
    right:0;
    opacity: 0;
    padding: 5px 5px 5px 5px;
    background-color: #8a97a0;
    /*background-image: -webkit-linear-gradient(#FAECD2 20%,#fff 100%);
    background-image: linear-gradient(#FAECD2 20%,#fff 100%);*/
    box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
    transition: .6s ease all;
    -webkit-transition: .6s ease all;
  }



.promo-m.active {
  opacity: 1;
  top:0px;
}
.lazada-m{
  /*background-color: #fff;*/
  width: auto;
  padding: 10px 10px 2px;
  /*border: 1px dashed #FF9C19;
  border-radius: 0 2px 2px 0;*/
  text-align: center;

}

.lazada-m h1{
  display: inline-block;
  font-family: 'Aachen';
  font-size: 2.5rem;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  color: #fff;
  margin-top: 0;
}

.lazada-m h1 span{
  color: #ffcc05;
  vertical-align: middle;
}

.lazada-m h2{
  margin-bottom: 0px;
  display: inline-block;
  padding: 0 10px;
  color: #282828;
}

.lazada-m h3{
  display: inline-block;
  color: #335267;
  font-size: 2.8rem;
  font-weight: 600;
  /*width: 80%;*/
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  margin: 0 auto;
  border: 2px dashed #335267;
  /*border-radius: 0 2px 2px 0;*/
  padding: 0 5px;
}

.lazada-m h4{
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}


.lazada-m p{
  margin: 0;
}

.lazada-logo-m {
  display: inline-block;
  vertical-align: middle;
  width: 105px;
  height: 33px;
  background-image: url(/campaign/Petrol-Quiz/web/img/cc-petrol-quiz/lazada.png);
  background-repeat: no-repeat;
  background-size: 105px auto;
  margin: 10px auto 6px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  /*padding: 0 10px;*/
  margin: 1px auto 6px;
}

 }
.lazada{
  /*background-color: #fff;*/
  width: 185px;
  padding: 13px 15px;
  /*border: 1px dashed #F6EB00;
  border-radius: 0 2px 2px 0;*/
  border-left: 0;
  /*text-align: center;*/
}

.lazada h1{
  color: #fff;
  font-size: 3.0rem;
  font-weight: 400;
  margin-top: 0;
  text-align: left;
  font-family: 'Aachen';
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}

.lazada h1 span{
  color: #ffcc05;
  font-weight: 800;
}

.lazada h2{
  margin-bottom: 0px;
  color: #282828;
}

.lazada h3{
  color: #335267;
  font-size: 2.8rem;
  font-weight: 600;
  width: 80%;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  margin: 0 auto;
  border: 2px dashed #335267;
  border-radius: 0 2px 2px 0;
}

.lazada h4{
  /*line-height: 1.3rem;*/
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
}

.bizloan-logo {
  display: inline-block;
  width: 130px;
  height: 40px;
  background-image: url(../img/bizloan-logo.png);
  background-repeat: no-repeat;
  background-size: 130px auto;
  position: relative;
  
}

 @media (min-width: 768px) {

  .smartsearch-footer {
    /*color: #E1E2E2;*/
    width: auto !important;
   }
  .smartsearch-footer .btn-line {
    border: solid 1px #BCBDBE;
  }   
  .smartsearch-footer strong {
    /*color: #F0F2F4;*/
}

 }

 .ss-logo{
 	float: right;
    margin-right: 11px;
 }

@media (max-width: 450px) {
	.ss-logo{
	 	float: left;
	 	/*text-align: center;*/
	 	margin-right: 0;
	    
	 }

  }


.pdpa{
 	background-color: #07456B;
 	color: #fff;
    padding: 13px;
        line-height: 10pt;
 }

.pdpa .checkbox-label{
	font-size: 8pt;
    font-weight: 200;
    display: inline;

 }

 .detail {
   text-align: center;
   background-color: #d8e8f1;
   clear: both;
   padding-top: 20px;
   padding-bottom: 20px;
       margin-top: 50px;
}
 .detail .subscribe {
   padding: 10px 0 10px 0;
}
 .detail .subscribe h3 {
   font-family: "open_sanssemibold";
   font-weight: 600;
   color: #566e7d;
   font-size: 28px;
}
.detail .subscribe .example{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background: #fff7e0;
    padding: 10px;
    border-radius: 10px;
}
 @media (max-width: 440px) {
   .detail .subscribe h3 {
     font-size: 24px;
  }
  .detail .subscribe .example{
    width: 90%;
  }
}
 @media (max-width: 440px) {
   .detail {
     width: 100%;
     margin: 0 auto;
     margin-top: 40px;
  }
}

.present ul {
   margin-top: 72px;
   margin-bottom: 40px;
}
 .present ul li {
   width: 22%;
   vertical-align: top;
   margin-right: 22px;
   display: inline-block;
}
 @media (max-width: 992px) {
   .present ul li {
     width: 70%;
     margin: 0 auto;
     margin-bottom: 10px;
     padding: 15px;
     border-radius: 20px;
     background-color: #e9f6ff;
  }
}
 .present ul li.arrow {
   position: relative;
}
 @media (max-width: 992px) {
   .present ul li.arrow {
     margin-top: 50px;
  }
}
 .present ul li.arrow:before {
   position: absolute;
   content: "";
   width: 31px;
   height: 22px;
   background-image: url(../img/arrowblue.png);
   background-size: 31px 22px;
   left: -20px;
   top: 65px;
   opacity: 1;
}
 @media (max-width: 992px) {
   .present ul li.arrow:before {
     left: 0;
     right: 0;
     top: -41px;
     margin-left: auto;
     margin-right: auto;
     margin: 0 auto;
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
  }
}
 .present ul p {
   font-size: 18px;
   font-family: "open_sanssemibold";
   color: #193d5a;
   margin-top: 22px;
   line-height: 25px;
}
 @media (max-width: 992px) {
   .present ul p {
     font-size: 18px;
     margin-top: 10px;
  }
}
 

