/* base font color */
/* #5e6a77 lighter font color */
/* color for darkblue section */
html {
  overflow-y: scroll; }

body {
 }

.font-sm { font-size: 13px; }
 .font-xsm { font-size: 12px; }

.cc-smartsearch-header {
  padding: 10px 0 10px;
  background-color: #ffffff;
  position: relative;
  border-bottom: 6px solid #3E73B6; }
  .cc-smartsearch-header .smartsearch-logo {
    margin: 0 auto;
    color: #2F7FBA;
    font-size: 20px;
    font-size: 2rem;
    padding-left: 53px;
    background: url(../img/ss-icon@2x.png) no-repeat 0 0;
    background-size: 49px 29px; }

.imoney-logo {
  background: url(../img/imoney-malaysia-logo.svg) no-repeat;
  display: inline-block;
  width: 180px;
  height: 25px;
  text-indent: -1000em;
  background-size: 130px 25px; }

.no-svg .imoney-logo {
  background: url(../img/imoney-malaysia-logo.png) no-repeat; }

.results-header {
  padding-top: 20px;
  padding-bottom: 30px; }
  .results-header h1 {
    font-family: "open_sanssemibold","Helvetica Neue",Arial,sans-serif;
    font-size: 28px;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #1F4D6E;
    /*font-weight: 600;*/
    text-align: center; }

.filter-wrap ul {
  margin: 0;
  padding: 0; }
  .filter-wrap ul:after {
    content: "";
    clear: both; }
  .filter-wrap ul li {
    display: inline-block;
    padding: 4px 20px 4px 35px;
    background: #569CC1;
    color: #B0D5E9;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 200;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 10px; }
    .filter-wrap ul li:before {
      content: "";
      width: 15px;
      height: 12px;
      background: url(../img/tick-icon@2x.png) no-repeat 0 0;
      background-size: 15px 12px;
      position: absolute;
      left: 12px;
      top: 8px;
      opacity: 0.8; }
    .filter-wrap ul li:first-child {
      margin-left: 0; }
.card{
  text-align: center;
}
.results-body {
  padding-left: 50px;
  padding-right: 50px;
    width: 1280px;
  margin: 0 auto; }
  .results-body:after {
    content: "";
    display: table;
    clear: both; }
  .results-body .results-cards {
    vertical-align: top;
    width: 23%;
    /*float: left*/;
    position: relative;
    display: inline-block;
    background: transparent;
    margin-left: 5px;
    margin-right: 5px; }
    .results-body .results-cards .animated.featured-card, .results-body .results-cards .animated.normal-card {
      visibility: visible; }
    .results-body .results-cards .results-wrapper {
      position: relative;
      z-index: 10; }
    .results-body .results-cards .featured-card {
      background: #fbf4dd;
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
      visibility: hidden; }
      .results-body .results-cards .featured-card .btn-apply {
        background: #F5CD45;
        color: #68530b;
        -webkit-transition: 0.1s ease-in background;
        -moz-transition: 0.1s ease-in background;
        transition: 0.1s ease-in background; }
        .results-body .results-cards .featured-card .btn-apply:hover {
          background: #f3c31e;
          -webkit-transition: 0.1s ease-in background;
          -moz-transition: 0.1s ease-in background;
          transition: 0.1s ease-in background; }
      .results-body .results-cards .featured-card .results-cards__header {
        box-shadow: inset 0 215px 0 #FFDB76;
        border-bottom: 1px solid #E3CA87; }
    .results-body .results-cards .normal-card {
      background: #ffffff;
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
      visibility: hidden; }
    .results-body .results-cards__header {
      padding: 90px 10px 0 10px;
      text-align: center;
      box-shadow: inset 0 215px 0 #E1EDF5;
      border-bottom: 1px solid #E3D7D7; }
      .results-body .results-cards__header .card-image {
        width: 180px;
        margin: 0 auto;
        padding-bottom: 35px; 
          min-height: 112px;}
        .results-body .results-cards__header .card-image img {
          max-height: 80px;
          margin: 0 auto; }
      .results-body .results-cards__header .card-name {
        font-weight: 600;
        padding-bottom: 30px;
        font-size: 16px;
        font-size: 1.6rem;
        position: absolute;
        top: 35px;
        left: 10px;
        right: 10px;
        color: #07456B; }
      .results-body .results-cards__header .card-reward  {
        text-align: left;
        padding: 0px 0 10px;
        min-height: 100px;
        position: relative; }
      .results-body .results-cards__header .card-benefit  {
        text-align: left;
        padding: 0px 0 0px;
        min-height: 100px;
        position: relative; 
        background-color: #fcf8e3;
        padding: 2px 22px;}
        .results-body .results-cards__header .card-reward__list {
          padding-left: 3px; }
          .results-body .results-cards__header .card-reward__list li {
            display: block;
            padding: 2px 0 10px 30px;
            list-style: none;
            position: relative; }
           /* @media (max-width: 480px) {
              .results-body .results-cards__header .card-reward__list li {
                padding-left: 15px;
                padding-bottom: 7px; } }*/
          /*benefit*/
          .results-body .results-cards__header .card-benefit__list li {
            display: block;
            padding: 2px 0 10px 30px;
            list-style: none;
            position: relative; }
           /* @media (max-width: 480px) {
              .results-body .results-cards__header .card-benefit__list li {
                padding-left: 15px;
                padding-bottom: 7px; } }*/
          /*benefit end*/
            .results-body .results-cards__header .card-reward__list li:before {
              content: "";
              position: absolute;
              top: 4px;
              border-radius: 50%;
              left: 0;
              width: 18px;
              height: 18px;
              background: #E8D05A url(../img/tick-icon@2x.png) no-repeat 4px 5px;
              background-size: 11px 9px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
              /*@media (max-width: 480px) {
                .results-body .results-cards__header .card-reward__list li:before {
                  width: 6px;
                  height: 6px;
                  top: 9px;
                  background-image: none;
                  background-color: #585E68; } }*/
          /*benefit*/
          .card-benefit__list li:before {
              content: "";
              position: absolute;
              top: 4px;
              border-radius: 50%;
              left: 0;
              width: 18px;
              height: 18px;
              background: #85d28b url(../img/thumbs-icon@2x.png) no-repeat 4px 5px;
              background-size: 11px 9px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
              /*@media (max-width: 480px) {
                .card-benefit__list li:before {
                  width: 6px;
                  height: 6px;
                  top: 9px;
                  background-image: none;
                  background-color: #585E68; } }*/
      .results-body .results-cards__header .highlight-card {
        position: absolute;
        top: -29px;
        left: 0;
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
        padding: 6px 15px 6px 26px;
        color: #ffffff;
        font-size: 12px;
        font-size: 1.2rem;
        border-radius: 4px 4px 0 0; }
        .results-body .results-cards__header .highlight-card:before {
          position: absolute;
          content: "";
          width: 9px;
          height: 10px;
          background-image: url(/img/best-arrow-icon@2x.png);
          background-size: 9px 10px;
          left: 10px;
          top: 10px;
          opacity: 0.7; }
        .results-body .results-cards__header .highlight-card.dining {
          background-color: #F96877;
          background-image: -webkit-linear-gradient(#F96877, #D5315C);
          background-image: linear-gradient(#F96877, #D5315C); }
        .results-body .results-cards__header .highlight-card.petrol {
          background-color: #4D98D6;
          background-image: -webkit-linear-gradient(#4D98D6, #3881D0);
          background-image: linear-gradient(#4D98D6, #3881D0); }
        .results-body .results-cards__header .highlight-card.promo {
          background-color: #EF9D3D;
          background-image: -webkit-linear-gradient(#EF9D3D, #CE842D);
          background-image: linear-gradient(#EF9D3D, #CE842D); }
        .results-body .results-cards__header .highlight-card.shopping {
          background-color: #E761BB;
          background-image: -webkit-linear-gradient(#E761BB, #CA35C8);
          background-image: linear-gradient(#E761BB, #CA35C8); }
    .results-body .results-cards__gift {
      position: absolute;
      top: 160px;
      right: 6px;
      display: inline-block;
      z-index: 9; }
      .results-body .results-cards__gift:hover {
        cursor: pointer; }
        .results-body .results-cards__gift:hover .gift-content {
          display: block; }
      .results-body .results-cards__gift .icon-gift {
        width: 45px;
        height: 45px;
        background: url(/img/gift-icon@2x.png) no-repeat 0 0;
        background-size: 45px 45px;
        position: relative;
        display: inline-block; }
      .results-body .results-cards__gift .gift-content {
        position: absolute;
        width: 230px;
        background: #454C5C;
        color: #fff;
        font-size: 12px;
        font-size: 1.2rem;
        z-index: 10;
        right: 0;
        padding: 10px 14px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
        border: 2px solid #fff;
        text-align: left;
        display: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
        .results-body .results-cards__gift .gift-content small {
          display: block;
          margin-top: 5px; }
        .results-body .results-cards__gift .gift-content:before {
          height: 0;
          width: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 10px solid #454C5C;
          position: absolute;
          content: "";
          right: 16px;
          top: -10px;
          z-index: 2; }
        .results-body .results-cards__gift .gift-content:after {
          height: 0;
          width: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 12px solid #ffffff;
          position: absolute;
          content: "";
          right: 14px;
          top: -14px;
          z-index: 1; }
    .results-body .results-cards__body {
      padding: 20px; }
      .results-body .results-cards__body .cards-heading {
        color: #9AA6A9;
        font-size: 12px;
        font-size: 1.2rem; }
      .results-body .results-cards__body .cards-info {
        color: #414141;
        font-size: 20px;
        font-size: 2rem;
        padding-bottom: 15px; }
  .results-body .featured-tag {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #cea415;
    font-size: 12px;
    font-size: 1.2rem; }
  .results-body .button-wrapper {
    padding: 10px 20px 20px;
    text-align: center; }
    .results-body .button-wrapper:after {
      content: "";
      clear: both;
      display: table; }
  .results-body .btn-apply {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px 20px 13px;
    text-align: center;
    background: #44B74D;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 3px;
    font-weight: 600;
    -webkit-transition: 0.1s ease-in background;
    -moz-transition: 0.1s ease-in background;
    transition: 0.1s ease-in background;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15); }
    .results-body .btn-apply:hover {
      background: #3da445;
      -webkit-transition: 0.1s ease-in background;
      -moz-transition: 0.1s ease-in background;
      transition: 0.1s ease-in background; }

.results-footer {
  padding-top: 20px;
    padding-bottom: 20px;
      /*background-color: #7BB4D3;*/
  /*background-color: #B0D5E9;*/ }
  .results-footer .cta-footer {
    text-align: center; }
  .results-footer ul {
    margin: 0;
    padding: 0; }
    .results-footer ul li {
      display: inline-block;
      margin-left: 8px;
      margin-bottom: 8px;
      vertical-align: top; }
  .results-footer .btn-outline {
    color: #2A6A98;
    background: transparent;
    border: 1px solid #3F80AE;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    display: block; }
    .results-footer .btn-outline:hover {
      text-decoration: none;
      background: #3F80AE;
      color: #ffffff; }
      .results-footer .btn-outline:hover #fb-circle {
        fill: white; }
    .results-footer .btn-outline #fb-circle {
      fill: #3F80AE;
      margin-right: 5px;
      vertical-align: top; }

.radio-skip {
  margin: 0;
  padding: 0; }
  .radio-skip li {
    display: block;
    margin-bottom: 8px;
    list-style: none; }
    .radio-skip li label {
      display: block;
      background: #EEF1F4 url(/img/skip-radio-empty.png) 13px 50% no-repeat;
      background-size: 14px 14px;
      border: 1px solid #BBD4DB;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 6px 10px 6px 40px;
      color: #274D6B;
      font-weight: 600;
      font-size: 15px;
      font-size: 1.5rem;
      border-radius: 4px; }
      .radio-skip li label:hover {
        cursor: pointer;
        border-color: #7398A4;
        background-color: #F4F5F7; }
    .radio-skip li input[type="radio"] {
      display: none; }
    .radio-skip li input:checked + label {
      background-color: #586A84;
      background-image: url(/img/skip-radio-checked.png);
      color: #ffffff;
      border-color: #507595;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all; }

.results-skip .close-wrap {
  text-align: right;
  padding-top: 7px;
  padding-bottom: 10px; }
.results-skip .close-btn {
  color: #99B6CB;
  position: relative;
  -webkit-backface-visibility: hidden;
  font-size: 16px;
  font-size: 1.6rem; }
  .results-skip .close-btn:hover {
    text-decoration: none; }
    .results-skip .close-btn:hover i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .results-skip .close-btn i {
    background: url(/img/icon-topnav.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: -104px 0;
    position: relative;
    top: 0;
    margin-right: 5px;
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */ }
.results-skip .desc {
  font-size: 16px;
  font-size: 1.6rem;
  color: #828A90;
  margin-bottom: 20px; }
.results-skip .modal-backdrop {
  background-color: #000000; }
  .results-skip .modal-backdrop.in {
    opacity: 0.8; }
.results-skip .modal-title {
  font-size: 24px;
  font-size: 2.4rem; }
.results-skip .modal-dialog {
  margin-top: 100px; }
.results-skip .modal-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px; }
.results-skip .modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.3); }
.results-skip .modal-footer {
  padding: 20px;
  text-align: center;
  background: #f8f8f8; }
.results-skip .customer-information-wrap {
  color: #848B90;
  font-style: italic; }
  .results-skip .customer-information-wrap p {
    font-size: 16px;
    font-size: 1.6rem;
    font-style: normal; }
.results-skip .apply-information-content {
  color: #ADB4BA; }
.results-skip .contact-text {
  color: #848B90;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600; }
.results-skip .apply-card-name {
  color: #274D6B;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 600; }
.results-skip .apply-card-img {
  margin-bottom: 20px; }
  .results-skip .apply-card-img img {
    width: 80px; }

.modal-green-box {
  background: #3FA361;
  padding: 25px 10px; }
  .modal-green-box h1, .modal-green-box h2, .modal-green-box h3, .modal-green-box h4, .modal-green-box h5, .modal-green-box h6 {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    text-align: center; }
  .modal-green-box h3 {
    font-size: 25px;
    font-size: 2.5rem; }

.related-content-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1; }
  .related-content-top h4 {
    margin: 10px auto 17px;
    text-align: center; }
    @media (max-width: 480px) {
      .related-content-top h4 {
        margin: 10px 0 17px;
        text-align: left; } }

.related-content-bottom {
  padding-top: 20px; }

.related-products-link {
  margin: 0;
  padding: 0;
  text-align: center; }
  .related-products-link li {
    display: inline-block;
    margin: 0 10px 5px; }
    .related-products-link li a.shareFB {
      background-color: #3F80AE;
      border: none;
      color: white;
      margin: 0px 20px 0 10px; }
      .related-products-link li a.shareFB:hover {
        background-color: #316489; }
      .related-products-link li a.shareFB #fb-circle {
        fill: white;
        margin-right: 5px;
        vertical-align: top; }

.modal-articles a {
  font-size: 16px;
  font-size: 1.6rem; }
.modal-articles li {
  margin-bottom: 5px;
  padding-left: 25px;
  background: url(/img/list-bullet.png) 7px 9px no-repeat; }

/** END Bootstrap modal overwrite */
/** CSS animation overwrite  */
.loading-wrap {
  position: absolute;
  top: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center; }
  .loading-wrap img {
    width: 30px;
    height: 30px;
    margin: 0 auto; }
  .loading-wrap span {
    display: block;
    text-align: center;
    color: #204D75;
    font-size: 11px;
    font-size: 1.1rem;
    margin-top: 10px; }

/* SLICK overwrite */
.slick-list {
  overflow: visible; }
.slick-dots {
  top: -45px;
  right: 0;
  bottom: auto;
  width: auto;
  text-align: right; }
  .slick-dots:before {
    content: 'Page:';
    position: relative;
    color: #2A6A98;
    left: -3px;
    font-size: 12px;
    font-size: 1.2rem; }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 3px; }
    .slick-dots li.slick-active button {
      opacity: 1;
      background: #3f80ae;
      color: #fff; }
    .slick-dots li button {
      font-size: 14px;
      font-size: 1.4rem;
      color: #2A6A98;
      opacity: 0.5;
      border: 1px solid #3f80ae;
      border-radius: 50%;
      width: 30px;
      height: 30px; }
      .slick-dots li button:hover {
        opacity: 1; }
      .slick-dots li button:before {
        display: none; }

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px); }
  50% {
    -webkit-transform: translate3d(-100px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px); } }
@-moz-keyframes moveRight {
  0% {
    -moz-transform: translate3d(0px, 0px, 0px); }
  50% {
    -moz-transform: translate3d(-100px, 0px, 0px); }
  100% {
    -moz-transform: translate3d(0px, 0px, 0px); } }
@keyframes moveRight {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  50% {
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -moz-transform: translate3d(-100px, 0px, 0px);
    -ms-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate3d(-100px, 0px, 0px);
    transform: translate3d(-100px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); } }
.moveRight {
  -webkit-animation: moveRight 1.75s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: moveRight 1.75s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: moveRight 1.75s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (max-width: 1366px) {
  .results-body {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%; } }
@media (max-width: 1280px) {
  .results-body .results-cards .featured-card .results-cards__header {
    box-shadow: inset 0 230px 0 #FFDB76; }
  .results-body .results-cards__header {
    padding-top: 120px;
    box-shadow: inset 0 230px 0 #E1EDF5; }
  .results-body .results-cards__reward {
    padding-left: 32px;
    padding-right: 15px; }
  .results-body .results-cards__gift {
    top: 175px; }
  .results-body .results-cards__body {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 992px) {
  .results-body .results-cards {
    margin-bottom: 20px; } }
@media (max-width: 991px) {
  .results-header {
    padding-bottom: 19px; }

  .results-body .results-cards {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px; }
    .results-body .results-cards .featured-card .results-cards__header {
      box-shadow: none; }
    .results-body .results-cards .featured-card .results-cards__body {
      border-bottom-color: #E3CA87; }
    .results-body .results-cards__header {
      padding-top: 40px;
      text-align: left;
      padding-left: 17px;
      padding-right: 17px;
      padding-bottom: 24px;
      background: transparent;
      box-shadow: none; }
      .results-body .results-cards__header:after {
        content: "";
        clear: both;
        display: table; }
      .results-body .results-cards__header .card-name {
        margin-left: 170px;
        padding-bottom: 7px;
        font-size: 18px;
        font-size: 1.8rem;
        top: auto;
        font-weight: 700;
        left: auto;
        right: auto;
        position: relative; 
        text-align: center;
        margin: 0 auto; }
      .results-body .results-cards__header .card-reward {
        margin-left: 40px;
        padding: 0;
        min-height: inherit; }
        .results-body .results-cards__header .card-reward:before {
          display: none; }
      .results-body .results-cards__header .highlight-card {
        top: 8px;
        left: 22px;
        padding: 3px 20px 3px 25px;
        border-radius: 20px;
        box-shadow: none; }
        .results-body .results-cards__header .highlight-card:before {
          top: 7px; }
      .results-body .results-cards__header .card-image {
        /*margin: 0;
        margin-top: 5px;
        display: inline-block;
        float: left;*/
        padding-bottom: 0;
        text-align: center;
        margin: 0 auto;
        min-height: 0; }
    .results-body .results-cards__gift {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 30px; }
      .results-body .results-cards__gift .icon-gift {
        position: absolute;
        left: 10px;
        z-index: 2;
        top: 13px; }
      .results-body .results-cards__gift .gift-content {
        position: relative;
        display: block;
        width: auto;
        z-index: auto;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding-left: 65px;
        border-top: 2px solid #1C1F27;
        min-height: 70px; }
        .results-body .results-cards__gift .gift-content:before, .results-body .results-cards__gift .gift-content:after {
          display: none; }
    .results-body .results-cards__reward {
      position: absolute;
      top: 75px;
      left: 210px;
      right: 250px;
      padding: 0;
      border: 0; }
    .results-body .results-cards__body {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #E3D7D7; }
      .results-body .results-cards__body .cards-info {
        padding-bottom: 0; }
  .results-body .featured-tag {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem;
    color: #E4C455; }
  .results-body .button-wrapper {
    padding: 20px; }
  .results-body .btn-apply {
    text-transform: uppercase;
   /* width: 200px;*/
    float: right;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 18px;
    font-size: 1.8rem;
    vertical-align: top; }

.container-fluid {
    padding-left: 0;
    padding-right: 0; }

     }
@media (max-width: 767px) {
  body {
    /*background-color: #ffffff;*/ }

  .results-skip .desc {
    font-size: 14px;
    font-size: 1.4rem; }
  .results-skip .modal-body {
    padding-left: 15px;
    padding-right: 15px; }
  .results-skip .modal-title {
    font-size: 18px;
    font-size: 1.8rem; }
  .results-skip .modal-dialog {
    margin-top: 50px; }

  .radio-skip li label {
    font-size: 14px;
    font-size: 1.4rem; }

    .container-fluid {
    padding-left: 0;
    padding-right: 0; }

  .cc-smartsearch-header {
    background-color: #56BCF1;
    color: #ffffff; }
    .cc-smartsearch-header .smartsearch-logo {
      color: #ffffff;
      background-image: url(/campaign/bt-ss/img/ss-icon-white@2x.png);
      background-size: 34px 22px;
      padding-left: 40px;
      font-size: 16px;
      font-size: 1.6rem; }
    .cc-smartsearch-header a {
      color: #ffffff; }

  .results-header {
    padding-left: 10px;
    padding-right: 10px; }

  .results-body {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    .results-body .results-cards {
      margin-bottom: 0;
      box-shadow: none; }
      .results-body .results-cards .results-wrapper {
        border-bottom: 2px solid #6788A5;
        border-top: 2px solid #6788A5;
        box-shadow: none; }
      .results-body .results-cards__reward {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        padding: 0 25px 12px 45px;
        min-height: initial; } }
@media (max-width: 480px) {
  .cc-smartsearch-header {
    padding-left: 10px;
    padding-right: 10px; }

  .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    .container-fluid .row {
      margin-left: 0;
      margin-right: 0; }

  .results-header h1 {
    font-size: 25px;
    font-size: 2.5rem; }

  .results-body .button-wrapper {
    padding: 15px 10px; }
  .results-body .results-cards__header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
    .results-body .results-cards__header .highlight-card {
      left: 10px;
      font-size: 10px;
      font-size: 1rem;
      padding-bottom: 5px; }
    /*.results-body .results-cards__header .card-image {
      width: 80px; }*/
      .results-body .results-cards__header .card-image img {
        height: auto; }
    .results-body .results-cards__header .card-name, .results-body .results-cards__header .card-reward {
      margin-left: 20px; }
  .results-body .results-cards__gift {
    margin-left: -10px;
    margin-right: -10px; }
  .results-body .results-cards__reward {
    padding-left: 35px;
    padding-right: 10px; }
  .results-body .results-cards__body {
    padding-left: 0px;
    padding-right: 0px; }
    .results-body .results-cards__body .cards-heading {
      font-size: 11px;
      font-size: 1.1rem; }
  .results-body .btn-apply {
    width: auto; }

  .results-footer {
    padding-bottom: 40px; }
    .results-footer ul li {
      display: block;
      margin-left: 0;
      margin-right: 15px;
      margin-left: 15px; }
    .results-footer .btn-outline {
      padding: 12px 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      background: #88c0de;
      width: 100%; }

  .results-skip .modal-dialog {
    margin-top: 30px; }
  .results-skip .modal-body {
    padding-bottom: 30px; }
  .results-skip .modal-header {
    padding-left: 3px;
    padding-right: 3px; }

  .modal-green-box {
    padding-top: 18px;
    padding-bottom: 18px; }
    .modal-green-box h3 {
      font-size: 22px;
      font-size: 2.2rem; } }
@media (max-width: 446px) {
  .results-body .results-cards__body .cards-heading {
    min-height: 34px; } }
