<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="id"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="og:title" content="Aplikasi Online Pinjaman Tanpa Agunan Terbaik Di Indonesia" />
		<meta name="description" content="Gunakan SmartSearch AturDuit dan Anda akan menemukan pinjaman yang sesuai dengan kebutuhan dan suku bunga terjangkau">
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<link rel="shortcut icon" href="//www.aturduit.com/sites/www.aturduit.com/files/aturduit-favicon.jpg" />
		<link rel="stylesheet" href="/promosi-assets/smartsearch/css/normalize.css">
		<link rel="stylesheet" href="/promosi-assets/smartsearch/css/base-critical.css">
		<link rel="stylesheet" href="/promosi-assets/smartsearch/css/base.css">
		<title>Aplikasi Online Pinjaman Tanpa Agunan Terbaik Di Indonesia</title>
		<meta name="viewport" content="user-scalable=0,initial-scale=1,width=device-width">
		<link rel="stylesheet" href="/promosi-assets/smartsearch/js/slick/slick.css">
		<link rel="stylesheet" href="/promosi-assets/smartsearch/css/results.css">
		<link rel="stylesheet" type="text/css" href="/promosi-assets/smartsearch/css/cc-smartsearch.css">
		<link rel="stylesheet" href="/promosi-assets/smartsearch/css/animate.css">
		<style>
			.question {
				opacity: 1;
			}
			.form-figure {
				margin-bottom: 20px;
			}
		</style>
		<script>
		</script>
	</head>
	<body>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NR437J"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NR437J');</script>
	<!-- End Google Tag Manager -->
	<header class="cc-smartsearch-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 hidden-xs">
					<a href="https://www.aturduit.com/" class="imoney-logo">
						aturduit.com
					</a>
				</div>
				<div class="ss-logo ">
					<div class="smartsearch-logo">
						SmartSearch Kredit Tanpa Agunan
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="results-header" data-region="credit-card-result-header" data-vertical="credit-card">
			<div class="container">
				<div class="row">
					<h1>
					Berikut adalah pilihan kredit tanpa agunan terbaik di Indonesia</h1>
					<div class="filter-wrap text-center animated fadeInDown">
						<ul id="user-filter-summary"></ul>
					</div>
				</div>
			</div>
	</section>

	<div id="middle">
		<div class="quiz">
			<section class="results-body">
				<div class="container-fluid">
					<div class="card">
						<!--Featured card-->				
						
						<!--Featured card-->
					
						<% for(var i=0; i < data.length; i++) { %>
							<div class="results-cards" data-delay="1">
								<!-- Loader -->
								<div class="loading-wrap">
									<img src="/promosi-assets/smartsearch/img/preloader.gif" />
									<span>Mencari KTA</span>
								</div>
								<div class="normal-card results-wrapper">
									<div class="results-cards__header">	
										<div class="card-image">
											<img class="img-responsive" src=/<%- data[i].bank.logo %> style="padding-top: 20px;" />
										</div>					
										<div class="card-name">
											<%= data[i].title %>
										</div>
										<div class="used">
										<h4>Sesuai untuk:</h4>
											<ul>
												<!-- <li><div class="icons icn-property"></div></li> -->
												<li><div class="icons icn-motor"></div></li>
												<li><div class="icons icn-debt"></div></li>
												<li><div class="icons icn-renovation"></div></li>
												<li><div class="icons icn-gadget"></div></li>
											</ul>
										</div>
										<div class="card-benefit">
											<h4>Keuntungan:</h4>
											<ul class="card-benefit__list">
												<% for (var j = 0; j < data[i].smartSearchFeaturesValues.length; j++) { %>
													<li><%= data[i].smartSearchFeaturesValues[j].text %></li>
												<% } %>
											</ul>
										</div>
										<div class="card-reward">
											<h4>Persyaratan:</h4>
											<ul class="card-reward__list">
												<% for (var j = 0; j < data[i].smartSearchBenefitsValues.length; j++) { %>
													<li><%= data[i].smartSearchBenefitsValues[j].text %></li>
												<% } %>
											</ul>
										</div>
																
									</div>
									
									<div class="button-wrapper">
										<button class="btn btn-apply" data-value=<%- data[i].apply_link %> >Ajukan Sekarang</button>
									</div>
								</div>
							</div>
						 <% } %>
						</div>
					</div>
				</section>
			</div>

	<section class="results-footer" data-imu-track="button,a">
		<div class="container-fluid">
			<div class="row">
				<div class="cta-footer">
					<ul>
						<li>
							<a class="btn-outline shareFB" data-subject="User" data-action="Click" data-description="Button" data-region="SmartSearch Results" data-vertical="Credit Card" href="https://www.aturduit.com/kredit-tanpa-agunan">Saya tidak menemukan apa yang saya cari</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- <p style="color: #1A557A; font-weight: 500; margin: 0 auto; width: auto; text-align: center; margin-bottom: 10px; margin-top: 10px; clear: both;  ">&copy; 2015 iMoney.my</p> -->
	  </div><!--middle-->




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="//apply.imoney.my/js/apply.js"></script>
<script type="text/javascript" src="/promosi-assets/smartsearch/js/transition.min.js"></script>
<script type="text/javascript" src="/promosi-assets/smartsearch/js/modal.min.js"></script>
<script type="text/javascript" src="/promosi-assets/smartsearch/js/smartsearch-pl-result.js"></script>

	</body>
</html>
