extends ../../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&text=START%20HERE!', rel='stylesheet', type='text/css')
meta(name='robots', content='noindex, follow')
append head-script
	script.

		var googletag = googletag || {};
		googletag.cmd = googletag.cmd || [];
		(function() {
			var gads = document.createElement('script');
			gads.async = true;
			gads.type = 'text/javascript';
			var useSSL = 'https:' == document.location.protocol;
			gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
			var node = document.getElementsByTagName('script')[0];
			node.parentNode.insertBefore(gads, node);
		})();

		googletag.cmd.push(function() {
			googletag.defineSlot('/422122608/V4_Flexible_Tri_Panel_1', [350, 414], 'div-gpt-ad-1448186326768-0').addService(googletag.pubads());
			googletag.pubads().enableSingleRequest();
			googletag.pubads().collapseEmptyDivs();
			googletag.pubads().setTargeting('Region', "sg").setTargeting('Category', 'thank-you').setTargeting('Path', "/personal-loan/thank-you");
			googletag.enableServices();
		});

		iAJSLoader.init([
			[
				"//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
				"//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js",
				"//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
			],
			[
				"/v4/js/base.min.js",
				"/v4/js/product-thank-you.min.js"
			]
		]);

block content

	if(region == "sg")
		include ../../bower_components/imoney-assets/dev/templates/sg/en/mb-navigation-v2.html

	div.inner-wrap

		//- PL PRODUCT PAGE INCLUDES
		include ../../bower_components/imoney-assets/dev/templates/sg/en/topbar-v2.html
		include ../../bower_components/imoney-assets/dev/templates/sg/en/navigation-v2.html


		.thank-you__body
			.container
				.thank-you__top
					.circle-container
						.envelope-container
							.envelope-wrap
								.letter-container
									.letter
								.envelope-open
								.envelope-close
								.envelope-front
								.envelope
							.tick-icon
					h1.thank-you__header #{language.translate('Thanks for applying personal loan with us!')}
					p.thank-you__desc #{language.translate('An iMoney representative will contact you within one business day to help you complete your application and also answer any questions you may have.')}




				.thank-you__bottom
					h4.mean-time #{language.translate('In the mean time, read some of our money saving tips')}
					.row
						.col-md-4
							.related.latest(data-rss='/articles/feed/')
								.related-title #{language.translate('Latest Articles')}
								.preloader
						.col-md-4
							.related.cards(data-rss=rssurl)
								.related-title #{language.translate('Money Management')}
								.preloader
						.col-md-4
							#div-gpt-ad-1448186326768-0
								script(type='text/javascript').
									googletag.cmd.push(function() {
										googletag.display('div-gpt-ad-1448186326768-0');
									});


		//- //- include ../dev/jade/footer.jade
		//- if(region == "my")
		//- 	include ../bower_components/imoney-assets/dev/templates/my/footer.html


		include ../../bower_components/imoney-assets/dev/templates/sg/en/footer.html

	link(rel='stylesheet', href='/jayhan/page-thankyou.css')



block footer-script

	<!--[if lte IE 9]>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="/js/base.min.js"></script>
	<script src="//cdn.optimizely.com/js/2356000143.js"></script>
	<![endif]-->