<template>
  <form v-on:submit.prevent="next" data-step="1">
    <div class="apply-form">
      <h4>{{translate('Basic Details')}}</h4>
      <h5>{{translate('Just 3 more steps to complete your application.')}}</h5>
      <div class="row">
        <div class="form-group col-xs-6">
          <label>{{translate('ID Type')}}</label>
          <select id="apply-idtype" name="id_type" v-model.trim="identification_type" data-description="ID Type" class="form-control" data-parsley-id="0476">
          <option value="" disabled selected>{{translate('Choose one')}}</option>
          <option value="IC">{{translate('IC')}}</option>
          <option value="Passport">{{translate('Passport')}}</option>
        </select>
          <div v-for="(rule, index) in $v.identification_type.$params" v-bind:key="index">
            <span class="color-red" v-if="validate($v.identification_type,rule.type)">
          {{ getErrotmessage('identification_type',rule.type)}}
          </span>
          </div>
        </div>
        <div class="form-group col-xs-6">
          <label>{{translate('ID Number')}}</label>
          <input type="text" v-model.trim="identification_no" @input="$v.identification_no.$touch()" name="id_number" data-description="ID Number" :placeholder="translate('ID Number')" class="form-control">
          <div v-for="(rule, index) in $v.identification_no.$params" v-bind:key="index">
            <span class="color-red" v-if="validate($v.identification_no,rule.type)">
            {{ getErrotmessage('identification_no',rule.type)}}
          </span>
          </div>
        </div>
      </div>
      <div class="form-group selectBranch">
        <label>{{translate('Where do you stay?')}}</label>
        <select name="state" v-model.trim="state" @input="$v.state.$touch()" data-description="State" tabindex="-1" class="form-control">
        <option value="" disabled selected>{{translate('Choose one')}}</option>
        <option v-for="(item, index) in easyrhb"  v-bind:key="index" >{{item}}</option>
      </select>
        <div v-for="(rule, index) in $v.state.$params" v-bind:key="index">
          <span class="color-red" v-if="validate($v.state,rule.type)">
        {{ getErrotmessage('state',rule.type)}}
        </span>
        </div>
      </div>
      <button type='submit' class="slick-next" style="display: block;"
        data-subject="User" 
        data-action="Submit" 
        :data-value="productTitle"
        :data-title="productTitle"
        data-step="1"
        data-description="Pre-Qualify Apply Form" 
        data-vertical="Personal Loan">{{translate('Next')}}</button>
    </div>
  </form>
</template>

<script>
import { getProductData} from "../../helper";
  export default {
    data: function() {
      return {
        productTitle: getProductData().title,
        identification_type: "",
        identification_no: null,
        state: "",
        easyrhb: [
          "Johor",
          "Kedah",
          "Kelantan",
          "Kuala Lumpur",
          "Melaka",
          "Negeri Sembilan",
          "Pahang",
          "Perak",
          "Perlis",
          "Pulau Pinang",
          "Putrajaya",
          "Sabah",
          "Sarawak",
          "Selangor",
          "Terengganu"
        ],
        BranchList: []
      };
    },
    methods: {
      translate: function(value) {
        return translate(value);
      },
      next: function() {
        if (!this.$v.$invalid) {
          this.$parent.jappData.identification_type = this.identification_type;
          this.$parent.jappData.identification_no = this.identification_no;
          this.$parent.jappData.state = this.state;
          this.$parent.jappData.purpose = this.purpose;
          this.$parent.next();
        }
        return this.$v.$touch();
      },
      prev: function() {
        this.$parent.prev();
      },
      validate: function(field, type) {
        return !field[type] && field.$error;
      },
      getErrotmessage: function(field, type) {
        return this.globalValidationObj.vuelidateObjBasicFormPre.erroMessagesObj[
          field
        ][type];
      },
      showHideQustion: function() {
        return Loan.nid == "54" || Loan.nid == "75";
      }
    },
    validations: function() {
      return this.globalValidationObj.vuelidateObjBasicFormPre.validatorObj;
    }
  };
</script>