<template>
  <form v-on:submit.prevent="next" data-step="2">
    <div class="apply-form">
      <h4>{{translate('Employment')}} </h4>
      <br>
      <div class="form-group">
         <label>{{translate('Employment Status')}}</label>
         <ul class="btns-radio">
            <li>
              <input type="radio" id="employmentEmployed" v-model="employment_status" name="employment_status" value="Employed Salaried">
              <label for="employmentEmployed">
                <div class="tick"></div>
                {{translate('Employed (Salaried)')}}
              </label>
            </li>
            <li>
              <input type="radio" id="employmentEmployedCommission" v-model="employment_status" name="employment_status" value="Employed Commission earner">
              <label for="employmentEmployedCommission">
                <div class="tick"></div>
                {{translate('Employed (Commission earner)')}} 
              </label>
            </li> 
            <li>
              <input type="radio" id="employmentSelfEmployed" v-model="employment_status" name="employment_status" value="Self-employed" >
              <label for="employmentSelfEmployed">
                <div class="tick"></div>
                {{translate('Self-employed')}}
              </label>
            </li>
            <li>
              <input type="radio" id="employmentUnemployed" v-model="employment_status" name="employment_status" value="Unemployed" tabindex="-1">
              <label for="employmentUnemployed">
                <div class="tick"></div>
                {{translate('Unemployed')}} 
               </label>
            </li>
         </ul>  
        <div v-for="(rule,index) in $v.employment_status.$params" v-bind:key="index">
          <span class="color-red" v-if="validate($v.employment_status,rule.type)">
            {{ getErrotmessage('employment_status',rule.type)}}
          </span>
        </div>
      </div>
      <div class="form-group" v-if="employment_status=='Employed Salaried' || employment_status=='Employed Commission earner' ">
        <label>{{translate('When did you join your current company?')}}</label>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <select id="employedMonth" name="employed-month" v-model="month" v-model.trim="employed_month" data-description="Employment Date Joined Month" tabindex="-1" required=""  class="form-control chosen-select">
                <option value="" disabled selected>{{translate('Choose one')}}</option>
                <option value="1">{{translate('January')}}</option>
                <option value="2">{{translate('February')}}</option>
                <option value="3">{{translate('March')}}</option>
                <option value="4">April</option>
                <option value="5">{{translate('May')}}</option>
                <option value="6">{{translate('June')}}</option>
                <option value="7">{{translate('July')}}</option>
                <option value="8">{{translate('August')}}</option>
                <option value="9">{{translate('September')}}</option>
                <option value="10">{{translate('October')}}</option>
                <option value="11">November</option>
                <option value="12">{{translate('December')}}</option>
              </select>
              <div id="parsley-id-5814"></div>
              <div class="input-group-addon">{{translate('month')}}</div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <select id="employedYear" name="employed-year" v-model="year" data-description="Employment Date Joined Year" tabindex="-1" class="form-control chosen-select">
                <option value="" disabled selected>{{translate('Choose one')}}</option>
                <option  v-for="(year,index) in listYears"   v-bind:key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-0457"></div>
              <div class="input-group-addon">{{translate('year')}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group selectBranch" v-if="employment_status=='Employed Salaried' || employment_status=='Employed Commission earner' ">
        <label>{{translate('Employment Type')}}</label>
        <select name="state" v-model.trim="employment_type" @input="$v.employment_type.$touch()" data-description="employment_type" tabindex="-1" class="form-control">
          <option value="" disabled selected>{{translate('Choose one')}}</option>
          <option v-for="(item, index) in employmentTypes"  v-bind:key="index" >{{translate(item)}}</option>
        </select>
        <div v-for="(rule, index) in $v.employment_type.$params" v-bind:key="index">
          <span class="color-red" v-if="validate($v.employment_type,rule.type)">
          {{ getErrotmessage('employment_type',rule.type)}}
          </span>
        </div>
      </div>
      <div class="form-group self-employed" v-if="employment_status=='Self-employed'">
        <label>{{translate('When did you start your current company?')}} </label>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <select id="selfEmployedMonth"  v-model="month"  name="self-employed-month" data-description="Self Employment Month" tabindex="-1" class="form-control chosen-select" data-parsley-id="1084">
                <option value="" disabled selected>{{translate('Choose one')}}</option>
                <option value="1">{{translate('January')}}</option>
                <option value="2">{{translate('February')}}</option>
                <option value="3">{{translate('March')}}</option>
                <option value="4">April</option>
                <option value="5">{{translate('May')}}</option>
                <option value="6">{{translate('June')}}</option>
                <option value="7">{{translate('July')}}</option>
                <option value="8">{{translate('August')}}</option>
                <option value="9">{{translate('September')}}</option>
                <option value="10">{{translate('October')}}</option>
                <option value="11">November</option>
                <option value="12">{{translate('December')}}</option>
              </select>
              <div id="parsley-id-1084"></div>
              <div class="input-group-addon">{{translate('month')}}</div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <select id="selfEmployedYear"  name="self-employed-year"  v-model="year" data-description="Self Employment Year" tabindex="-1" required="" class="form-control chosen-select">
                <option value="" disabled selected>{{translate('Choose one')}}</option>
                <option  v-for="(year,index) in listYears"   v-bind:key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-6659"></div>
              <div class="input-group-addon">{{translate('year')}}</div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" v-on:click="next" data-role="none" class="slick-next" style="display: block;"
        data-subject="User" 
        data-action="Submit" 
        data-step="2"
        :data-value="productTitle"
        :data-title="productTitle"
        data-description="Pre-Qualify Apply Form" 
        data-vertical="Personal Loan">{{translate('Next')}}</button>
      <button type="button" v-on:click="prev" class="slick-prev slick-disabled" style="display: block;">{{translate('Back')}}</button>
    </div>
  </form>  
</template>

<script>
import {creatArrayRange, getProductData} from "../../helper";

export default {
  data: function ()  {
    return {
        productTitle: getProductData().title,
          employment_status : '',
          is_government_servant: '',
          joining_date : '',
          month : '',
          day : '01',
          year: '',
          employed_year: '',
          employed_month: '',
          employment_type: '',
          employmentTypes: [
            'Private Sector',
            'Government Sector',
            'Semi Government (GLC)'
          ]
        };
  },
  computed: {
    listYears: function ()  {
      return creatArrayRange(2000,2018).reverse();
    }
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    next: function ()  {
      if (!this.$v.$invalid) {
        this.$parent.jappData.employment_status = this.employment_status;
        this.$parent.jappData.employment_type = this.employment_type;
        if(this.month  == '' || this.year =='' || this.employment_status == 'Unemployed'){
          this.$parent.jappData.joining_date  = this.joining_date;
        }
        else this.$parent.jappData.joining_date = this.day +'-'+ this.month + '-'+ this.year;
        this.$parent.next();
      }
      return this.$v.$touch();
    },
    prev: function ()  {
      $('#modal-prequalify .apply-details').slideDown('fast');
      this.$parent.prev();
    },
     validate: function(field, type) {
      //console.log(field.$error);
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.vuelidateObjEmploymentFormPre.erroMessagesObj[field][type];
    }
  },
  validations: function(){
    return this.globalValidationObj.vuelidateObjEmploymentFormPre.validatorObj
  }
};
</script>