<template>
  <form v-on:submit.prevent="submit" data-step="3">
    <div class="apply-form">
      <h4>{{translate('Credit History')}}</h4>
      <h5>{{translate('Final step to complete your application!')}}</h5>
      <div class="form-group">
        <label>{{translate(existing_credit_card)}}</label>
        <ul class="btns-radio btns-radio-switch">
          <li>
            <input type="radio"  v-model.trim="existing_credit_facilities"  @input="$v.existing_credit_facilities.$touch()"  id="haveExistingCreditProduct" name="existing_credit_facilities" value="Yes" tabindex="-1" data-parsley-errors-container="#existingcreditproduct-error-container">
            <label for="haveExistingCreditProduct">
              <div class="tick"></div>{{translate('Yes')}}
            </label>
          </li>
          <li>
            <input type="radio"  v-model.trim="existing_credit_facilities"  @input="$v.existing_credit_facilities.$touch()" id="noExistingCreditProduct" name="existing_credit_facilities" value="No" tabindex="-1" data-parsley-multiple="existing_credit_facilities" data-parsley-id="0014">
            <label for="noExistingCreditProduct">
              <div class="tick"></div>{{translate('No')}}
            </label>
          </li>
        </ul>
        <div id="existingcreditproduct-error-container">
          <div v-for="(rule,index) in $v.existing_credit_facilities.$params" v-bind:key="index">
            <span v-bind:key="index" class="color-red" v-if="validate($v.existing_credit_facilities,rule.type)">
              {{ getErrotmessage('existing_credit_facilities',rule.type)}}
            </span>
          </div>
        </div>
      </div>
      <div v-if="showHideQustion()" class="form-group selectBranch">
        <label>{{translate('Please select your nearest Easy Outlet')}}</label>
        <select name="state" v-on:change="stateListChange()" v-model.trim="branch_state" @input="$v.branch_state.$touch()" data-description="State" tabindex="-1" class="form-control">
          <option value="" disabled selected>{{translate('State')}}</option>
          <option v-for="(item, index) in easyrhb"  v-bind:key="index" >{{index}}</option>
        </select>
        <div v-for="(rule, index) in $v.branch_state.$params" v-bind:key="index">
          <span class="color-red" v-if="validate($v.branch_state,rule.type)">
            {{ getErrotmessage('branch_state',rule.type)}}
          </span>
        </div>
        <select name="branch" v-model.trim="branch" tabindex="-1" class="form-control">
          <option value="" disabled selected>{{translate('Easy Outlet')}}</option>
          <option  v-for="(item, index) in BranchList"  v-bind:key="index">{{item.easyName}}</option>
        </select>
        <div v-for="(rule,index) in $v.branch.$params" v-bind:key="index">
          <span v-bind:key="index" class="color-red" v-if="validate($v.branch,rule.type)">
            {{ getErrotmessage('branch',rule.type)}}
          </span>
        </div>
      </div> 
      <div class="form-group a-center">
        <button id="prequalify-btn"  :disabled="Submit != translate('Submit')" type="submit" tabindex="-1" data-subject="User" data-action="Submit" 
        data-step="3" :data-value="productTitle" :data-title="productTitle" data-description="Pre-Qualify Apply Form" data-region="Product Apply Popup" data-vertical="Personal Loan" class="btn btn-lg btn-apply-complement">{{Submit}}</button>
      </div>
      <button type="button" v-on:click="prev" class="slick-prev slick-disabled" style="display: block;">{{translate('Back')}}</button>
    </div>
  </form>
</template>

<script>
import {submitToJapp, getProductData} from "../../helper";
import easyRhbJson from "../../easyrhb.json";

export default {
  data: function () {
    return {
      productTitle: getProductData().title,
      Submit: this.translate("Submit"),
      existing_credit_facilities: "",
      easyrhb: easyRhbJson,
      branch_state: '',
      BranchList: [],
      branch:''
    };
  },
  computed: {
    existing_credit_card () {
      let tenur;
      if(Loan.nid == "163" || Loan.nid == "164"){
        tenur = 6;
      }
      else tenur = Loan.nid == "1443" || Loan.nid == "1444" ? 24 : 12

      return `Do you have any existing credit products with any banks over the past ${tenur} months? (eg. credit card/personal loan/car loan/home loan)`
    }
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    stateListChange: function ()  {
      this.BranchList = easyRhbJson[this.branch_state].outlets;
    },
    submit: function ()  {
      if (!this.$v.$invalid) {
        IMDevPropBag.add('prequalify_current_step', 4);
        IMDevPropBag.add('prequalify_total_steps', 4);
        IMDevPropBag.add('prequalify_status', 'complete'); 
        this.Submit = this.translate("Submitting...");
        this.$parent.jappData.existing_credit_facilities = this.existing_credit_facilities;
        this.$parent.jappData.branch_state = this.branch_state;
        this.$parent.jappData.Branch = this.branch;
        this.triggerEvent(region.toUpperCase() + "-" + lang.toUpperCase() + "-PL-" + "SQCOMPLETED",{
            step: this.$parent.currentSlide,
            userInformation: this.$parent.jappData
          }
        );
        submitToJapp(this.$parent.jappData).then(result => {
          this.Submit = this.translate("Submitted");
          window.location.href = thank_you + '?prequalify';
        });
      }
      return this.$v.$touch();
    },
    prev: function ()  {
      $('#modal-prequalify .apply-details').slideDown('fast');
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.vuelidateObjFinanceFormPre.erroMessagesObj[field][type];
    },
    showHideQustion:function(){
      return Loan.nid == "54" || Loan.nid == "75";
    }
  },
  validations: function() {
    return this.globalValidationObj.vuelidateObjFinanceFormPre.validatorObj;
  }
};
</script>