<template>
  <form v-on:submit.prevent="next" data-step="2">
    <div class="apply-form">
      <h4>{{translate('Employment')}}</h4>
      <h5>{{translate('2 More Step to Complete')}}</h5>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('Occupation')}}</label>
          <select
            name="occupation"
            v-model.trim="occupation"
            data-description="Purpose"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.occupation.$error}"
          >
            <option value disabled selected>{{translate('Choose one')}}</option>
            <option
              v-for="(item) in occupations"
              v-bind:key="item.code"
              :value="item.Description"
            >{{translate(item.Description)}}</option>
          </select>

          <div v-for="(rule,index) in $v.occupation.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.occupation,rule.type)"
            >{{ getErrotmessage('occupation',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div v-if="occupation == '0258'" class="row">
        <div class="form-group col-md-12 col-xs-12">
          <input
            type="text"
            v-model.trim="occupation_other"
            data-description="occupation_other"
            :placeholder="translate('Occupation')"
            class="form-control"
          >
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate(lblCompanyName)}}</label>
          <input
            type="text"
            v-model.trim="company_name"
            name="company_name"
            data-description="Company Name"
            :placeholder="translate(lblCompanyName)"
            @input="$v.company_name.$touch()"
            class="form-control"
            :class="{'parsley-error': $v.company_name.$error}"
          >
          <div v-for="(rule, index) in $v.company_name.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.company_name,rule.type)"
            >{{ getErrotmessage('company_name',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>{{translate(lblJoiningDate)}}</label>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <select
                id="month"
                name="month"
                v-model="month"
                v-model.trim="month"
                data-description="Employment Date Joined Month"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.month.$error}"
              >
                <option value disabled selected>{{translate('Choose one')}}</option>
                <option value="1">{{translate('January')}}</option>
                <option value="2">{{translate('February')}}</option>
                <option value="3">{{translate('March')}}</option>
                <option value="4">April</option>
                <option value="5">{{translate('May')}}</option>
                <option value="6">{{translate('June')}}</option>
                <option value="7">{{translate('July')}}</option>
                <option value="8">{{translate('August')}}</option>
                <option value="9">{{translate('September')}}</option>
                <option value="10">{{translate('October')}}</option>
                <option value="11">November</option>
                <option value="12">{{translate('December')}}</option>
              </select>
              <div id="parsley-id-5814"></div>
              <div class="input-group-addon">{{translate('month')}}</div>
            </div>
            <form-field-error-message v-bind:validationObj="$v.month" validationLabel="This"></form-field-error-message>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <select
                id="year"
                name="year"
                v-model="year"
                data-description="Employment Date Joined Year"
                tabindex="-1"
                :class="{'parsley-error': $v.month.$error}"
                class="form-control chosen-select"
              >
                <option value disabled selected>{{translate('Choose one')}}</option>
                <option v-for="(year,index) in listYears" v-bind:key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-0457"></div>
              <div class="input-group-addon">{{translate('year')}}</div>
            </div>
            <form-field-error-message v-bind:validationObj="$v.year" validationLabel="This"></form-field-error-message>
            <div v-for="(rule, index) in $v.joining_date.$params" v-bind:key="index">
              <span
                class="color-red"
                v-if="validate($v.joining_date,rule.type)"
              >{{ getErrotmessage('joining_date',rule.type)}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Office Address')}}</label>
          <input
            type="text"
            v-model.trim="office_address"
            data-description="Office Address 1"
            :placeholder="translate('Office Address line 1')"
            class="form-control"
            @input="$v.office_address.$touch()"
            :class="{'parsley-error': $v.office_address.$error}"
          >
          <div v-for="(rule, index) in $v.office_address.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_address,rule.type)"
            >{{ getErrotmessage('office_address',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input
            type="text"
            v-model.trim="office_address_1"
            data-description="Office Address 2"
            :placeholder="translate('Office Address line 2')"
            @input="$v.office_address_1.$touch()"
            class="form-control"
            :class="{'parsley-error': $v.office_address_1.$error}"
          >
          <div v-for="(rule, index) in $v.office_address_1.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_address_1,rule.type)"
            >{{ getErrotmessage('office_address_1',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input
            type="text"
            v-model.trim="office_address_2"
            data-description="Office Address 3"
            :placeholder="translate('Office Address line 3')"
            @input="$v.office_address_2.$touch()"
            class="form-control"
            :class="{'parsley-error': $v.office_address_2.$error}"
          >
          <div v-for="(rule, index) in $v.office_address_2.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_address_2,rule.type)"
            >{{ getErrotmessage('office_address_2',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            type="number"
            v-model.trim="office_postcode"
            data-description="office_postcode"
            :placeholder="translate('Office Postcode')"
            @input="$v.office_postcode.$touch()"
            class="form-control"
            :class="{'parsley-error': $v.office_postcode.$error}"
          >
          <div v-for="(rule, index) in $v.office_postcode.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_postcode,rule.type)"
            >{{ getErrotmessage('office_postcode',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            type="text"
            v-model.trim="office_city"
            data-description="office_city"
            :placeholder="translate('Office City')"
            @input="$v.office_city.$touch()"
            :class="{'parsley-error': $v.office_city.$error}"
            class="form-control"
          >
          <div v-for="(rule, index) in $v.office_city.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_city,rule.type)"
            >{{ getErrotmessage('office_city',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <select
            v-model.trim="office_state"
            data-description="Office State"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.office_state.$error}"
          >
            <option value disabled selected>{{translate('State')}}</option>
            <option v-for="(item, index) in easyrhb" v-bind:key="index">{{index}}</option>
          </select>
          <div v-for="(rule, index) in $v.office_state.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.office_state,rule.type)"
            >{{ getErrotmessage('office_state',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Office Number')}}</label>
        </div>
        <div class="form-group col-xs-3">
          <input
            type="text"
            v-model="country_code"
            :placeholder="translate('603')"
            maxlength="3"
            class="form-control"
            @input="$v.country_code.$touch()"
            :class="{'parsley-error': $v.country_code.$error}"
          >
          <form-field-error-message
            v-bind:validationObj="$v.country_code"
            validationLabel="This"
            regexErrorMsg=" is not valid"
          ></form-field-error-message>
        </div>
        <div class="form-group col-xs-9 form-dash">
          <input
            type="text"
            v-model.trim="phone_number"
            data-description="phone_number"
            maxlength="8"
            placeholder="62345678"
            class="form-control"
            @input="$v.phone_number.$touch()"
            :class="{'parsley-error': $v.phone_number.$error}"
          >
          <form-field-error-message
            v-bind:validationObj="$v.phone_number"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
        </div>
      </div>

      <div style="margin-top:20px;">
        <button
          type="button"
          v-on:click="next"
          class="slick-next"
          style="display: block;"
          data-step="2"
          data-subject="User"
          data-action="Submit"
          :data-value="productTitle"
          :data-title="productTitle"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
        >{{applyNow}}</button>
        <!-- <button type="button" v-on:click="prev" class="slick-prev slick-disabled" style="display: block;">{{translate('Back')}}</button> -->
      </div>
    </div>
  </form>
</template>

<script>
import {
  creatArrayRange,
  submitToJapp,
  sortObjAscending,
  getProductData
} from "../../helper";
import easyRhbJson from "../../easyrhb.json";
import FormFieldErrorMessage from "../FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    const listOfStates = Object.assign(easyRhbJson, extraState);
    return {
      productTitle: getProductData().title,
      applyNow: this.translate("Next"),
      company_name: "",
      office_address: "",
      office_address_1: "",
      office_address_2: "",
      office_postcode: "",
      easyrhb: sortObjAscending(listOfStates),
      office_city: "",
      phone_number: "",
      office_phone_number: "",
      occupation_other: "",
      country_code: "",
      office_state: "",
      month: "",
      day: "01",
      year: "",
      occupation: "",
      occupations: [
        { Description: "Accountant", code: "0001" },
        { Description: "Administrator", code: "0364" },
        { Description: "Architect", code: "0356" },
        { Description: "Auditor", code: "0009" },
        { Description: "Bank Officer", code: "0172" },
        { Description: "Cashier", code: "0016" },
        { Description: "Consultant", code: "0023" },
        { Description: "Contractor", code: "0024" },
        { Description: "Designer", code: "0210" },
        { Description: "Director", code: "0035" },
        { Description: "Doctor", code: "0036" },
        { Description: "Driver", code: "0340" },
        { Description: "Engineer", code: "0341" },
        { Description: "Executive", code: "0040" },
        { Description: "Government", code: "0126" },
        { Description: "Lawyer/Barrister/Solicitor", code: "0057" },
        { Description: "Manager", code: "0344" },
        { Description: "Mechanic", code: "0345" },
        { Description: "NGO Staff/Volunteer", code: "0151" },
        { Description: "Nurse/Midwife", code: "0346" },
        { Description: "Police Officer", code: "0349" },
        { Description: "Programmer", code: "0076" },
        { Description: "Quantity Surveyor", code: "0077" },
        { Description: "Salesman/Salesgirl", code: "0254" },
        { Description: "Secretary", code: "0082" },
        { Description: "Self-Employed", code: "0083" },
        { Description: "Supervisor", code: "0351" },
        { Description: "Teacher", code: "0214" },
        { Description: "Waiter / Waitress", code: "0098" },
        { Description: "Other", code: "0258" }
      ]
    };
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.validateStepTwo.erroMessagesObj[field][
        type
      ];
    },
    next: function() {
      this.office_phone_number =
        this.country_code && this.phone_number
          ? this.country_code + this.phone_number
          : "";
      if (!this.$v.$invalid) {
        this.applyNow = this.translate("Please wait...");
        this.$parent.jappData.company_name = this.company_name;
        this.$parent.jappData.joining_date = this.joining_date;
        this.$parent.jappData.office_address_1 = this.office_address_1;
        this.$parent.jappData.office_address_2 = this.office_address_2;
        this.$parent.jappData.office_address = this.office_address;
        this.$parent.jappData.office_postcode = this.office_postcode;
        this.$parent.jappData.office_city = this.office_city;
        this.$parent.jappData.office_state = this.office_state;
        this.$parent.jappData.office_phone_number = this.office_phone_number;
        this.$parent.jappData.occupation = this.occupation;
        IMDevPropBag.add("prequalify_current_step", 3);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        submitToJapp(this.$parent.jappData).then(result => {
          this.applyNow = "Done..";
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      this.$parent.prev();
    }
  },
  validations: function() {
    let addOnValidations = {
      country_code: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(4),
        regex: regex("regex", /^(6?0[3-9])$/)
      },
      phone_number: {
        required,
        minLength: minLength(7),
        maxLength: maxLength(8),
        regex: regex("regex", /^[0-9]+$/)
      },
      month: {
        required
      },
      year: {
        required
      }
    };
    return Object.assign(
      this.globalValidationObj.validateStepTwo.validatorObj,
      addOnValidations
    );
  },
  computed: {
    listYears: function() {
      return creatArrayRange(2000, 2018).reverse();
    },
    joining_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    },
    lblCompanyName: function() {
      return this.$parent.jappData.employment_type == "Self-employed"
        ? "Company Name"
        : "Employer Name";
    },
    lblJoiningDate: function() {
      return this.$parent.jappData.employment_type == "Self-employed"
        ? "When did you start your current company?"
        : "When did you join your current company?";
    }
  }
};
</script>
