<template>
  <form v-on:submit.prevent="next" data-step="3">
    <div class="apply-form">
      <h4>{{translate('Personal Information')}}</h4>
      <h5>{{translate('1 More Step to Complete')}}</h5>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Home Address')}}</label>
          <input
            type="text"
            v-model.trim="address"
            data-description="Address 1"
            :placeholder="translate('Home Address line 1')"
            class="form-control"
            @input="$v.address.$touch()"
            :class="{'parsley-error': $v.address.$error}"
          >
          <div v-for="(rule, index) in $v.address.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.address,rule.type)"
            >{{ getErrotmessage('address',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input
            type="text"
            v-model.trim="address_1"
            data-description="Address 2"
            :placeholder="translate('Home Address line 2')"
            class="form-control"
            @input="$v.address_1.$touch()"
            :class="{'parsley-error': $v.address_1.$error}"
          >
          <div v-for="(rule, index) in $v.address_1.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.address_1,rule.type)"
            >{{ getErrotmessage('address_1',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input
            type="text"
            v-model.trim="address_2"
            data-description="Address 3"
            :placeholder="translate('Home Address line 3')"
            class="form-control"
            @input="$v.address_2.$touch()"
            :class="{'parsley-error': $v.address_2.$error}"
          >
          <div v-for="(rule, index) in $v.address_2.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.address_2,rule.type)"
            >{{ getErrotmessage('address_2',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            type="number"
            v-model.trim="home_postcode"
            data-description="Postcode"
            :placeholder="translate('Postcode')"
            class="form-control"
            @input="$v.home_postcode.$touch()"
            :class="{'parsley-error': $v.home_postcode.$error}"
          >
          <div v-for="(rule, index) in $v.home_postcode.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.home_postcode,rule.type)"
            >{{ getErrotmessage('home_postcode',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            type="text"
            v-model.trim="city"
            data-description="city"
            :placeholder="translate('City')"
            class="form-control"
            @input="$v.city.$touch()"
            :class="{'parsley-error': $v.city.$error}"
          >
          <div v-for="(rule, index) in $v.city.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.city,rule.type)"
            >{{ getErrotmessage('city',rule.type)}}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <select
            v-model.trim="home_state"
            data-description="Office State"
            tabindex="-1"
            class="form-control"
            @input="$v.home_state.$touch()"
            :class="{'parsley-error': $v.home_state.$error}"
          >
            <option value disabled selected>{{translate('State')}}</option>
            <option v-for="(item, index) in easyrhb" v-bind:key="index">{{index}}</option>
          </select>
          <div v-for="(rule, index) in $v.home_state.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.home_state,rule.type)"
            >{{ getErrotmessage('home_state',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('Resident Status')}}</label>
          <ul class="btns-radio btns-radio-switch2 fouroptions">
            <li v-for="(item, index) in residentStatuses" v-bind:key="index">
              <input
                type="radio"
                :id="item.Description"
                v-model="residential_status"
                name="residential_status"
                :value="item.Description"
              >
              <label :for="item.Description">{{translate(item.Description)}}</label>
            </li>
          </ul>
          <div v-for="(rule, index) in $v.residential_status.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.residential_status,rule.type)"
            >{{ getErrotmessage('residential_status',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('When did you move in to your current residence?')}}</label>
        </div>
        <div>
          <div class="col-xs-6">
            <div class="input-group">
              <select
                id="month"
                name="month"
                v-model="month"
                v-model.trim="month"
                data-description="Employment Date Joined Month"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.month.$error}"
              >
                <option value disabled selected>{{translate('Choose one')}}</option>
                <option value="1">{{translate('January')}}</option>
                <option value="2">{{translate('February')}}</option>
                <option value="3">{{translate('March')}}</option>
                <option value="4">April</option>
                <option value="5">{{translate('May')}}</option>
                <option value="6">{{translate('June')}}</option>
                <option value="7">{{translate('July')}}</option>
                <option value="8">{{translate('August')}}</option>
                <option value="9">{{translate('September')}}</option>
                <option value="10">{{translate('October')}}</option>
                <option value="11">November</option>
                <option value="12">{{translate('December')}}</option>
              </select>
              <div id="parsley-id-5814"></div>
              <div class="input-group-addon">{{translate('month')}}</div>
            </div>
            <form-field-error-message v-bind:validationObj="$v.month" validationLabel="This"></form-field-error-message>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <select
                id="residentYear"
                name="year"
                v-model="year"
                data-description="Employment Date Joined Year"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.year.$error}"
              >
                <option value disabled selected>{{translate('Choose one')}}</option>
                <option v-for="(year,index) in listYears" v-bind:key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-0457"></div>
              <div class="input-group-addon">{{translate('year')}}</div>
            </div>
            <form-field-error-message v-bind:validationObj="$v.year" validationLabel="This"></form-field-error-message>
            <div v-for="(rule, index) in $v.residential_start_date.$params" v-bind:key="index">
              <span
                class="color-red"
                v-if="validate($v.residential_start_date,rule.type)"
              >{{ getErrotmessage('residential_start_date',rule.type)}}</span>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top:20px;">
        <button
          type="button"
          v-on:click="next"
          class="slick-next"
          style="display: block;"
          data-step="3"
          data-subject="User"
          data-action="Submit"
          :data-value="productTitle"
          :data-title="productTitle"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
        >{{applyNow}}</button>
        <!-- <button type="button" v-on:click="prev" class="slick-prev slick-disabled" style="display: block;">{{translate('Back')}}</button> -->
      </div>
    </div>
  </form>
</template>

<script>
import {
  creatArrayRange,
  submitToJapp,
  sortObjAscending,
  getProductData
} from "../../helper";
import easyRhbJson from "../../easyrhb.json";
import FormFieldErrorMessage from "../FormFieldErrorMessage.vue";
import { required } from "vuelidate/lib/validators";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    const listOfStates = Object.assign(easyRhbJson, extraState);
    return {
      productTitle: getProductData().title,
      applyNow: this.translate("Next"),
      is_government_servant: "",
      joining_date: "",
      residential_status: "",
      easyrhb: sortObjAscending(listOfStates),
      residentStatuses: [
        {
          Description: "Own Property",
          Code: "01"
        },
        {
          Description: "Company",
          Code: "03"
        },
        {
          Description: "Rented",
          Code: "04"
        },
        {
          Description: "Parents",
          Code: "05"
        }
      ],
      address: "",
      address_1: "",
      address_2: "",
      home_state: "",
      month: "",
      day: "01",
      city: "",
      year: "",
      home_postcode: ""
    };
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.validateStepThree.erroMessagesObj[field][
        type
      ];
    },
    next: function() {
      if (!this.$v.$invalid) {
        this.applyNow = this.translate("Please wait...");
        this.$parent.jappData.address = this.address;
        this.$parent.jappData.address_1 = this.address_1;
        this.$parent.jappData.address_2 = this.address_2;
        this.$parent.jappData.home_postcode = this.home_postcode;
        this.$parent.jappData.city = this.city;
        this.$parent.jappData.home_state = this.home_state;
        this.$parent.jappData.residential_status = this.residential_status;
        this.$parent.jappData.residential_start_date = this.residential_start_date;
        this.$parent.jappData.mailing_address_choice = "Yes";
        IMDevPropBag.add("prequalify_current_step", 4);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        submitToJapp(this.$parent.jappData).then(result => {
          this.applyNow = "Done..";
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      this.$parent.prev();
    }
  },
  validations: function() {
    let addOnValidations = {
      month: {
        required
      },
      year: {
        required
      }
    };
    return Object.assign(
      this.globalValidationObj.validateStepThree.validatorObj,
      addOnValidations
    );
  },
  computed: {
    listYears: function() {
      return creatArrayRange(2000, new Date().getFullYear()).reverse();
    },
    residential_start_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    }
  }
};
</script>
