<template>
  <form v-on:submit.prevent="next" data-step="1">
    <div class="apply-form">
      <h4>{{translate('Basic Information')}}</h4>
      <h5>{{translate('4 More Step to Complete')}}</h5>
      <div class="row selectBranch">
        <div class="form-group col-xs-12">
          <label>{{translate('Please select your nearest Easy Outlet')}}</label>
          <select
            name="branch_state"
            v-on:change="stateListChange()"
            v-model.trim="branch_state"
            @input="$v.branch_state.$touch();$v.Branch.$touch()"
            data-description="Branch State"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.branch_state.$error}"
          >
            <option value disabled selected>{{translate('State')}}</option>
            <option v-for="(item, index) in easyrhb" v-bind:key="index">{{index}}</option>
          </select>
          <div v-for="(rule, index) in $v.branch_state.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.branch_state,rule.type)"
            >{{ getErrotmessage('branch_state',rule.type)}}</span>
          </div>
          <select
            name="Branch"
            v-model.trim="Branch"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.Branch.$error}"
          >
            <option value disabled selected>{{translate('Easy Outlet')}}</option>
            <option
              v-for="(item, index) in BranchList"
              v-bind:key="index"
              :value="item.easyName"
            >{{item.easyName}}</option>
          </select>
          <div v-for="(rule, index) in $v.Branch.$params" v-bind:key="`branch${index}`">
            <span
              class="color-red"
              v-if="validate($v.Branch,rule.type)"
            >{{ getErrotmessage('Branch',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="form-group employed">
        <label>{{translate('Race')}}</label>
        <ul class="btns-radio btns-radio-switch2 fiveoptions">
          <li v-for="(item, index) in races" v-bind:key="index">
            <input
              type="radio"
              :id="item.value"
              name="race"
              v-model="race"
              :value="item.value"
              tabindex="-1"
            >
            <label :for="item.value">{{translate(item.value)}}</label>
          </li>
        </ul>
        <div v-for="(rule, index) in $v.race.$params" v-bind:key="index">
          <span
            class="color-red"
            v-if="validate($v.race,rule.type)"
          >{{ getErrotmessage('race',rule.type)}}</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('Marital Status')}}</label>
          <ul class="btns-radio btns-radio-switch2 fouroptions">
            <li v-for="(item, index) in martialStatuses" v-bind:key="index">
              <input
                type="radio"
                :id="item"
                v-model="marital_status"
                :value="item"
                @change="updateMaritalStatus"
                name="marital_status"
              >
              <label :for="item">{{translate(item)}}</label>
            </li>
          </ul>
          <div v-for="(rule,index) in $v.marital_status.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.marital_status,rule.type)"
            >{{ getErrotmessage('marital_status',rule.type)}}</span>
          </div>
        </div>
      </div>
      <div
        v-if="marital_status === 'Married' || marital_status === 'Divorced' || marital_status === 'Widowed'"
        class="row"
      >
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('No. of Dependent')}}</label>
          <select
            name="dependent"
            v-model.trim="dependent"
            data-description="Dependent"
            tabindex="-1"
            class="form-control"
          >
            <option value disabled selected>{{translate('Choose one')}}</option>
            <option
              v-for="(item, index) in no_of_dependents"
              v-bind:key="index+1"
              :value="index"
            >{{index}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('Education Level')}}</label>
          <ul class="btns-radio btns-radio-switch2 fouroptions edu-level">
            <li v-for="(item, index) in educationlevels" v-bind:key="index">
              <input
                type="radio"
                :id="item"
                v-model="education_level"
                :value="item"
                name="education_level"
              >
              <label :for="item">{{translate(item)}}</label>
            </li>
          </ul>
          <div v-for="(rule,index) in $v.education_level.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.education_level,rule.type)"
            >{{ getErrotmessage('education_level',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{translate('Employment Type')}}</label>
          <ul class="btns-radio btns-radio-switch2 fouroptions">
            <li v-for="(item, index) in employmentTypes" v-bind:key="index">
              <input type="radio" :id="item.value" v-model="employment_type" :value="item.value">
              <label :for="item.value">{{translate(item.value)}}</label>
            </li>
          </ul>
          <div v-for="(rule,index) in $v.employment_type.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.employment_type,rule.type)"
            >{{ getErrotmessage('employment_type',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-xs-12">
          <label>{{translate('IC Number')}}</label>
        </div>
        <div class="form-group col-md-5 col-xs-4">
          <input
            type="text"
            maxlength="6"
            :class="{'parsley-error': $v.identification_no_1.$error}"
            v-model="identification_no_1"
            @input="$v.identification_no_1.$touch()"
            data-description="ID Number 1"
            :placeholder="translate('891023')"
            class="form-control"
          >
          <form-field-error-message
            v-bind:validationObj="$v.identification_no_1"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
        </div>
        <div class="form-group col-md-3 col-xs-3 form-dash">
          <input
            type="text"
            maxlength="2"
            v-model="identification_no_2"
            :class="{'parsley-error': $v.identification_no_2.$error}"
            @input="$v.identification_no_2.$touch()"
            data-description="ID Number 2"
            :placeholder="translate('56')"
            class="form-control"
          >
          <form-field-error-message
            v-bind:validationObj="$v.identification_no_2"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
        </div>
        <div class="form-group col-md-4 col-xs-4 form-dash">
          <input
            type="text"
            maxlength="4"
            v-model="identification_no_3"
            :class="{'parsley-error': $v.identification_no_3.$error}"
            @input="$v.identification_no_3.$touch()"
            data-description="ID Number 3"
            :placeholder="translate('5310')"
            class="form-control"
          >
          <form-field-error-message
            v-bind:validationObj="$v.identification_no_3"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
        </div>
        <!-- <div class="col-md-12 col-xs-12">
          <div v-for="(rule, index) in $v.identification_no.$params" v-bind:key="index">
            <span class="color-red" v-if="validate($v.identification_no,rule.type)">
            {{ getErrotmessage('identification_no',rule.type)}}
            </span>
          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <button
            type="submit"
            class="slick-next"
            style="display: block;"
            data-step="1"
            data-subject="User"
            data-action="Submit"
            :data-value="productTitle"
            :data-title="productTitle"
            data-description="Pre-Qualify Apply Form"
            data-vertical="Personal Loan"
            :disabled="applyNow != translate('Next')"
          >{{applyNow}}</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { submitToJapp, getProductData } from "../../helper";
import easyRhbJson from "../../easyrhb.json";
import FormFieldErrorMessage from "../FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    return {
      productTitle: getProductData().title,
      applyNow: this.translate("Next"),
      marital_status: "",
      education_level: "",
      employment_type: "",
      employment_status: "",
      identification_no_1: "",
      identification_no_2: "",
      identification_no_3: "",
      easyrhb: easyRhbJson,
      branch_state: "",
      BranchList: [],
      Branch: "",
      dependent: "",
      no_of_dependents: 8,
      race: "",
      educationlevels: [
        "Primary/Secondary",
        "Diploma",
        "Degree",
        "Masters/PhD"
      ],
      races: [
        { code: "01", value: "Chinese" },
        { code: "02", value: "Bumi - Malay" },
        { code: "03", value: "Bumi - non-Malay" },
        { code: "04", value: "Indian" },
        { code: "05", value: "Others" }
      ],
      martialStatuses: ["Single", "Married", "Divorced", "Widowed"],
      employmentTypes: [
        {
          code: "111",
          value: "Self-employed"
        },
        {
          code: "112",
          value: "Employee - Government"
        },
        {
          code: "113",
          value: "Employee - Private/Semi-gov"
        }
      ]
    };
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    stateListChange: function() {
      this.BranchList = easyRhbJson[this.branch_state].outlets;
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    next: function() {
      if (!this.$v.$invalid) {
        this.applyNow = this.translate("Please wait...");
        this.$parent.jappData.date_of_birth = this.date_of_birth;
        this.$parent.jappData.race = this.race;
        this.$parent.jappData.gender = this.gender;
        this.$parent.jappData.salutation = this.salutation;
        this.$parent.jappData.identification_no = this.identification_no;
        this.$parent.jappData.marital_status = this.marital_status;
        this.$parent.jappData.dependent = this.dependent.toString() || "0"; // make sure it is string type
        this.$parent.jappData.education_level = this.education_level;
        this.$parent.jappData.employment_type = this.employment_type;
        this.$parent.jappData.employment_status = this.employment_status_check;
        this.$parent.jappData.identification_type = "New NRIC";

        // this.$parent.jappData.branch_state = this.checkBranchStateNo;
        this.$parent.jappData.branch_state = this.branch_state;
        this.$parent.jappData.Branch = this.Branch;

        IMDevPropBag.add("prequalify_current_step", 2);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        submitToJapp(this.$parent.jappData).then(result => {
          this.applyNow = "Done..";
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      this.$parent.prev();
    },
    updateMaritalStatus() {
      if (this.marital_status == "Single") this.dependent = 0;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.validateStepOne.erroMessagesObj[field][
        type
      ];
    }
  },
  validations: function() {
    let addOnValidations = {
      identification_no_1: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(6),
        regex: regex("regex", /^[0-9]+$/)
      },
      identification_no_2: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(2),
        regex: regex("regex", /^[0-9]+$/)
      },
      identification_no_3: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4),
        regex: regex("regex", /^[0-9]+$/)
      }
    };
    return Object.assign(
      this.globalValidationObj.validateStepOne.validatorObj,
      addOnValidations
    );
  },
  computed: {
    identification_no: function() {
      return (
        this.identification_no_1 +
        this.identification_no_2 +
        this.identification_no_3
      );
    },
    employment_status_check: function() {
      return this.employment_type === "Self-employed"
        ? "Self Employment"
        : "Salary";
      // if (this.employment_type === "111") {
      //   this.employment_status = "Self Employment";
      //   return this.employment_status;
      // } else if (this.employment_type === "112") {
      //   this.employment_status = "Salary";
      //   return this.employment_status;
      // } else if (this.employment_type === "113") {
      //   this.employment_status = "Salary";
      //   return this.employment_status
      // }
    },
    gender: function() {
      if (this.identification_no_3.substr(3)) {
        return this.identification_no_3.substr(3) % 2 ? "Male" : "Female";
      }
      return "";
    },
    salutation: function() {
      if (this.identification_no_3.substr(3)) {
        return this.identification_no_3.substr(3) % 2 ? "Mr" : "Ms";
      }
      return "";
    },
    date_of_birth: function() {
      if (
        this.identification_no_1.substr(0, 2) &&
        this.identification_no_1.substr(0, 2) &&
        this.identification_no_1.substr(4, 2)
      ) {
        var year = this.identification_no_1.substr(0, 2);
        year =
          year > 30 ? parseInt(year, 10) + 1900 : parseInt(year, 10) + 2000;
        var month = this.identification_no_1.substr(2, 2);
        var day = this.identification_no_1.substr(4, 2);
        return year + "-" + month + "-" + day;
      }
      return "";
    },
    checkBranchStateNo: function() {
      let branchState = easyRhbJson[this.branch_state].key;
      // let branchState = parseInt(this.branch_state);
      if (branchState >= 0 && branchState < 10) {
        return `0${branchState}`;
      } else {
        return branchState;
      }
    }
  }
};
</script>

