<template>
  <form v-on:submit.prevent="submitFinal" data-step="4">
    <div class="apply-form">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label>{{translate('Purpose of Loan?')}}</label>
          <select
            name="loan_purpose"
            v-model.trim="loan_purpose"
            data-description="Purpose"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.loan_purpose.$error}"
          >
            <option value disabled selected>{{translate('Choose one')}}</option>
            <option
              v-for="(item, index) in purposeOfLoan"
              v-bind:key="index"
              :value="item.Description"
            >{{translate(item.Description)}}</option>
          </select>
          <div v-for="(rule, index) in $v.loan_purpose.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.loan_purpose,rule.type)"
            >{{ getErrotmessage('loan_purpose',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Mother Maiden\'s Name')}}</label>
          <input
            type="text"
            v-model.trim="mother_maiden_name"
            name="mother_maiden_name"
            data-description="Mother Maiden Name"
            @input="$v.mother_maiden_name.$touch()"
            :placeholder="translate('Mother Maiden\'s Name')"
            class="form-control"
            :class="{'parsley-error': $v.mother_maiden_name.$error}"
          >
          <div v-for="(rule, index) in $v.mother_maiden_name.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.mother_maiden_name,rule.type)"
            >{{ getErrotmessage('mother_maiden_name',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Emergency Contact Name')}}</label>
          <input
            type="text"
            v-model.trim="emergency_contact_name"
            name="emergency_contact_name"
            data-description="Emergency Contact Name"
            @input="$v.emergency_contact_name.$touch()"
            :placeholder="translate('Emergency Contact Name')"
            class="form-control"
            :class="{'parsley-error': $v.emergency_contact_name.$error}"
          >
          <div v-for="(rule, index) in $v.emergency_contact_name.$params" v-bind:key="index">
            <span
              class="color-red"
              v-if="validate($v.emergency_contact_name,rule.type)"
            >{{ getErrotmessage('emergency_contact_name',rule.type)}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{translate('Emergency Contact Phone Number')}}</label>
        </div>
        <div class="form-group col-xs-3">
          <input
            type="text"
            v-model="country_code"
            :placeholder="translate('019')"
            maxlength="3"
            class="form-control"
            @input="$v.country_code.$touch()"
            :class="{'parsley-error': $v.country_code.$error}"
          >
          <form-field-error-message
            v-bind:validationObj="$v.country_code"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
        </div>
        <div class="form-group col-xs-9 form-dash">
          <input
            type="text"
            v-model.trim="phone_number"
            data-description="Emergency Contact Phone Number"
            placeholder="3456789"
            class="form-control"
            @input="$v.phone_number.$touch()"
            :class="{'parsley-error': $v.phone_number.$error}"
            maxlength="8"
          >
          <form-field-error-message
            v-bind:validationObj="$v.phone_number"
            validationLabel="This"
            regexErrorMsg=" only allows number"
          ></form-field-error-message>
          <!-- <div v-for="(rule, index) in $v.emergency_contact_phone_number.$params" v-bind:key="index">
              <span class="color-red" v-if="validate($v.emergency_contact_phone_number,rule.type)">
                  {{ getErrotmessage('emergency_contact_phone_number',rule.type)}}
              </span>
          </div>-->
        </div>
      </div>
      <div class="form-group">
        <label>{{translate('Relationship with Emergency Contact')}}</label>
        <ul class="btns-radio btns-radio-switch2 fiveoptions">
          <li v-for="(item, index) in relationships" v-bind:key="index">
            <input
              type="radio"
              :id="item.Description"
              v-model="emergency_relationship"
              :value="item.Description"
              tabindex="-1"
            >
            <label :for="item.Description">{{translate(item.Description)}}</label>
          </li>
        </ul>
        <div v-for="(rule, index) in $v.emergency_relationship.$params" v-bind:key="index">
          <span
            class="color-red"
            v-if="validate($v.emergency_relationship,rule.type)"
          >{{ getErrotmessage('emergency_relationship',rule.type)}}</span>
        </div>
      </div>

      <div class="form-group a-center" style="margin-top:20px;">
        <div class="col-md-12 col-xs-12">
          <button
            id="prequalify-btn"
            :disabled="Submit != translate('Submit')"
            type="submit"
            tabindex="-1"
            data-subject="User"
            data-action="Submit"
            data-description="Pre-Qualify Apply Form"
            data-region="Product Apply Popup"
            data-vertical="Personal Loan"
            class="btn btn-lg btn-apply-complement"
            :data-value="productTitle"
            data-step="4"
            :data-title="productTitle"
          >{{Submit}}</button>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <!-- <button type="button" v-on:click="prev" class="slick-prev slick-disabled" style="display: block;">{{translate('Back')}}</button> -->
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { submitToJapp, getProductData } from "../../helper";
import easyRhbJson from "../../easyrhb.json";
import FormFieldErrorMessage from "../FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    return {
      productTitle: getProductData().title,
      Submit: this.translate("Submit"),
      relationships: [
        { Code: "16", Description: "Others" },
        { Code: "12", Description: "Children" },
        { Code: "13", Description: "Parents" },
        { Code: "11", Description: "Spouse" },
        { Code: "14", Description: "Siblings" }
      ],
      purposeOfLoan: [
        { Description: "Booking Fee - Car", Code: "CR" },
        { Description: "Debt Consolidation", Code: "DC" },
        { Description: "Education", Code: "ED" },
        { Description: "Electrical Goods", Code: "EG" },
        { Description: "FRS Application", Code: "FR" },
        { Description: "Home Furnishing/Equipment", Code: "HF" },
        { Description: "Medical Expenses", Code: "MD" },
        { Description: "Personal Refinancing", Code: "PR" },
        { Description: "Property/House Downpayment", Code: "PS" },
        { Description: "Renovation", Code: "RN" },
        { Description: "Travel", Code: "TR" },
        { Description: "Wedding", Code: "WD" }
      ],
      loan_purpose: "",
      country_code: "",
      mother_maiden_name: "",
      emergency_contact_name: "",
      emergency_contact_phone_number: "",
      emergency_relationship: "",
      statement_location: "Home",
      phone_number: ""
    };
  },
  computed: {
    isEmployed: function() {
      return this.$parent.jappData.employment_type != "Unemployed";
    }
  },
  methods: {
    translate: function(value) {
      return translate(value);
    },
    prev: function() {
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      return this.globalValidationObj.validateStepFour.erroMessagesObj[field][
        type
      ];
    },
    submitFinal: function() {
      this.emergency_contact_phone_number =
        this.country_code && this.phone_number
          ? this.country_code + this.phone_number
          : "";

      if (!this.$v.$invalid) {
        IMDevPropBag.add("prequalify_current_step", 5);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "complete");
        this.Submit = this.translate("Submitting...");
        this.$parent.jappData.loan_purpose = this.loan_purpose;

        this.$parent.jappData.mother_maiden_name = this.mother_maiden_name;
        this.$parent.jappData.emergency_contact_name = this.emergency_contact_name;
        this.$parent.jappData.emergency_contact_phone_number = this.emergency_contact_phone_number;
        this.$parent.jappData.emergency_relationship = this.emergency_relationship;

        this.$parent.jappData.statement_location = this.statement_location;

        if (this.statement_location == "1" || !this.isEmployed) {
          this.$parent.jappData.permanent_address_1 = this.$parent.jappData.address;
          this.$parent.jappData.permanent_address_2 = this.$parent.jappData.address_1;
          this.$parent.jappData.permanent_address_3 = this.$parent.jappData.address_2;
          this.$parent.jappData.permanent_city = this.$parent.jappData.city;
          this.$parent.jappData.state = this.$parent.jappData.home_state;
          this.$parent.jappData.postcode = this.$parent.jappData.home_postcode;
        } else {
          this.$parent.jappData.permanent_address_1 = this.$parent.jappData.office_address;
          this.$parent.jappData.permanent_address_2 = this.$parent.jappData.office_address_1;
          this.$parent.jappData.permanent_address_3 = this.$parent.jappData.office_address_2;
          this.$parent.jappData.permanent_city = this.$parent.jappData.office_city;
          this.$parent.jappData.state = this.$parent.jappData.office_state;
          this.$parent.jappData.postcode = this.$parent.jappData.office_postcode;
        }

        this.triggerEvent(
          region.toUpperCase() +
            "-" +
            lang.toUpperCase() +
            "-PL-" +
            "SQCOMPLETED",
          {
            step: this.$parent.currentSlide,
            userInformation: this.$parent.jappData
          }
        );
        submitToJapp(this.$parent.jappData).then(result => {
          this.Submit = this.translate("Submitted");
          window.location.href = thank_you + "?prequalify";
        });
      }
      return this.$v.$touch();
    }
  },
  validations: function() {
    let addOnValidations = {
      country_code: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(4),
        regex: regex("regex", /^[0-9]+$/)
      },
      phone_number: {
        required,
        minLength: minLength(7),
        maxLength: maxLength(8),
        regex: regex("regex", /^[0-9]+$/)
      }
    };
    return Object.assign(
      this.globalValidationObj.validateStepFour.validatorObj,
      addOnValidations
    );
  }
};
</script>
