extends ../../dev/jade/base.jade

block css
	link(rel='stylesheet', href='/v4/css/base-critical.css')
	link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&text=START%20HERE!', rel='stylesheet', type='text/css')
meta(name='robots', content='noindex, follow')
append head-script
	script.
		var googletag = googletag || {};
		googletag.cmd = googletag.cmd || [];
		(function() {
			var gads = document.createElement('script');
			gads.async = true;
			gads.type = 'text/javascript';
			var useSSL = 'https:' == document.location.protocol;
			gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
			var node = document.getElementsByTagName('script')[0];
			node.parentNode.insertBefore(gads, node);
		})();

		googletag.cmd.push(function() {
			googletag.defineSlot('/422122608/V4_Flexible_Tri_Panel_1', [350, 414], 'div-gpt-ad-1448186326768-0').addService(googletag.pubads());
			googletag.pubads().enableSingleRequest();
			googletag.pubads().collapseEmptyDivs();
			googletag.pubads().setTargeting('Region', "id").setTargeting('Category', 'thank-you').setTargeting('Path', "/kredit-tanpa-agunan/terima-kasih");
			googletag.enableServices();
		});

		iAJSLoader.init([
			[
				"//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
				"//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js",
				"//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
			],
			[
				"/v4/js/base.min.js",
				"/v4/js/product-thank-you.min.js"
			]
		]);

		

block content

	if(region == "id")
		include ../../bower_components/imoney-assets/dev/templates/id/id/mb-navigation-v2.html

	div.inner-wrap

		//- PL PRODUCT PAGE INCLUDES
		include ../../bower_components/imoney-assets/dev/templates/id/id/topbar-v2.html
		include ../../bower_components/imoney-assets/dev/templates/id/id/navigation-v2.html


		.thank-you__body
			.container
				.thank-you__top
					.circle-container
						.envelope-container
							.envelope-wrap
								.letter-container
									.letter
								.envelope-open
								.envelope-close
								.envelope-front
								.envelope
							.tick-icon
					h1.thank-you__header #{language.translate('Thanks for applying personal loan with us!')}
					p.thank-you__desc Berhubung dengan kondisi sekarang (COVID-19), kami menerima jumlah permohonan yang tinggi dan beroperasi dengan jumlah staf yang berkurang. Representatif AturDuit kami akan berusaha menghubungi Anda di waktu yang memungkinkan untuk membantu aplikasi Anda. 
					p.thank-you__desc Jika Anda terdesak dana dan butuh dana bantuan dalam waktu singkat sekarang juga. Anda dapat mengajukannya secara langsung di link 	
						a(href="https://play.google.com/store/apps/details?id=com.stanfordtek.pinjamduit&referrer=utm_source%3D114") Pinjam Duit 
						| berikut



				.thank-you__bottom
					h4.mean-time #{language.translate('In the mean time, read some of our money saving tips')}
					.row
						.col-md-4
							.related.latest(data-rss='http://www.'+siteName+'/articles/feed/')
								.related-title #{language.translate('Latest Articles')}
								.preloader
						.col-md-4
							.related.cards(data-rss=rssurl)
								.related-title #{language.translate('Money Management')}
								.preloader
						//.col-md-4
						//	.related.broadband
						//		img.bb-teaser-mb(src='/img/credit-card/broadband-teaser.jpg')
						//		a.btn.btn-lg.btn-complement.btn-complement--gradient(href='/broadband/search') Try Broadband Smartsearch
						.col-md-4
							#div-gpt-ad-1448186326768-0
								script(type='text/javascript').
									googletag.cmd.push(function() {
										googletag.display('div-gpt-ad-1448186326768-0');
									});
									

		//- //- include ../dev/jade/footer.jade
		//- if(region == "my")
		//- 	include ../bower_components/imoney-assets/dev/templates/my/footer.html



		include ../../bower_components/imoney-assets/dev/templates/id/id/footer.html

	link(rel='stylesheet', href='/jayhan/page-thankyou.css')



block footer-script

	<!--[if lte IE 9]>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="/js/base.min.js"></script>
	<script src="//cdn.optimizely.com/js/2356000143.js"></script>
	<![endif]-->